---
layout: null
title: "Picsew Navigator"
description: "A web sites navigation page."
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include layout_head.html %}
  <link rel='stylesheet' href='./bootstrap_4.1.1.css'>
  <link rel='stylesheet' href='{{ site.url }}/assets/css/font-awesome.min.css'>
  <link rel="stylesheet" href="./master.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="{{ site.url }}">{{ site.name }}</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="{{ site.url }}/assets/images/avatar/avatar_color.png" alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">{{ site.author }}</span>
            <span class="user-role">Administrator</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
          </div>
        </div>
        <!-- sidebar-header  -->

        <!-- <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->

        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            {% for section in site.data.navigator %}
            <li class="header-menu">
              <span>{{ section.title }}</span>
            </li>

              {% if section.categories.size > 1 %}

                {% for category in section.categories %}
                <li class="sidebar-dropdown">
                  <a href="#{{ section.title }}_{{ category.title }}_{{ category.collections.first.title }}">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>{{ category.title }}</span>
                    <span class="badge badge-pill badge-warning">{{ category.collections.size }}</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      {% for collection in category.collections %}
                      <li>
                        <a href="#{{ section.title }}_{{ category.title }}_{{ collection.title }}">{{ collection.title }}<span class="badge badge-pill badge-warning">{{ collection.links.size }}</span></a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
                {% endfor %}

              {% else %}

                {% for category in section.categories %}
                <li>
                  <a href="#{{ section.title }}_{{ category.title }}">
                    <i class="fa fa-book"></i>
                    <span>{{ category.title }}</span>
                  </a>
                </li>
                {% endfor %}

              {% endif %}

            {% endfor %}

          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->

      <!-- <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div> -->

    </nav>
    <!-- sidebar-wrapper  -->
    <!-- page-content -->
    <main class="page-content">
      <div class="container">
        <h2>{{ page.title }}</h2>
        <hr>
        <div class="row">
          <div class="form-group col-md-12">

            {% for section in site.data.navigator %}
              {% for category in section.categories %}
                {% for collection in category.collections %}
            <!-- section -->
            <div class="icons-grid-list" id="{{ section.title }}_{{ category.title }}_{{ collection.title }}">
              <h3 class="icons-section-title">{{ collection.title }}</h3>
              <div class="grid" style="word-break: break-all;">
                {% for link in collection.links %}
                <div class="cell">
                  <figure class="icon">
                    <div class="icon-image-container">
                      <img class="icon-image" src="./icons/{% if link.image.size > 0 %}{{ link.image }}{% else %}general{% endif %}.png" alt="icon">
                    </div>
                    <figcaption>
                      <div class="icon-title-container">
                        <p toc-skip="true" class="icon-title">{{ link.title }}</p>
                      </div>
                    </figcaption>
                    <a class="icon-link" href="{{ link.url }}"></a>
                  </figure>
                </div>
                {% endfor %}
              </div>
            </div>
          <!-- section -->
              {% endfor %}
            {% endfor %}
          {% endfor %}

          </div>
        </div>

        <hr>
        <footer class="text-center">
          <div class="mb-2"><small>© 2020 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank" rel="noopener noreferrer" href="{{ site.url }}"> {{ site.author }}</a></small></div>

          <div>
            <a href="https://github.com/PicsewArt" target="_blank">
              <img alt="GitHub followers" src="https://img.shields.io/github/followers/PicsewArt?label=github&style=social" />
            </a>
            <!-- <a href="https://twitter.com/Picsew" target="_blank">
            <img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/Picsew?label=twitter&style=social" />
          </a> -->
          </div>
        </footer>

      </div>

    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <!-- partial -->
  <script src='./jquery_3.3.1.js'></script>
  <script src='./popper.js_1.14.3.js'></script>
  <script src='./bootstrap_4.1.1.js'></script>
  <script type="text/javascript">
    $(".sidebar-dropdown > a").click(function() {
      $(".sidebar-submenu").slideUp(200);
      if (
        $(this)
          .parent()
          .hasClass("active")
      ) {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .parent()
          .removeClass("active");
      } else {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .next(".sidebar-submenu")
          .slideDown(200);
        $(this)
          .parent()
          .addClass("active");
      }
    });

    $("#close-sidebar").click(function() {
      $(".page-wrapper").removeClass("toggled");
    });
    $("#show-sidebar").click(function() {
      $(".page-wrapper").addClass("toggled");
    });
  </script>

</body>

</html>
