---
layout: default
active_title: 'Home'
has_about: false
prelink_js: []
prelink_css: ['/assets/gallery/sourcecode/css/blueimp-gallery.min.css', '/assets/gallery/sourcecode/css/blueimp-exception.css']
afterlink_js: ['/assets/gallery/sourcecode/js/blueimp-gallery.min.js', '/assets/gallery/sourcecode/js/blueimp-binding.js']
afterlink_css: []
preload_js: []
preload_css: []
afterload_js: ['bindGalleryEventById("grid-list-srecent-meida-g1");']
afterload_css: []
on_load:
  call: ""
  def: ''
limit: 6
cols: 3
posts_style: 'scroll'
---
	{% assign recent_posts = '' | split: '/' %}
	{% for post in site.posts limit: page.limit %}
		{% assign recent_posts = recent_posts | push: post %}
	{% endfor %}
  {% if page.posts_style == 'scroll' %}
    {% include grid_image_overlay_simple_scroll_posts_list.html sectionid="recent-posts" list=recent_posts cols=page.cols title='Recent Posts' title_url="/posts/index.html" desc='Writing on various topics including travel, finance and technology.' readmore_title="Read More" readmore='/posts/index.html' %}
  {% elsif page.posts_style == 'detailed' %}
  	{% include grid_card_post_detailed_posts_list.html sectionid="recent-posts" list=recent_posts cols=page.cols title='Recent Posts' title_url="/posts/index.html" desc='Writing on various topics including travel, finance and technology.' readmore_title="Read More" readmore='/posts/index.html' %}
  {% endif %}

	<!-- SEPARATOR -->
  {% assign all_pics = '' | split: '/' %}
  {% for album in site.gallery %}
    {% for pic in album.media %}
      {% assign all_pics = all_pics | push: pic %}
    {% endfor %}
  {% endfor %}
  {% assign all_pics_sorted = all_pics | sort: 'date' | reverse %}

	{% assign recent_media = '' | split: '/' %}
  {% for item in all_pics_sorted limit: page.limit %}
		{% assign this_item = '' | split: '/' %}

		{% comment %}{% assign media_url = site.url | append: '/gallery/detail/?album=' | append: page.unique | append: '&idx=' | append: forloop.index | append: "&type=" | append: item.type %}{% endcomment %}

		{% capture this_media_url %}{% include gallery_media_url.html item=item %}{% endcapture %}
		{% capture this_thumbnail_url %}{% include gallery_media_thumbnail_url.html item=item %}{% endcapture %}

    {% assign date_formatted = item.date | date: "%b %d, %Y" %}
    {% assign this_item = this_item | push: date_formatted %}
		{% assign this_item = this_item | push: item.url %}
    {% assign this_item = this_item | push: this_thumbnail_url %}
    {% assign this_item = this_item | push: this_media_url %}
    {% assign this_item = this_item | push: item.type %}
		{% assign this_item = this_item | push: item.format %}

		{% assign recent_media = recent_media | push: this_item %}
	{% endfor %}
	{% assign recent_media_container = '' | split: '/' %}
	{% assign recent_media_container = recent_media_container | push: recent_media %}

  {% include grid_image_overlay_camera_list.html sectionid="recent-meida" list=recent_media_container cols=page.cols title='Recent Media' title_url="/gallery/index.html" desc='Passionate about photography and enjoy taking pictures all around the world.' readmore_title="View More" readmore='/gallery/index.html' %}
	{% include gallery_lightbox.html %}
