/* v2.0新版本的设定 */
body{background:url("https://./images/home_rp.png") repeat-x top #fff;}

.com_css_outer{ _margin-left:980px; _zoom:1;}
.com_css_inner{ _position:relative; _float:left; _margin-left:-980px;}
.com_css_wrapper{ min-width:980px; border:0 solid #000; _zoom:1; background: url("https://./images/home_bg.png") no-repeat top center; min-height: 500px; _height: 500px;}
.com_css_wrapper{background: none;}
.com_css_page_width{width: 980px; margin: 0 auto;}

.com_v2_fl{float: left;display: inline;}
.com_v2_fr{float: right;display: inline;}
.com_v2_bg{background-image: url("https://./images/data_guider_bg.png"); background-repeat: no-repeat;}
.com_v2_page_width{width: 980px; margin-left:auto;margin-right: auto;}
.com_v2_top2{height: 100px; background-color: #fff; width: 100%;}
.com_v2_logo a,
.com_v2_logo{width: 80px; height: 75px;float: left;display: inline;}
.com_v2_logo a{overflow:hidden;text-indent: -999em;}
.com_v2_logo{background-position: -23px -27px;margin: 12px 0 0 20px;}
.com_v2_core h3,
.com_v2_core{float: left;display: inline; width: 262px; height: 45px;}
.com_v2_core{ background-position: -7px -111px;margin: 27px 0 0 46px;}
.com_v2_core h3{overflow: hidden;text-indent: -999em;}
.com_v2_search{float: right; display: inline; width: 440px; height: 38px; background-color: #40220f; margin: 28px 0 0 0; padding: 3px; _overflow-y:hidden;}
.com_v2_search .text,
.com_v2_search .button{margin: 0;padding: 0; border: 0;float: left;display: inline;height: 38px; line-height: 38px; font-size: 14px;font-weight: bold;}
.com_v2_search .text{width: 360px; color: #999; padding-left: 10px; background-color: #fff; border-radius: 0;line-height: 38px;}
.com_v2_search #search_text.on{color: #333;}
.com_v2_search .button{width: 70px;background-color: #67C3EF; text-align: center; color: #fff;}

/* S-导航 */
.com_v2_nav{height: 60px; background-color:#0199dc; width: 100%;}
.com_v2_nav .nav{height: 60px; margin: 0;}
.com_v2_nav .nav li,
.com_v2_nav .nav .item{float: left;height: 60px; display: inline;}
.com_v2_nav .nav li{position: relative;z-index: 99;}
.com_v2_nav .nav .item{width:auto;text-align: center; line-height: 60px; font-size: 14px; color: #fff; padding:0 12px;}
.com_v2_nav .nav li.cur .item{background-color: #ff8300;}
.com_v2_nav .nav .item:hover,
.com_v2_nav .nav li.on{background-color: #ffaa01;}
.com_v2_nav .nav li a.green{ background-color:#87c80c;}
.com_v2_nav .nav li i{float: left;display: inline;margin: 17px 6px 0px 0px;height: 25px;}
.com_v2_nav .nav li .logo{width: 26px; background-position: 0 0;}
.com_v2_nav .nav li .user{width: 26px; background-position: 0 -36px; margin-right: 2px;}
.com_v2_nav .nav li .s{height: 25px; line-height: 25px; float: left;margin: 17px 0px 0px 0px;}
.com_v2_nav .nav li a.green:hover{background-color: #87c80c;}
.com_v2_nav .nav li a.green.cur{ background-color:#ffaa01;}
.com_v2_nav .nav li.right{float: right;}
.com_v2_nav .nav li.right .item{}
.com_v2_nav .nav li.right .item:hover{background-color: transparent;}
.com_v2_nav .nav .sub_nav{position: absolute; background-color: #a2142c; width: 120px; left: 0; top:45px; padding: 0; display: none;}
.com_v2_nav .nav .sub_nav li,
.com_v2_nav .nav .sub_nav a{height: 40px; line-height: 40px; width: 100%;text-align: center;}
.com_v2_nav .nav .sub_nav a{float: left; font-size: 16px; color: #fff;}
.com_v2_nav .nav .sub_nav a:hover{background-color: #7f0a1e;}
.com_v2_article_list{border: 1px solid #cecece; margin-top: 10px;}
.com_v2_article_list .category{height: 42px; background-color: #f5f2f0; border-bottom: 1px solid #cecece; margin-bottom: 0px;}
.com_v2_category li,
.com_v2_category li .item{float: left; display: inline; height: 42px;line-height: 42px;}
.com_v2_category li{margin: 0 16px 0 0;}
.com_v2_category li .item{padding: 0 18px; font-size: 14px; color: #333;}
.com_v2_category li.cur .item,
.com_v2_category li .item:hover{background-color: #f6f6f6;}
.com_v2_category li.cur{border-left: 1px solid #ccc; border-right: 1px solid #ccc;font-weight: bold;}
/* E-导航 */

.com_v2_mt20{margin-top: 20px;}
.com_v2_mb20{margin-bottom: 20px;}
.com_v2_pt20{padding-top: 20px;}
.com_v2_pb20{padding-bottom: 20px;}
.com_v2_mt10{margin-top: 10px;}
.com_v2_mb10{margin-bottom: 10px;}
.com_v2_pb10{padding-bottom: 10px;}
.com_v2_pt10{padding-top: 10px;}
.com_v2_text_center{text-align: center !important;}
.com_v2_fixed_bottom{position: fixed;right: 10px; bottom: 10px; _position: absolute; border: 1px solid #ccc; width:62px; border-bottom: 0;}
.com_v2_fixed_bottom li{border-bottom: 1px solid #ccc; height: 62px;text-align: center;}
.com_v2_fixed_bottom li a{float: left; height: 62px; width:100%; display: inline-block; background-color: #f6f6f6; color: #333;}
.com_v2_fixed_bottom li a:hover{background-color: #999; color: #fff;}
.com_v2_fixed_bottom li .s{height: 20px; line-height: 20px;padding: 4px 0; font-size: 12px; float: left;width: 100%;}
.com_v2_fixed_bottom li .b{height: 34px;width: 100%; padding: 0;}
.com_v2_fixed_bottom li.up .b{ background-position: 20px -176px;}
.com_v2_fixed_bottom li.up a:hover .b{ background-position: 20px -224px;}
.com_v2_box_shadow{box-shadow: 0 1px 2px #999;}
.com_v2_menu_nav{border: 1px solid #cccccc;}
.com_v2_menu_nav .m_nav{border-bottom: 1px solid #cccccc; height: 41px;background-color: #f5f2f0; padding: 0 0 0 20px;}
.com_v2_menu_nav .m_nav li,
.com_v2_menu_nav .m_nav li a{float: left;display: inline;height: 42px;line-height: 42px; font-size: 14px; color: #999;}
.com_v2_menu_nav .m_nav li a{padding: 0 15px;}
.com_v2_menu_nav .m_nav li.cur a{background-color: #fff; color: #333; font-weight: bold; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.com_v2_menu_nav .m_nav li{margin-left: 0;}
.com_v2_menu_nav .m_nav li.add{float: right;}
.com_v2_menu_nav .m_nav li.add a{color: #faa123; font-weight: bold;}
.com_v2_menu_nav .m_nav li.add a span{ font-size: 14px; font-family: arial;}
.com_v2_menu_content{padding: 22px 2px 6px 20px; *padding-bottom: 20px;}
.com_v2_menu_content li,
.com_v2_menu_content li a{float: left;display: inline;}
.com_v2_menu_content li{margin: 0 12px 8px 0;}
.com_v2_menu_content li a{border: 1px solid #cecece; color: #999;height: 28px; line-height: 28px; padding: 0 10px;}
.com_v2_menu_content li.cur a,
.com_v2_menu_content li a:hover{background-color: #f5f5f5; color: #333;}
.com_v2_post_list{}
.com_v2_post_list .post{position: relative; border-bottom:1px dotted #ccc; zoom:1; padding: 13px 0 4px 45px;}
.com_v2_post_list .post_content{line-height: 20px;}
.com_v2_post_list .post_body{padding-left: 10px;}
.com_v2_post_list .avatar{position: absolute;left: 0; top:18px;overflow: hidden;}
.com_v2_post_list .avatar img{ border-radius: 5px;}
.com_v2_post_list .avatar,
.com_v2_post_list .avatar img{width: 40px; height: 40px;}
.com_v2_post_list .post_header{line-height: 24px; padding: 0 0 2px 0; position: relative;}
.com_v2_post_list .post_header .publisher{padding-right: 10px; font-weight: 600; color:#0454a7; cursor: pointer;}
.com_v2_post_list .post_header .time{ color:#999; margin-left: 6px;}
.com_v2_post_list .post_message{padding: 0 0 3px 0;}
.com_v2_post_list .post_footer{overflow: hidden; height: 24px; line-height:24px; width: 100%;}
.com_v2_post_list .post_footer .s{cursor: pointer; color: #0454a7; padding-right: 20px;}
.com_v2_post_list .post_footer .s.disable{cursor: default; color: #808080;}
.com_v2_post_list .post_footer .s em{font-weight: normal; color: #F89406; font-style: normal;}
.com_v2_show_images{text-align: center;}
.com_v2_show_images img{ max-height: 500px;}
.com_v2_pay_box{border: 1px dotted #F89406; padding: 8px 12px; margin: 10px auto; zoom:1;}
.com_v2_pay_box .desc_r{float: left; display: inline; padding: 0 30px 0 0; line-height: 22px;}

/* Home page */
.home_wrap{padding: 40px 0 20px; min-height: 500px; _height: 500px;}
.home_wrap .left_side{float: left;display: inline; width: 810px;}
.play_box1{width: 100%; height:235px; position: relative; overflow: hidden;}
.play_box1 ul.bigImages{}
.play_box1 ul.bigImages li{display:none; width: 100%; height: 235px; overflow: hidden;}
.play_box1 ul.bigImages li img{width:100%; height: 235px;}
.play_box1 ul.bigImages li.cur{display: block;}
.play_box1 ul.smallThu{position: absolute; right: 0; bottom: 10px; padding: 0 20px 0 0;}
.play_box1 ul.smallThu li{float: left;display: inline; margin: 0 0 0 10px; width: 20px; height: 20px; line-height: 20px; font-family: 'arial unicode ms'; color: #fff; background-color: #999; text-align: center;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px; font-size: 10px; cursor: pointer; font-weight: bold;}
.play_box1 ul.smallThu li.cur{background-color: #e4393c;}
.home_wrap .right_side{float: right;display: inline; width: 160px;}

.fun_list1{padding: 0;}
.fun_list1 .user_iden{padding: 0;}
.fun_list1 .user_iden li{padding: 7px 0 8px;}
.fun_list1 li{height:30px; display: block; float: left;display: inline; width:100%;}
.fun_list1 li,
.fun_list1 li a{color: #fff; font-family: arial; font-size: 14px; font-weight: bold;}
.fun_list1 li.f1{background-color:#e84c3d; border-bottom: 1px solid #d03e2f;}
.fun_list1 li.f2{background-color:#ff9d00; border-bottom: 1px solid #e46600; border-top: 1px solid #ff8a6b;}
.fun_list1 li.f3{background-color:#83ba20; border-bottom: 1px solid #5d8e04; border-top: 1px solid #d5d1a5;}
.fun_list1 li.f4{background-color:#3598db; border-bottom: 1px solid #69c798; border-top: 1px solid #d5d1ac;}
.fun_list1 li.f5{background-color:#ff8300; border-bottom: 1px solid #ffff00; border-top: 1px solid #009d42;}

.com_v2_title{margin: 0 0 10px 0;}
.com_v2_title h3{padding: 6px 10px; height: 30px; line-height: 30px; font-weight: bold; font-size: 16px; color: #333;}
.com_v2_title .more{float: right; display: inline; color: #333; font-size: 14px; font-weight: normal;}
.com_v2_title h3.s1{ border-bottom: 1px solid #E1E1E1;}

.sh_box{border: 1px solid #e1e1e1; zoom:1;}
.sh_box .com_v2_title{margin-bottom: 0; background-color: #F5F2F0;}
.sh_box .list_box{padding: 10px 0 0 20px;}
ul.list_box_li{}
ul.list_box_li li{display: inline; float: left; width: 459px; margin: 0 20px 16px 0; position: relative;}
ul.list_box_li li .img{position: absolute; left: 0; top:8px; width: 180px; height: 120px; overflow: hidden;}
ul.list_box_li li .img img{_width: 180px;}
ul.list_box_li li .info{padding: 6px 0 4px 190px; min-height: 120px; _height: 120px; color: #666;}
ul.list_box_li li .info h3{line-height: 24px; font-size: 14px; height: 24px; overflow-y: hidden;}
ul.list_box_li li .info h3,
ul.list_box_li li .info h3 a{color: #333;}
ul.list_box_li li .tip{ height: 22px; line-height: 22px;}
ul.list_box_li li .tip span{margin: 0 10px 0 0;}
ul.list_box_li li .p{line-height: 20px; height: 80px; font-size: 12px; overflow: hidden;}
ul.list_box_li li .p a{color: #666;}

/* tav */
.tav{min-height: 320px; _height: 320px;font-family: "MicroSoft YaHei";}
.tav .online{ font-weight: normal; float: left; display: inline; margin: 120px 0 0 0;}
.tav .online .h{color: #999;line-height: 42px; height: 42px; font-size: 32px;}
.tav .online .h .s{color: #e84c3d;}
.tav .online .p{line-height: 20px; font-size: 14px; margin: 10px 0 10px;}
.tav .exp{float: right; display: inline; margin: 122px 128px 0 0;}
.tav .exp .h3{ color: #666; font-weight: normal; font-size: 24px; line-height: 32px; margin-bottom: 10px;}
.tav .exp .login,
.tav .exp .reg{ float: left; display: inline; height: 38px; line-height: 38px; font-size: 14px; padding: 0 15px; color: #fff;}
.tav .exp .login{background-color: #0199dc; margin-right: 20px;}
.tav .exp .reg{background-color: #87c80c;}
/* avs */
ul.avs{overflow: hidden; position: relative; width: 990px; left: 5px; margin-top: 35px;}
ul.avs li{float: left; width: 300px; display: inline; margin: 0 30px 20px 0;}
ul.avs li h3{ height: 30px; line-height: 30px; font-weight: 600; font-size: 20px; color: #666; margin-bottom: 5px;}
ul.avs li p{line-height: 20px; font-size: 12px;}
ul.avs li .box{margin: 15px 0 15px 0; border: 1px solid #ccc; padding: 10px; min-height: 50px; _height: 50px; display: block;}
ul.avs li .box:hover{border-color: #e84c3d;}
ul.avs li .desc{float: left;display: inline; width: 218px;}
ul.avs li .icon{margin-left: 228px; width: 50px; height: 50px; overflow: hidden;}
ul.avs li .h3{height: 25px; line-height: 25px; font-size: 16px; color: #333;}
ul.avs li .p{line-height: 20px; height: 20px;}
ul.avs li .ia{background-position: 0 -76px;}
ul.avs li .ib{background-position: 0 -137px;}
ul.avs li .ic{background-position: 0 -199px;}

/* images slide */
.com_image_slide1{height: 325px; overflow: hidden;}
.com_image_slide1 img{width: 100%;}

/* three col */
.three_col_wrapper{}
.three_col_wrapper li{float: left; display: inline; width: 320px; margin-right: 10px;}
.three_col_wrapper li.last{margin-right: 0;}
.three_col_wrapper li .content_box{height: 240px;padding: 10px 10px;}

/* com_box_wrapper */
.com_box_wrapper{border: 1px solid #ddd; border-radius: 3px;}
.com_box_wrapper .header{border-bottom: 1px solid #ddd; padding: 0 10px;}
.com_box_wrapper .header h3{float: left; display: inline; font-size: 14px;}
.com_box_wrapper .header .more,
.com_box_wrapper .header .position{float: right; font-size: 12px;}

/* com_header_40 */
.com_header_40{height: 37px; line-height: 37px; background-color:#f1f1f1;}

/* com_header_color_blue */
.com_header_color_blue h3{color: #2c7199;}

/* com_list_style_a */
.com_list_style_a{}
.com_list_style_a .li{font-size: 12px;}
.com_list_style_a .li a{display: block;height: 32px; line-height: 32px; border-bottom: 1px dotted #ccc; padding-left: 12px;}
.com_list_style_a .li a:hover{background-color: #f9f9f9;}
.com_list_style_a .li a.cur{background-color: #f8f8f8;}
.com_list_style_a .li em{ color: #05a; padding: 0 5px 0 0; font-size: 10px; font-style: normal;}
.com_list_style_a .li a{color: #666;}
.com_list_style_a .li a:hover{text-decoration: none;}
.com_list_style_a .li a:hover em{text-decoration: none;}
.com_list_style_a .li .more,
.com_list_style_a .li .date{float: right;display: inline;}

.fix_com_list_style_a .com_list_style_a .li a{}
.fix_com_list_style_a .com_list_style_a .li a:hover,
.fix_com_list_style_a .com_list_style_a .li a.cur{color: #2c7199;}
.fix_com_list_style_a .com_list_style_a .li a.cur{font-weight: bold;}

.fix_com_list_style_b .com_list_style_a .li{ height: 28px; line-height: 28px;}

/* com_content_page */
.com_content_page{}
.com_content_page .left{float: left; display: inline; width: 290px;}
.com_content_page .right{float: right; display: inline; width: 680px;}
.com_content_page .content_wrapper{padding: 10px 10px; background-color: #fff;}
.com_content_page .left .content_wrapper{padding:0;}
.com_content_page .content_wrapper .content{width: 100%; overflow: hidden; min-height: 405px; _height: 465px;}
.com_content_page .list_wrapper .content{padding-bottom: 50px;position: relative;}
.com_content_page .list_wrapper .pagination{position: absolute; left: 0; bottom:0;width: 100%;}

/* com_contact */
.com_contact{}
.com_contact .li{line-height: 26px;zoom: 1;}
.com_contact .li strong{padding-right: 6px; display: inline-block; text-align:right; width: 80px;}
.com_contact .wx{padding: 5px 0 0; line-height: 20px;}
.com_contact .wx .img{text-align: center;padding: 5px 0 0;width: 100%; overflow: hidden;}
.com_contact .wx .img img{width: 80%;}

/* com_detail_page */
.com_detail{}
.com_detail h1.title{padding: 5px 12px 12px;border-bottom: 1px dotted #ccc;color: #2c7199;text-align: center;margin-bottom: 20px;font-size:16px; line-height: 20px;}
.com_detail .detail,
.com_detail .detail p{line-height: 22px; font-size: 13px;}
.com_detail .detail p{margin-bottom: 12px;}
.com_detail .detail h3{font-size:22px; line-height: 40px;}

/* pagination */
.pagination{
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px 0;
}

.pagination ul{
    display: inline-block;
    width: auto;
    margin: 0 auto;
    zoom: 1;
}

.pagination ul li{
    float: left;
    display: inline;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    min-width: 30px;
    _width: 30px;
    border: 1px solid #ddd;
    margin-right: 4px;
}

.pagination ul li.active{
    border-color: #09f;
}
.pagination ul li.active a{
    background-color: #09f;
    color: #fff;
}

.pagination ul li a{
    padding: 0 15px;
    float: left;
    background-color:#f1f1f1;
}

/* S幻灯片 */
.effect6_outer {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.effect6_outer .big_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.effect6_outer .big_wrapper .li {
    width: 100%;
    overflow: hidden;
    float: left;
    display: inline;
    position: relative;
}

.effect6_outer .big_wrapper .li img {

}

.effect6_outer .small_wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
}

.effect6_outer .small_wrapper .li {
    float: left;
    display: inline;
    margin: 0 0 0 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #999;
    text-align: center;
    border-radius: 10px;
    font-family: 'arial unicode ms';
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
}

.effect6_outer .small_wrapper div.cur{
    background-color: #e4393c;
}
/* E幻灯片 */


/* 用户中心 */
.user_show_list_h3{ padding: 6px 0; line-height: 24px; font-size: 14px; color: #666;}
.user_show_list_p{ line-height: 20px; font-size: 12px; color: #999;}

.user_fav_bt{overflow: hidden; margin-bottom: 5px;}
.user_fav_bt .a{float: left; display: inline; height: 32px; line-height: 32px; overflow: hidden;padding: 0 12px; color: #fff; margin: 0 0 5px 10px;}
.user_fav_bt a.b{background-color:#0199dc;}
.user_fav_bt a.g{background-color:#87c80c;}
.user_fav_bt a.r{background-color:#ff8300;}

.user_fav_bar{height: 32px; margin-bottom: 5px; overflow: hidden; float: left;}
.user_fav_bar .s{float: left; display: inline; line-height: 32px;}
.user_fav_bar .s1{width: 91px; padding-right: 12px; text-align: right; font-family: "MicroSoFt YaHei"; color: #666;}
.user_fav_bar .s2{ width: 372px; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #ddd; margin: 0; background: transparent;}
.user_fav_bar .s3{padding: 0 12px; color: #2c7199; background-color:#f8f8f8;border: 1px solid #ddd; border-left: 0;height: 30px; line-height: 30px;}

.user_fav_list{height: 420px; overflow: hidden; margin: 20px 0 0 0; color: #333; font-family: "MicroSoft YaHei";}
.user_fav_list dt,
.user_fav_list dd{height: 28px; line-height: 28px; overflow: hidden; margin-bottom: 5px;}
.user_fav_list dt{padding-left: 20px;}
.user_fav_list dd{margin-left: 40px;}
.user_fav_list .text,
.user_fav_list .del,
.user_fav_list .mod{float: left; display: none; height: 28px; overflow: hidden;padding: 0 12px; color: #fff; margin: 0 10px 0 0; }
.user_fav_list .text{color: #333; display: inline;}
.user_fav_list .i,
.user_fav_list .s{float: left; display: inline; height: 20px; line-height: 20px; margin-top: 4px;}
.user_fav_list .s{max-width: 320px; _width: 320px; overflow: hidden;}
.user_fav_list .i{width: 20px; margin-right: 3px;}
.user_fav_list .i1{background-position: 0 -253px;}
.user_fav_list .i2{background-position: 0 -281px;}
.user_fav_list .r{background-color:#ff8300;}
.user_fav_list .g{background-color:#87c80c;}
.user_fav_list .b{background-color:#0199dc;}

/* Studio */
.studio_list{margin: 60px 0 0;}
.studio_list .li{ position: relative; display: block; border-bottom: 1px solid #ddd; margin-bottom: 20px;}
.studio_list .li:hover{border-bottom-color: #e84c3d;}
.studio_list .li .desc{ z-index: 2; margin-left: 180px; font-family: "MicroSoFt YaHei";min-height: 152px; _height: 152px;}
.studio_list .li .h3{font-weight: bold; font-size: 32px; color: #666; line-height: 48px; height: 48px; overflow: hidden; display: block; width: 100%; float: left; margin: 15px 0 10px;}
.studio_list .li .p{float: left; display: inline; width: 100%; line-height: 24px; font-size: 14px; padding-bottom: 38px; position: relative;}
.studio_list .li .dot{position: absolute; height: 24px; line-height: 24px; left: 0; bottom:0; color: #fff; padding: 0 15px; background-color: #87c80c; font-style: normal; font-size: 12px;}
.studio_list .li .avatar{position: absolute; width: 150px; height: 150px; left: 0; top: 0;}
.studio_list .li .s1{background-position: 0 -375px;}
.studio_list .li .s2{background-position: -160px -375px;}
.studio_list .li .s3{background-position: 0 -530px;}
.studio_list .li .s4{background-position: -160px -530px;}
.studio_list .li .s5{background-position: -250px 0;}
.studio_list .li .s6{background-position: -250px -150px;}

.com_css_form .li .show_images{display: inline-block; width: 80px; height: 80px; overflow: hidden; margin-right: 10px;}
.com_css_form .li .show_images img{width: 80px; height: 80px;}

/* Common Bottom */
.com_v2_fixed_bottom{position: fixed;right: 10px; bottom: 65px; _position: absolute; border: 1px solid #ccc; width:62px; border-bottom: 0; display: none;}
.com_v2_fixed_bottom li{border-bottom: 1px solid #ccc; height: 62px;text-align: center;}
.com_v2_fixed_bottom li a{float: left; height: 62px; width:100%; display: inline-block; background-color: #f6f6f6; color: #333;}
.com_v2_fixed_bottom li a:hover{background-color: #999; color: #fff;}
.com_v2_fixed_bottom li .s{height: 20px; line-height: 20px;padding: 4px 0; font-size: 12px; float: left;width: 100%;}
.com_v2_fixed_bottom li .b{height: 34px;width: 100%; padding: 0;}
.com_v2_fixed_bottom li.up .b{ background-position: 20px -720px;}
.com_v2_fixed_bottom li.up a:hover .b{ background-position: 20px -767px;}

/* Tip box */
.com_tip_box{font-family: "MicroSoFt YaHei";padding: 20px 0 0;}
.com_tip_box .h3{line-height: 48px; font-size: 28px;padding: 0 0 10px; border-bottom: 1px solid #ccc;}
.com_tip_box .desc{line-height: 20px; font-size: 13px; padding: 10px 0;}
.com_tip_box .desc .h{font-size: 14px; font-weight: bold; line-height: 28px;}
.com_tip_box .desc p{margin-bottom: 12px; }
.com_tip_box .h3 .r{float: right;display: inline;font-size: 18px; color: #45A021;}

/* Ads */
.ads_banner{ text-align: center; margin: 10px auto 10px;}

/* describer */
.ali_express{position: relative; width: 960px; margin: 20px auto 15px; overflow: hidden;}
.ali_express .box_title{height: 30px;line-height: 30px;font-size: 14px;color: #333;background-color: #ddd;border-bottom: none;padding-left: 15px;padding-bottom: 0;}
.ali_express .box_body{padding: 15px 1px 15px 1px;word-break: keep-all;word-wrap: break-word;line-height: 1.5;overflow: hidden;border: 1px solid #ddd;margin-top: -1px; font-size: 100%; font-family:inherit;}
.ali_express .box_body p{margin-bottom:0; font-size: 100%; vertical-align: baseline;}
.ali_express .box_body a{color: #333;}
.ali_express .box_body a:hover{color:#f90; text-decoration: underline;}
.ali_express .box_body .tool_set{}
.ali_express .box_body .tool_set_hover{border-style: dotted; border-color: #45a021 !important; border-width: 1px !important;}
.ali_express .box_body .tool_set .header{}
.ali_express .box_body .tool_set .content{position: relative; min-height: 20px; _height: 20px;}
.ali_express .box_body .tool_set .tools{position:absolute; left: 0px; top: 0px; z-index: 99;background-color: #cecece;padding: 2px;}
.ali_express .box_body .tool_set .tools_ul{overflow: hidden;}
.ali_express .box_body .tool_set .tools_ul li{float: left;display: inline; height:24px; line-height: 24px; border: 0px solid #0199dc; margin: 0 4px 0 0;overflow: hidden; cursor:pointer;padding: 0 5px;}
.ali_express .box_body .module_b_buttons_wrapper{display: inline; width: 48px;float: left;}
.ali_express .box_body .module_b_com_button{display: inline-block; width: 48px; height:48px;cursor: pointer; border:1px dotted #ccc; background-color: #fafafa; color:#45a021; line-height: 48px; text-align: center; font-size: 26px;font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; margin: 0 0 6px 0;}
.ali_express .box_body .module_b_com_button:hover{border-color:#f90;text-decoration: none;}
.ali_express .box_body .module_b_add_button{}
.ali_express .box_body .module_b_settings_button{}

.ali_express .box_body .module_b_ele{position: relative;}
.ali_express .box_body .module_b_ele .icons_wrapper{position: absolute; right: 1px; bottom: 1px;}
.ali_express .box_body .module_b_ele .icon{width: 22px; height: 22px; border: 1px dotted #ccc; font-family:Arial, Helvetica, sans-serif; text-align: center; font-size: 14px; line-height: 22px; color: #e84c3d; background-color: #fafafa; float: right; display: inline;margin: 0 0 0 5px;}
.ali_express .box_body .module_b_ele .icon:hover{border-color:#f90; text-decoration: none;}
.ali_express .box_body .module_b_ele .icon_delete{ }
.ali_express .box_body .module_b_ele .icon_drag{ cursor: move;}

.emptyTools{padding: 5px; overflow: hidden; border: 2px dotted #ccc;background-color: #fafafa;}
.emptyTools .icon{display: inline-block; margin: 0 10px; cursor: pointer;}

.tools_icons_bg{background-image: url("https://./images/tools.png"); background-repeat: no-repeat; display: inline-block;}
.tools_icons_delete{background-position: 0 -48px; width: 20px; height: 24px;}
.tools_icons_add{background-position: 0 0; width: 20px; height: 24px;}
.tools_icons_save{background-position: 0 -24px; width: 20px; height: 24px;}
.tools_icons_settings{background-position: 0 -72px; width: 24px; height: 24px;}
.tools_icons_up{background-position: 0 -96px; width: 24px; height: 24px;}
.tools_icons_down{background-position: 0 -120px; width: 24px; height: 24px;}
.tools_icons_editor{background-position: 0 -144px; width: 24px; height: 24px;}
.tools_icons_pictures{background-position: 0 -168px; width: 24px; height: 24px;}

.pictures_tools_wrapper{
    position: relative;
    display: inline-block;
    overflow: hidden;
    zoom: 1;
    border: 1px dotted #faa123;
    padding: 0px;
    min-width: 120px;
    min-height: 60px;
}
.pictures_tools_wrapper .tools_list{
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}
.pictures_tools_wrapper .tools_list .li{
    float: left;
    display: inline;
    margin: 0 0 0 5px;
    padding: 2px 5px;
    line-height: 20px;
    cursor: pointer;
    background-color: #333;
    color: #fafafa;
}

.tools_bar{width: 960px; margin: 0 auto; padding: 0;}
.tools_bar .li{}

/* 弹出描述 */
.pop_window{}
.pop_window .h3,
.com_detail .pop_window h3{font-size:18px; line-height:28px; height: 28px; padding:8px 12px; color: #333;}
.pop_window .desc{line-height: 22px; font-size: 12px; color: #666; padding-left: 24px;}
.pop_window .font_red{color:#e84c3d; font-weight: bold;}
.pop_window .font_green{color:#45a021; font-weight: bold;}
.pop_window .btn_wrapper{padding: 10px 20px;}
.pop_window ul,
.pop_window dl,
.pop_window ol{padding-left: 20px;}
.pop_window ul a,
.pop_window dl a,
.pop_window ol a{font-size: 14px; color: #333; line-height: 24px;}

/* 用户工具列表 */
.com_icon_list{overflow: hidden;}
.com_icon_list .li{float: left;display: inline;margin: 0 20px 10px 0;}
.com_icon_list .li:hover{color: #333;}
.com_icon_list .li .left{ border: 1px dotted #ccc; width: 98px; height: 98px; float: left; display: block; margin-right: 10px; text-align: center; line-height: 22px; overflow: hidden; font-size: 14px; padding: 10px; background-color: #fafafa;}
.com_icon_list .li .info{float: left;width: 180px; height: 180px; overflow: hidden;}
.com_icon_list .li .h4{height: 36px; line-height: 36px; font-size: 14px; text-align: center; background-color:#45a021; color: #fff; margin-bottom: 12px; margin-top: 12px;}
.com_icon_list .li .p{line-height: 24px; font-size: 12px; text-align: left;}
.com_icon_list .li .font_red{color: #e84c3d;}
.com_icon_list .li .font_green{color: #45a021;}

/* com_font_colors */
.com_font_color_red{color: #e84c3d;}
.com_font_color_blue{color: #2C7199;}
.com_font_color_green{color: #45a021;}
.com_font_color_gray{color: #666;}

/* 服务 ae_describer */
.ali_express .kse-widgets{border:3px dotted #ccc; min-height: 50px; line-height: 50px; text-align: center; font-size: 20px; font-weight: bold;}


/* 新版Metro风格 */
.metro_wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin:0 0 10px -10px;
    color: #fff;
}

.metro_wrapper .tile{
    float: left;
    display: inline;
    overflow: hidden;
    margin: 0 0 10px 10px;
    position: relative;
}

.metro_wrapper .tile_col2_590{
    width: 578px;
    height: 240px;
}

.metro_wrapper .tile_col2_370{
    width: 382px;
    height: 240px;
}

.metro_wrapper .tile_col5{
    width: 186px;
    height: 186px;
}

.metro_wrapper .tile_c0{
    background: #67b540;
}

.metro_wrapper .tile_c1{
    background: #2aa6e3;
}

.metro_wrapper .tile_c2{
    background: #ffaa31;
}

.metro_wrapper .tile_c3{
    background: #87c80c;
}

.metro_wrapper .tile_c4{
    background: #9A77E2;
}

.metro_slide_list{

}
.metro_slide_list .list{
    position: relative;
    overflow: hidden;
}

.metro_slide_list .list .link{
    display: block;
    color: #fff;
}

.metro_slide_list .list a:hover{
    color: #fff;
}

.metro_slide_list .list img{
    width: 100%;
    height: 100%;
}

.metro_slide_list .list .title{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    height: 48px;
    width: 100%;
    line-height:48px;
    font-weight: bold;
    font-size: 18px;
    padding: 0 12px;
    background: #333;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* 用户登陆注册 */
.metro_wrapper .user_login{

}
.metro_wrapper .user_login .top_tip{
    margin: 10px 20px;
    padding: 5px 5px;
    border-bottom: 2px solid #fff;
}
.metro_wrapper .user_login .h3{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.metro_wrapper .user_login p{
    padding: 10px 0;
    line-height: 20px;
    font-size: 14px;
}

.metro_wrapper .user_login a,
.metro_wrapper .user_login a:hover{
    color: #fff;
}

.metro_wrapper .user_login .list{
    display: inline;
    width: 64px;
    padding: 10px;
    margin: 10px 0 0 72px;
    float: left;
    text-align: center;
}

.metro_wrapper .user_login .list span{
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
}

.metro_wrapper .tile_link,
.metro_wrapper .tile_link:hover{
    color: #fff;
}

.metro_wrapper .tile_style1{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.metro_wrapper .tile_style1 .img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
}

.metro_wrapper .tile_style1 .h3{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}

/* 2015-5-7 留言建议 */
.com_v2_fixed_bottom{
    display: block;
}
.com_v2_fixed_bottom li.up{
    display: none;
}
.com_v2_fixed_bottom li.msg .b{
    background-position:-356px -720px;
}
.com_v2_fixed_bottom li.msg a:hover .b{ background-position: -356px -767px;}

/* 2015-05-18 帮助中心 */
.help_box{
    padding: 0 0 12px 0;
}
.help_box .t1{
    border-bottom: 1px dotted #ccc;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0;
    overflow: hidden;
    color: #666;
}
.help_box .link{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0;
    background-color: transparent;
    color: #2c7199;
}
.help_box .t1 .link{
    float:right;
    font-weight: normal;
}
.help_box .c1{
    padding: 10px 0 0 0;
    width: 100%;
    overflow: hidden;
}
.help_box .c1 b{
    color: #45a021;
}

.help_box .c1 img{
    max-width: 100%;
}

.help_box .bri{
    float: left;
    display: inline;
    margin: 20px 8px 0 10px;
    padding: 20px;
    border-radius: 72px;
    width: 72px;
    height: 72px;
    text-align: center;
    line-height: 24px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
}

.help_box .bri_g{
    background-color: #45a021;
}
.help_box .bri_y{
    background-color: #ff8300;
}
.help_box .bri_b{
    background-color: #0199dc;
}