/* the common box style of box */
.clear{
    clear: both;
    height: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}

.com_css_util_dialog{
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 2px;
    min-height:42px;
    _height: 42px;
}

.com_css_util_dialog .close{
    width: 37px;
    height: 37px;
    position: absolute;
    cursor: pointer;
    right: -1px;
    top:-1px;
    z-index: 10;
    line-height: 37px;
    font-size: 24px;
    font-family: Tahoma,Arial,sans-serif;
    font-weight: normal;
}

.com_css_util_dialog .close a{
    float: left;
    width: 37px;
    height: 37px;
    text-align: center;
    color: #ccc;
}

.com_css_util_dialog .close a:hover{
    background-color: #ffaa01;
    color: #fff;
}

.com_css_util_dialog .form{
    min-height: 120px;
    _height: 120px;
}

.com_css_util_dialog_content{padding: 10px;}

.com_css_util_dialog_title{
    border: none;
    padding: 0px 18px 0;
    border-bottom: 1px solid #DEDEDE;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    background: url("https://./images/title_bg.png") repeat-x bottom;
}

.com_css_util_dialog_title .s{
    float: right;
    font-weight: normal;
    line-height: 36px;
    font-size: 13px;

}

.com_css_util_dialog_title .s .b{
    color: #ff8400;
    font-weight: bold;
    padding:0 5px 0 0;
}

.com_css_util_dialog_title h3{
    float: left;
    font-family:"ms yahei", 'Karla', sans-serif;
    font-weight: bold;
    color: #317eac;
    line-height: 36px;
    font-size:14px;
}
.com_css_util_dialog_title h3 b{
    font-weight: bold;
    font-size: 13px;
    color:#ff8400;
}

button.com_css_util_button_style_one,
button.com_css_util_button_style_two,
button.com_css_util_button_disabled{
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

button.com_css_util_button_style_two{
    background-color: #43a1da;
    background-image: -moz-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -ms-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ba6db), to(#369bd7));
    background-image: -webkit-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -o-linear-gradient(top, #4ba6db, #369bd7);
    background-image: linear-gradient(top, #4ba6db, #369bd7);
    background-repeat: repeat-x;
    border-color: #369bd7 #369bd7 #2071a1;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #fff;
}

button.com_css_util_button_disabled{
    cursor: not-allowed;
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border linear .2s,box-shadow linear .2s;
}

/* 公共弹出框 */
.com_css_util_pop_window{
    border: 1px solid #87c80c;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 270px;
    height: auto;
}
.com_css_util_pop_window .com_css_util_dialog_title{
    height: 36px;
    line-height: 36px;
    color:#317eac;
    padding-left: 0;
    border-bottom-color: #87c80c;
}
.com_css_util_pop_window .info_wrapper{
    min-height: 20px;
    _height:20px;
    padding-bottom: 10px;
}
.com_css_util_pop_window .com_css_util_pop_button_wrapper{
    text-align: center;
}
.com_css_util_pop_window .com_css_util_pop_button_wrapper button{
    display:inline-block;
    margin-right:6px;
}

.com_css_util_pop_error .icon,
.com_css_util_pop_warn .icon,
.com_css_util_pop_right .icon,
.com_css_util_pop_info .icon{
    background-image: url("https://./images/opa-icons-color32.png");
    background-repeat: no-repeat;
    background-position: -1px -256px;
    float: left;
    display: inline;
    margin: 2px 6px 0 6px;
    width: 30px;
    height: 32px;
}
.com_css_util_pop_warn .icon{
    background-position: -129px -256px;
}
.com_css_util_pop_right .icon{
    background-position: -33px -256px;
}
.com_css_util_pop_info .icon{
    background-position: -97px -256px;
}
.com_css_util_pop_close .close{display: none;}


/* Data Grid */
.com_css_util_data_grid_fixed_wrapper{
    position: relative;
    overflow: hidden;
    border-radius: 4px;;
    border: 1px solid #bbb;
    background-color: #fff;
}

.com_css_util_data_grid_fixed_wrapper table{
    margin-bottom: 0;
    table-layout:fixed;
}

.com_css_util_data_grid_fixed_wrapper .th_wrapper{
    width: 100%;
}

.com_css_util_data_grid_fixed_wrapper .th_wrapper table,
.com_css_util_data_grid_fixed_wrapper .tb_wrapper table{
    border-top-width: 0;
    border-left-width: 0;
}

.com_css_util_data_grid_fixed_wrapper .tb_wrapper table tr:last-child td{
    border-bottom-width: 0;
}

.com_css_util_data_grid_fixed_wrapper .tb_wrapper{
    overflow: auto;
    height: 100%;
}

.com_css_util_data_grid{
    width:100%;
    position: relative;
    min-height: 80px;
}

.com_css_util_data_grid .mask_wrapper,
.com_css_util_data_grid .mask_text{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.com_css_util_data_grid .mask_wrapper{
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #fff;
}
.com_css_util_data_grid .mask_text{
    z-index: 100;
    background: url("https://./images/loading_0_20_20.gif") no-repeat center;
}

.com_css_util_data_grid table{
    border-collapse: collapse;
    border-spacing: 0;
    border-width:1px 0 0 1px;
    border-color:#BBB;
    border-style:solid;
    border-radius: 4px;
}

.com_css_util_data_grid table caption{
    border-width:1px 1px 0px;
    text-align: center;
    font-weight: bold;
    color: #638C0B;
    line-height: 28px;
    font-size: 14px;
    border-color: #BBB;
    padding: 2px 0;
    border-style: solid;
    background-color: #DCE9F9;
}

.com_css_util_data_grid .page_bar{
    padding: 8px 10px 5px;
    background-color: whiteSmoke;
    border-width:0 1px 1px;
    border-color: #BBB;
    border-style: solid;
    line-height: 20px;
}

.com_css_util_data_grid table caption{

}

.com_css_util_data_grid .table_header{
    font-weight: 400;
    color: #404040;
    line-height: 28px;
    text-align: center;
}

.com_css_util_data_grid .table_header th{
    font-weight: 600;
    border-width: 0 1px 1px 0;
    border-color: #BBB;
    border-style: solid;
    background-color: #F8F8F8;
}

.com_css_util_data_grid .table_entity{
    border-top-width: 0;
}

.com_css_util_data_grid .table_entity td{
    border-width: 0 1px 1px 0;
    border-color: #BBB;
    border-style: solid;
    text-align: center;
    padding-top:4px;
    padding-bottom: 4px;
    line-height: 20px;
}

.com_css_util_data_grid .table_entity tr:hover td{
    background-color:#F8F8F8;
}

.com_css_util_data_grid .table_entity tr.selected td{
    background-color:#fbf8e9;
}

.com_css_util_data_grid .table_entity td.left{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
.com_css_util_data_grid .col_200{
    width: 200px;
}

.com_css_util_data_grid .col_190{
    width: 190px;
}

.com_css_util_data_grid .col_180{
    width: 180px;
}

.com_css_util_data_grid .col_170{
    width: 170px;
}

.com_css_util_data_grid .col_160{
    width: 160px;
}

.com_css_util_data_grid .col_165{
    width: 165px;
}

.com_css_util_data_grid .col_150{
    width: 150px;
}

.com_css_util_data_grid .col_135{
    width: 135px;
}

.com_css_util_data_grid .col_120{
    width: 120px;
}

.com_css_util_data_grid .col_100{
    width: 100px;
}

.com_css_util_data_grid .col_80{
    width: 80px;
}

.com_css_util_data_grid .col_50{
    width: 50px;
}

.com_css_util_data_grid .col_40{
    width: 40px;
}

.com_css_util_data_grid .table_entity  td.alignLeft{
    text-align: left;
    padding-left: 8px;
    line-height: 16px;
}
/* alert */
.com_css_util_alert {
    padding: 4px 10px;
    margin: 10px 0;
    line-height: 20px;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
}

.com_css_util_alert strong {
    font-weight: bold;
    padding: 0 10px 0 0;
}

.com_css_util_alert_error {
    border-color: #cf4c35;
    background-color: #FEEEEE;
    color: #cf4c35;
}

.com_css_util_alert_success {
    border-color: #45A021;
    background-color: #f5f9fe;
    color: #666;
}

/* button */
.com_css_util_button_wrapper{
    padding: 3px 20px;
    line-height: 24px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    *zoom: 1;
    *float: left;
    *display: inline;
    *overflow: hidden;
    margin:0 12px 0 0;
}

.com_css_util_button_color_gray{
    background-color: #F4F4F4;
    color: #333;
}

.com_css_util_button_color_green{
    background-color:#45A021;
    color: #fff;
}

.com_css_util_button_color_red{
    background-color:#e00f0f;
    color: #fff;
}

.com_css_util_button_color_yellow{
    background-color:#ff8300;
    color: #fff;
}

/* button_bar */
.com_css_util_button_bar_wrapper{
    padding: 10px 10px;
    margin: 0 auto 10px;
    overflow: hidden;
}

.com_css_util_button_bar_wrapper .separator{
    display:inline;
}

/* tab */
.com_css_util_tab_wrapper{

}

.com_css_util_tab_wrapper .com_css_util_tab_bar{
    padding: 0 30px;
    height: 36px;
    border-bottom: 1px solid #E3E3E3;
    position: relative;
}

.com_css_util_tab_wrapper .scroll_wrapper{
    width: 100%;
    height: 37px;
    margin-bottom: -1px;
    overflow-x: hidden;
    position: relative;
}

.com_css_util_tab_wrapper .scroll_wrapper .ul{
    position: absolute;
    width: 200%;
    height: 37px;
    left: 0;
    top: 0;
}

.com_css_util_tab_wrapper .scroll_wrapper .li{
    float: left;
    position: relative;
    padding-right: 15px;
}

.com_css_util_tab_wrapper .scroll_wrapper .li span{
    padding: 0 25px;
    float: left;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
    border-bottom-color: #E3E3E3;
    margin-bottom: -1px;
}

.com_css_util_tab_wrapper .com_css_util_tab_bar .scroll_wrapper .current span{
    border-bottom-color: #fff;
    cursor: default;
    background-color: #fff;
}

.com_css_util_tab_wrapper .scroll_wrapper .li .close{
    position: absolute;
    right: 15px;
    top: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #E3E3E3;
    line-height: 13px;
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

.com_css_util_tab_wrapper .scroll_wrapper .li .close:hover{
    background-color: #F4F4F4;
}

.com_css_util_tab_wrapper .com_css_util_tab_content_wrapper{
    padding: 0 30px;
}

.com_css_util_tab_wrapper .com_css_util_tab_content_wrapper .li_content{
    width: 100%;
}

.com_loading_gif{text-align: center; display: block; margin: 20px auto;}
.com_loading_gif .info{display: block; margin: 0 auto; line-height: 20px; font-size: 12px; color: #333;}
.com_loading_gif .circle_60x60{width: 60px; height: 60px; margin:0 auto 10px; background: url("https://./images/loading_circle_60x60.gif") no-repeat 0 0;}
.com_loading_gif .loading_green_280x13{width: 280px; height: 20px; margin:0 auto 15px; background: url("https://./images/loading_green_280x13.gif") no-repeat center;}

/* Com_Form */
.com_form_bg{background-image: url("https://./images/com_form_bg.png"); background-repeat: no-repeat;}

/* Numeric */
.com_numeric_wrapper{display: inline;position: relative; margin: 0 5px 0 0; padding-right: 25px; min-height: 28px; border: 1px solid #ccc; overflow: hidden; float: left;}
.com_numeric_wrapper .dotted{position: absolute; right: 0; top: 0; height: 100%; width: 24px; border-left: 1px solid #ccc;}
.com_numeric_wrapper .dotted .up,
.com_numeric_wrapper .dotted .down{font-family: arial; text-align: center; width: 100%;display:inline-block; cursor: pointer; border-color: #fafafa; color: #333; line-height: 100%; height:50%; position: absolute;left: 0; top: 0;}
.com_numeric_wrapper .dotted .down{top:auto; bottom: 0;}
.com_numeric_wrapper .num_w{position: relative; display:inline;float: left;}
.com_numeric_wrapper .input_num,
.com_numeric_wrapper .input_mask{text-align: center; border: 0; padding: 0; margin: 0; width:30px; height: 100%; color: #333; max-width: 100px;}
.com_numeric_wrapper .input_num{margin-right: 0;}
.com_numeric_wrapper .input_mask{position: absolute; z-index: 9; left: 0; top: 0; background-color: #ccc; opacity:0.3; width: 100%;}

/* Checkbox */
.com_checkbox_wrapper{display: inline-block; margin: 3px 5px 0 0; }
.com_checkbox_wrapper .checkbox{width: 13px; height: 13px; display: inline-block;background-position: 0 0;}
div.com_checkbox_wrapper .checked{background-position: 0 -13px !important;}

/* Text */
.com_text_wrapper{display: inline-block; margin: 0 5px 0 0;}
.com_text_wrapper .text{-webkit-border-radius: 2px;border-radius: 2px;border: 1px solid #ccc;font-size: 12px;outline: 0;background: #fff;padding: 5px 5px;line-height:18px; height: 18px; margin: 0;}

/* Select */
.com_select_wrapper{display:inline-block; margin: 0 5px 0 0;}
.com_select_wrapper .select_box{position: relative; min-width: 120px; _width: 120px; height: 28px; border:1px solid #ccc; }
.com_select_wrapper .select_box .dotted{position: absolute; width: 20px; height: 28px; text-align: center; line-height: 28px; font-family: Arial, Helvetica, Sans-Serif; font-size: 14px; font-weight: bold; top: 0; right: 0;}
.com_select_wrapper .select_box .text{margin-right: 20px; text-indent:8px; line-height: 28px; height: 28px; overflow: hidden; display: block;word-break: keep-all;}
.com_select_wrapper .select_box .select_ul{width: 100%; position: absolute; left:-1px; top:29px; background-color: #fff; border:1px solid #ccc; border-top: 0; display: none;}
.com_select_wrapper .select_box .select_li{display:block; cursor: pointer; margin: 0; position: relative;}
.com_select_wrapper .select_box .select_li:hover{}
.com_select_wrapper .select_li .sub_ul{}
.com_select_wrapper .select_li .sub_ul .sub_li{}
.com_select_wrapper .select_box li .li_text,
.com_select_wrapper .select_li li .sub_text{height: 24px; overflow: hidden; line-height: 24px; word-break: keep-all;}
.com_select_wrapper .select_box li .li_text{ padding: 2px 0 2px 0; text-indent:1em;}
.com_select_wrapper .select_li li .sub_text{ padding: 2px 0 2px 0; text-indent:2em;}
.com_select_wrapper .select_box .select_li.children .li_text{font-weight: bold; border-bottom: 1px dotted #ccc;}
.com_select_wrapper .select_box .li_text:hover,
.com_select_wrapper .sub_li .sub_text:hover{background-color: #eee; color: #404040;}
.com_select_wrapper .select_box li.selected .li_text,
.com_select_wrapper .select_li li.selected .sub_text{background-color: #ccc; color: #404040;}
.com_select_wrapper .select_box ul.show{display: block;}

/* Select_box */
.com_select_box_wrapper{display: inline-block; overflow: auto; margin: 0 5px 0 0; padding: 10px; background-color: #fff; border: 1px solid #ccc; width: 142px;}
.com_select_box_wrapper .sb_ul{min-height: 180px;}
.com_select_box_wrapper .sb_ul .sb_li{width: 100%; height: 28px; overflow: hidden;}
.com_select_box_wrapper .sb_ul .sb_li a{display: block; position: relative; line-height: 20px; height: 20px; padding: 4px 20px 4px 10px;}
.com_select_box_wrapper .sb_ul .sb_li a .parent{position: absolute; width: 20px; height: 20px; right: 0; top: 4px; font-family: arial, helvetica, verdana, sans-serif;}
.com_select_box_wrapper .sb_ul .sb_li a:hover,
.com_select_box_wrapper .sb_ul .selected a{background-color: #ccc; font-weight: 500; color: #333;}

/* Widgets */
.com_widgets_wrapper{display: block; width: 100%; clear: both; position: relative; z-index: 99;}
.com_widgets_wrapper .item{float: left;display: inline; min-height: 30px; position: relative; margin: 0 8px 0 0;}
.com_widgets_wrapper .item .label{line-height: 30px; font-size: 12px; padding: 0 5px 0 0; display: inline; float: left;}
.com_widgets_wrapper form .submit{margin-right: 0; border: 0; height: 30px; line-height: 30px; padding: 0 20px;}

/* mask */
.mask_loading_type{
    float: left;
    display: inline;
    width: 20px;
    height: 20px;
    margin: 0 2px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.mask_loading_type0{
    background-image: url("https://./images/loading_1_21_19.gif");
}
.mask_loading_type1{
    background-image: url("https://./images/loading_0_20_20.gif");
}

/* Data List */
.com_data_list{
    margin: 10px 0 10px;
}

.com_data_list .body{
    overflow: hidden;
    padding: 10px 0;
}

.com_data_list .body .item{
    float: left;
    display: inline;
    box-sizing: border-box;
    width: 20%;
    overflow: hidden;
    padding:0 10px 10px 10px;
}

.com_data_list .body .item .img{
    display: block;
    vertical-align:middle;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.com_data_list .body .item.selected .img{
    background-color: #e0e0e0;
    border-color: #ddd;
}
.com_data_list .body .item .img:hover{
    border-color: #337ab7;
}

.com_data_list .body .item.selected .img:hover{
    border-color:#ddd;
}

.com_data_list .body .item .img img{
    height: 80px;
    width: 100%;
    display:block;
    overflow: hidden;
}

.com_data_list .body .item .title{
    height: 24px;
    line-height: 24px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.com_css_util_data_grid .pageBar a ,
.com_data_list .pageBar a {
    text-decoration: none;
}

.com_css_util_data_grid .pageBar a:hover ,
.com_data_list .pageBar a:hover {
    text-decoration: none;
}

.com_css_util_data_grid .pageBar ,
.com_data_list .pageBar {
    padding:0;
    text-align: left;
    color: #ccc;
    overflow:hidden;
}

.com_css_util_data_grid .pageBar{
    padding-top: 15px;
}

.com_css_util_data_grid .pageBar .toLeft,
.com_data_list .pageBar .toLeft{
    float: left;
}

.com_css_util_data_grid .pageBar .toRight,
.com_data_list .pageBar .toRight{
    float: right;
    line-height: 25px;
    color:#428bca;
}

.com_css_util_data_grid .pageBar a ,
.com_data_list .pageBar a {
    display: inline-block;
    color: #428bca;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}

.com_css_util_data_grid .pageBar a:hover ,
.com_data_list .pageBar a:hover {
    text-decoration: none;
    border: 1px solid #428bca;
}

.com_css_util_data_grid .pageBar span.current ,
.com_data_list .pageBar span.current {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: 4px;
    vertical-align: middle;
}

.com_css_util_data_grid .pageBar span.disabled ,
.com_data_list .pageBar span.disabled {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    vertical-align: middle;
}
