---
layout: default
title: "Gallery"
active_title: 'Gallery'
---
	{% assign all_albums = '' | split: '/' %}
	{% for album in site.gallery %}
		{% assign this_item = '' | split: '/' %}

		{% assign this_item = this_item | push: album.title %}
		{% assign this_item = this_item | push: album.desc %}
		{% assign this_album_cover_url = site.path.gallery.photography.low | append: '/' | append: album.cover.url %}
		{% assign this_item = this_item | push: this_album_cover_url %}
		{% assign this_item = this_item | push: album.url %}
		{% assign this_item = this_item | push: 'image' %}
		{% assign this_item = this_item | push: album.cover.format %}

		{% assign all_albums = all_albums | push: this_item %}
	{% endfor %}
	{% assign all_albums_container = '' | split: '/' %}
	{% assign all_albums_container = all_albums_container | push: all_albums %}
	{% include grid_image_overlay_camera_list.html sectionid="gallery-albums" list=all_albums_container cols=3 readmore='/gallery/archive/index.html' readmore_title='Archive' %}
