<div class="round-button-row" style="justify-content: {{ include.position | default: 'center' }};">
  {% assign btn_titles = include.titles | split: ',' %}
  {% assign btn_hrefs = include.hrefs | split: ',' %}
  {% assign btn_svgs = include.svgs | split: ',' %}
  {% assign btn_onclicks = include.onclicks | split: ',' %}

  {% for title in btn_titles %}
    {% assign btn_idx = forloop.index | minus: 1 %}
    {% assign this_title = btn_titles[btn_idx] %}
    {% assign this_href = btn_hrefs[btn_idx] %}
    {% assign this_svg = btn_svgs[btn_idx] %}
    {% assign this_onclick = btn_onclicks[btn_idx] %}
  <a class="round-button round-button-flex" {% if this_href.size > 0 %} href="{{ this_href }}"{% endif %}{% if this_onclick.size > 0 %} onclick="{{ this_onclick }}"{% endif %} target="_blank">{% if this_svg.size > 0 %}<span aria-hidden="true">{{ this_svg }}</span>&nbsp;{% endif %}{{ this_title }}</a>
  {% endfor %}
</div>
