<div class="card-post-detailed" style="{% if include.maxwidth.size > 0 %}max-width: {{ include.maxwidth }} !important;{% endif %}">
  <!-- Post-->
  <div class="post-module">
    {% if include.href.size > 0 %}<a class="link" href="{{ include.href }}">{% endif %}
    <!-- Thumbnail-->
    <div class="thumbnail">
      <div class="date">
        <div class="day">{{ include.day }}</div>
        <div class="month">{{ include.month }}</div>
      </div>
      <img src="{{ include.image }}" />
    </div>
    <!-- Post Content-->
    <div class="post-content">
      <div class="category">{{ include.badge }}</div>
      <h1 class="title">{{ include.title }}</h1>
      {% if include.subtitle.size > 0 %}<h2 class="sub_title">{{ include.subtitle }}</h2>{% endif %}
      <p class="description">{{ include.desc }}</p>
      <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i>&nbsp;{{ include.date }}</span></div>
    </div>
    {% if include.href.size > 0 %}</a>{% endif %}
  </div>
</div>
