<figure class="bordered-profile-card" style="{% if include.maxwidth.size > 0 %}max-width: {{ include.maxwidth }} !important;{% endif %}">
  <div class="profile-image"><img src="{{ include.image }}" /></div>
  <figcaption>
    <h3>{{ include.title }}</h3>
    <h4>{{ include.subtitle }}</h4>
    <p class="bordered-profile-card-p">{{ include.desc }}</p>
    <div class="icons">
      {% if include.url.size > 0 %}<a href="{{ include.url }}" target="_blank"><i class="fa fa-superpowers"></i></a>{% endif %}
      {% if include.github.size > 0 %}<a href="{{ include.github }}" target="_blank"><i class="fa fa-github-alt"></i></a>{% endif %}
      {% if include.email.size > 0 %}<a href="mailto:{{ include.email }}"><i class="fa fa-paper-plane"></i></a>{% endif %}
      {% if include.phone.size > 0 %}<a href="tel:{{ include.phone }}"><i class="fa fa-telephone"></i></a>{% endif %}
    </div>
  </figcaption>
</figure>
