<figure class="cycled-profile-card yellow" style="{% if include.maxwidth.size > 0 %}max-width: {{ include.maxwidth }} !important;{% endif %}">
  <figcaption>
    <h2>{{ include.title }}</h2>
    <!--<h2>Diana <span>Reed</span></h2>-->
    <p class="cycled-profile-card-p">{{ include.desc }}</p>
    <div class="icons">
      {% if include.url.size > 0 %}<a href="{{ include.url }}" target="_blank"><i class="fa fa-home"></i></a>{% endif %}
      {% if include.email.size > 0 %}<a href="mailto:{{ include.email }}"><i class="fa fa-envelope-o"></i></a>{% endif %}
      {% if include.phone.size > 0 %}<a href="tel:{{ include.phone }}"><i class="fa fa-telephone"></i></a>{% endif %}
    </div>
  </figcaption><img src="{{ include.image }}" />
  <div class="position">{{ include.caption }}</div>
</figure>
