<figure class="card-post-tinted {{ include.color | default: 'red' }}" style="{% if include.maxwidth.size > 0 %}max-width: {{ include.maxwidth }} !important;{% endif %}{% if include.maxheight.size > 0 %}max-height: {{ include.maxheight }} !important;{% endif %}">
  <img src="{{ include.image }}"/>
  <figcaption>
    <h2 toc-skip="true">{{ include.title }}</h2>
    <p>{{ include.desc }}</p>
    {% if include.href.size > 0 %}<a href="{{ include.href }}">{{ include.button }}</a>{% endif %}
  </figcaption>
</figure>
