{% assign grid_include_cols = include.cols %}
{% if grid_include_cols <= 10 %}
  {% assign grid_cell_flex_divided = 10.0 %}
{% elsif grid_include_cols > 10 and grid_include_cols <= 100 %}
  {% assign grid_cell_flex_divided = 100.0 %}
{% else %}
  {% assign grid_include_cols = 3 %}
  {% assign grid_cell_flex_divided = 10.0 %}
{% endif %}
{% assign grid_cell_flex_percent = grid_cell_flex_divided | divided_by: include.cols | times: 10 %}
{% assign grid_cell_flex_style = '-ms-flex: 0 0 ' | append: grid_cell_flex_percent | append: '0%; flex: 0 0 ' | append: grid_cell_flex_percent | append: '0%;' %}
{{ grid_cell_flex_style }}
