{% assign grid_list_array = ''| split: '/' %}

{% for group in include.list %}
	{% assign group_index = forloop.index %}

	{% assign grid_list_gourp_array = ''| split: '/' %}

	{% for element in group %}
		{% assign element_index = forloop.index %}

    {% comment %}
		<!-- element[0]: title -->
		<!-- element[1]: caption -->
		<!-- element[2]: desc -->
    <!-- element[3]: image -->
		<!-- element[4]: url -->
		<!-- element[5]: email -->
		<!-- element[6]: phone -->
		{% endcomment %}
		{% assign element_title = element[0] %}
		{% assign element_caption = element[1] %}
		{% assign element_desc = element[2] %}
    {% assign element_image = element[3] %}
		{% assign element_url = element[4] %}
		{% assign element_email = element[5] %}
		{% assign element_phone = element[6] %}

		{% capture element_html %}
    <!-- BEGIN CARD PROFILE (BORDERD) -->
    {% include card_profile_cycled.html title=element_title caption=element_caption desc=element_desc image=element_image url=element_url email=element_email phone=element_phone %}
    <!-- END CARD PROFILE (BORDERD) -->

    {% endcapture %}
    {% assign grid_list_gourp_array = grid_list_gourp_array | push: element_html %}

  {% endfor %}
  {% assign grid_list_array = grid_list_array | push: grid_list_gourp_array %}

{% endfor %}
{% include grid_list_container.html sectionid=include.sectionid cols=include.cols title=include.title title_url=include.title_url desc=include.desc readmore_title=include.readmore_title readmore=include.readmore list=grid_list_array %}
