{% assign converted_list = '' | split: '/' %}
{% for post in include.list %}
	{% assign tempSubArray = '' | split: '/' %}
	<!-- element[0]: title.first-word -->
	<!-- element[1]: title.other-word -->
	<!-- element[2]: desc -->
	<!-- element[3]: image -->
	<!-- element[4]: url -->
	{% assign post_title_words = post.title | split: " " %}
	{% assign post_subtitle = title_words | shift | join: " " %}
	{% assign tempSubArray = tempSubArray | push: post_title_words.first %}
	{% assign tempSubArray = tempSubArray | push: post_subtitle %}
	{% assign post_desc = post.category | append: " #" | append: post.tags.firsts %}
	{% assign tempSubArray = tempSubArray | push: post_desc %}
	{% capture post_img %}{% include post_hero_url.html image=post.hero.url res='low' %}{% endcapture %}
	{% assign tempSubArray = tempSubArray | push: post_img %}
	{% assign tempSubArray = tempSubArray | push: post.url %}

	{% assign converted_list = converted_list | push: tempSubArray %}
{% endfor %}

{% assign outer_list = '' | split: '/' %}
{% assign outer_list = outer_list | push: converted_list %}
{% include grid_image_overlay_fashion_list.html sectionid=include.sectionid list=outer_list title=include.title title_url=include.title_url desc=include.desc readmore=include.readmore readmore_title=include.readmore_title cols=include.cols %}
