{% assign grid_list_array = ''| split: '/' %}

{% for group in include.list %}
	{% assign group_index = forloop.index %}

	{% assign grid_list_gourp_array = ''| split: '/' %}

	{% for element in group %}
		{% assign element_index = forloop.index %}

    {% comment %}
		<!-- element[0]: title -->
		<!-- element[1]: desc -->
    <!-- element[2]: image -->
		<!-- element[3]: url -->
		<!-- element[4]: bagde -->
		<!-- element[5]: day -->
	  <!-- element[6]: month -->
		<!-- element[7]: date -->
		{% endcomment %}
		{% assign element_title = element[0] %}
		{% assign element_desc = element[1] %}
    {% assign element_image = element[2] %}
		{% assign element_url = element[3] %}
		{% assign element_bagde = element[3] %}
		{% assign element_day = element[4] %}
		{% assign element_month = element[5] %}
		{% assign element_date = element[6] %}

		{% capture element_html %}
    <!-- BEGIN CARD ITEM -->
    {% include card_post_detailed.html title=element_title desc=element_desc image=element_image href=element_url badge=element_bagde day=element_day month=element_month date=element_year %}
    <!-- END CARD ITEM -->
    {% endcapture %}
    {% assign grid_list_gourp_array = grid_list_gourp_array | push: element_html %}

  {% endfor %}
  {% assign grid_list_array = grid_list_array | push: grid_list_gourp_array %}

{% endfor %}
{% include grid_list_container.html sectionid=include.sectionid cols=include.cols title=include.title title_url=include.title_url desc=include.desc readmore_title=include.readmore_title readmore=include.readmore list=grid_list_array %}
