<figure class="snip1515">
  <div class="profile-image"><img src="{{ include.image }}" /></div>
  <figcaption>
    <h3>{{ include.title }}</h3>
    <h4>{{ include.subtitle }}</h4>
    <p>{{ include.desc }}</p>
    <div class="icons">
      {% if include.url.size > 0 %}<a href="{{ include.url }}"><i class="ion-ios-home"></i></a>{% endif %}
      {% if include.email.size > 0 %}<a href="{{ include.email }}"><i class="ion-ios-email"></i></a>{% endif %}
      {% if include.phone.size > 0 %}<a href="{{ include.phone }}"><i class="ion-ios-telephone"></i></a>{% endif %}
    </div>
  </figcaption>
</figure>