{% assign grid_list_array = ''| split: '/' %}

{% for group in include.list %}
	{% assign group_index = forloop.index %}

	{% assign grid_list_gourp_array = ''| split: '/' %}

	{% for element in group %}
		{% assign element_index = forloop.index %}

    {% comment %}
		<!-- element[0]: title -->
		<!-- element[1]: desc -->
		<!-- element[2]: image -->
    <!-- element[3]: url -->
		<!-- element[4]: button -->
		<!-- element[5]: color -->
		{% endcomment %}
		{% assign element_title = element[0] %}
		{% assign element_desc = element[1] %}
		{% assign element_image = element[2] %}
    {% assign element_url = element[3] %}
		{% assign element_button = element[4] %}
		{% assign element_color = element[5] %}

		{% capture element_html %}
    <!-- BEGIN GRID ITEM -->
    {% include card_post_tinted.html title=element_title desc=element_desc image=element_image href=element_url color=element_color button=element_button maxwidth="100%" %}
    <!-- END GRID ITEM -->
    {% endcapture %}
    {% assign grid_list_gourp_array = grid_list_gourp_array | push: element_html %}

  {% endfor %}
  {% assign grid_list_array = grid_list_array | push: grid_list_gourp_array %}

{% endfor %}
{% include grid_list_container.html sectionid=include.sectionid cols=include.cols title=include.title title_url=include.title_url desc=include.desc readmore_title=include.readmore_title readmore=include.readmore list=grid_list_array %}
