{% assign grid_list_array = ''| split: '/' %}

{% for group in include.list %}
	{% assign group_index = forloop.index %}

	{% assign grid_list_gourp_array = ''| split: '/' %}

	{% for element in group %}
		{% assign element_index = forloop.index %}

    {% comment %}
		<!-- element[0]: title -->
    <!-- element[1]: image -->
		<!-- element[2]: url -->
		<!-- element[3]: github -->
	  <!-- element[4]: email -->
	  <!-- element[5]: phone -->
		{% endcomment %}
		{% assign element_title = element[0] %}
    {% assign element_image = element[1] %}
		{% assign element_url = element[2] %}
		{% assign element_github = element[3] %}
		{% assign element_email = element[4] %}
		{% assign element_phone = element[5] %}

		{% capture element_html %}
    <!-- BEGIN CARD ITEM -->
    {% include card_profile_drop_icons.html title=element_title image=element_image url=element_url github=element_github email=element_email phone=element_phone %}
    <!-- END CARD ITEM -->

    {% endcapture %}
    {% assign grid_list_gourp_array = grid_list_gourp_array | push: element_html %}

  {% endfor %}
  {% assign grid_list_array = grid_list_array | push: grid_list_gourp_array %}

{% endfor %}
{% include grid_list_container.html sectionid=include.sectionid cols=include.cols title=include.title title_url=include.title_url desc=include.desc readmore_title=include.readmore_title readmore=include.readmore list=grid_list_array %}
