{% assign converted_list = '' | split: '/' %}
{% for post in include.list %}
	{% assign tempSubArray = '' | split: '/' %}
	<!-- element[0]: title -->
	<!-- element[1]: subtitle -->
	<!-- element[2]: subtitle scroll -->
	<!-- element[3]: image -->
	<!-- element[4]: url -->
	{% assign tempSubArray = tempSubArray | push: post.title %}
	{% assign tempSubArray = tempSubArray | push: post.category %}
	{% assign tempTags = post.tags | join: " #" %}
	{% assign tempTags_final = '#' | append: tempTags %}
	{% assign tempSubArray = tempSubArray | push: tempTags_final %}
	{% capture post_img %}{% include post_hero_url.html image=post.hero.url res='low' %}{% endcapture %}
	{% assign post_img_hv = post_img | replace: '_H_', '_HV_' | replace: '_VH_', '_VH_' %}
	{% assign tempSubArray = tempSubArray | push: post_img_hv %}
	{% assign tempSubArray = tempSubArray | push: post.url %}

	{% assign converted_list = converted_list | push: tempSubArray %}
{% endfor %}

{% assign outer_list = '' | split: '/' %}
{% assign outer_list = outer_list | push: converted_list %}
{% include grid_image_overlay_simple_scroll_list.html sectionid=include.sectionid list=outer_list title=include.title title_url=include.title_url desc=include.desc readmore=include.readmore readmore_title=include.readmore_title cols=include.cols %}
