{% assign grid_list_array = ''| split: '/' %}

{% for group in include.list %}
	{% assign group_index = forloop.index %}

	{% assign grid_list_gourp_array = ''| split: '/' %}

	{% for element in group %}
		{% assign element_index = forloop.index %}

		{% capture element_html %}

		{% comment %}
		<!-- element[0]: url --><!-- if include.gallery: url => original media -->
		<!-- element[1]: title --><!-- if include.gallery: '' -->
		<!-- element[2]: desc --><!-- if include.gallery: '' -->
		<!-- element[3]: img --><!-- if include.gallery: img => thumbnail image -->
		<!-- element[4]: format --><!-- if include.gallery: format => media format -->
		<!-- element[5]: type --><!-- if include.gallery: type => media type | else : nil -->
		{% endcomment %}
		{% assign element_url = element[0] %}
		{% assign element_title = element[1] %}
		{% assign element_desc = element[2] %}
		{% assign element_img = element[3] %}
		{% assign element_format = element[4] %}
		{% assign element_media_type = element[5] | default: 'image' %}
		{% capture element_media_mix %} type="{{ element_media_type }}/{{ element_format }}"{% if element_media_type == 'video'%} data-poster="{{ element_img }}" data-sources='[{ "href": "{{ element_url }}", "type": "{{ element_media_type }}/{{ element_format }}"}]'{% endif %}{% endcapture %}
		<a href="{{ element_url }}" target="{{ include.target | default: '_self' }}"{% if include.gallery %}{{ element_media_mix }}{% endif %}>
			<figure aria-hidden="true" itemscope itemtype="https://schema.org/ImageObject" {{ element_media_mix }}>
					<link itemprop="contentUrl" href="{{ element_img }}">
					<meta itemprop="encodingFormat" content="{{ element_media_type }}/{{ element_format }}">
					<meta itemprop="name" content="thumbnail">
					<meta itemprop="headline" content="{{ element_img }}">
					<img itemprop="thumbnailUrl" alt="THUMBNAIL" src="{{ element_img }}" style="border-radius: 3px;"/>
      </figure>
			{% if element_title.size > 0 %}
				{% if include.external %}
					{% include link.html href=element_url title=element_title %}
				{% else %}
					<p itemprop="name">{{ element_title }}</p>
				{% endif %}
			{% endif %}
    </a>
		{% if element_desc.size > 0 %}<small itemprop="description"><p>{{ element_desc }}</p></small>{% endif %}

		{% endcapture %}
		{% assign grid_list_gourp_array = grid_list_gourp_array | push: element_html %}

	{% endfor %}
	{% assign grid_list_array = grid_list_array | push: grid_list_gourp_array %}

{% endfor %}
{% include grid_list_container.html sectionid=include.sectionid cols=include.cols title=include.title title_url=include.title_url desc=include.desc readmore_title=include.readmore_title readmore=include.readmore list=grid_list_array %}
