{% capture overlay_image %}{{ include.image }}{% endcapture %}
{% capture overlay_title %}{{ include.title }}{% endcapture %}
{% capture overlay_desc %}{{ include.desc }}{% endcapture %}
{% capture overlay_fadein %}{{ include.fadein }}{% endcapture %}
{% capture overlay_link %}{{ include.link }}{% endcapture %}
{% capture overlay_unsplash %}{{ include.unsplash }}{% endcapture %}
{% capture overlay_maxwidth %}{{ include.maxwidth }}{% endcapture %}
<div class="overlay_container">
  <div class="overlay_contents" style="max-width: {% if overlay_maxwidth.size > 0 %}{{ overlay_maxwidth }}{% else %}300px{% endif %};">
    {% if overlay_link.size > 0 %}<a class="overlay_a" href="{{ overlay_link }}" target="_blank">
    {% elsif overlay_unsplash.size > 0 %}<a class="overlay_a" href="https://unsplash.com/photos/{{ overlay_unsplash }}" target="_blank">{% endif %}
      <div class="content-overlay"></div>
      {% if overlay_unsplash.size > 0 %}<img class="content-image" src="https://source.unsplash.com/{{ overlay_unsplash }}">
      {% else %}<img class="content-image" src="{{ overlay_image }}">{% endif %}
      <div class="content-details fadeIn-{% if overlay_fadein.size > 0 %}{{ overlay_fadein }}{% else %}top{% endif %}">
        <p class="content-title">{{ overlay_title }}</p>
        {% if overlay_desc.size > 0 %}<p class="content-desc">{{ overlay_desc }}</p>{% endif %}
      </div>
    {% if overlay_link.size > 0 %}</a>
    {% elsif overlay_unsplash.size > 0 %}</a>{% endif %}
  </div>
</div>
