<figure class="overlay-image-{{ include.panelsize }}-panel overlay-image-{{ include.panelsize }}-panel-{{ include.color | default: 'blue' }}" style="{% if include.maxwidth.size > 0 %}max-width: {{ include.maxwidth }} !important;{% endif %}">
  <img src="{{ include.image }}" />
  <div class="image">
    <img src="{{ include.image }}" />
  </div>
  <figcaption>
    <h3>{{ include.title }}</h3>
    <p>{{ include.desc }}</p>
  </figcaption>
  <span class="read-more">{{ include.readmore | default: "View More" }}&nbsp;<i class="fa fa-arrow-right"></i></span>
  <a href=" {{ include.href }}"></a>
</figure>
