<figure class="snip1579"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="profile-sample2"/>
  <figcaption>
    <h3>Sue Shei</h3>
    <h5>Founder</h5>
    <blockquote>
      <p>'Which is worse, that everyone has his price, or that the price is always so low.'</p>
    </blockquote>
  </figcaption><a href="#"></a>
</figure>
<figure class="snip1579"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg" alt="profile-sample7"/>
  <figcaption>
    <h3>Indigo Violet</h3>
    <h5>Web Designer</h5>
    <blockquote>
      <p>'I'm killing time while I wait for life to shower me with meaning and happiness.'</p>
    </blockquote>
  </figcaption><a href="#"></a>
</figure>
<figure class="snip1579"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample96.jpg" alt="profile-sample6"/>
  <figcaption>
    <h3>Will Barrow</h3>
    <h5>Public Relations</h5>
    <blockquote>
      <p>'The only skills I have the patience to learn are those that have no real application in life.'</p>
    </blockquote>
  </figcaption><a href="#"></a>
</figure>