<figure class="overlay-image-scale-detail" style="{% if include.maxwidth.size > 0 %}max-width: {{ include.maxwidth }} !important;{% endif %}{% if include.maxheight.size > 0 %}max-height: {{ include.maxheight }} !important;{% endif %}">
  <img src="{{ include.image }}" />
  <figcaption>
    <div class="heading">
      <h2 toc-skip="true">{{ include.title }}</h2>
    </div>
    <p>{{ include.desc }}</p>
  </figcaption>
  {% if include.href.size > 0 %}<a href="{{ include.href }}"></a>{% endif %}
</figure>
