<!-- BEGIN KEYBOARD -->
<style type="text/css">
  .kbd_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
  .keyboard {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 0;
    border-radius: 4px;
    border: 13px solid #777;
    border-top-color: #666;
    border-bottom-color: #888;
    outline: 3px solid rgba(0, 0, 0, 0.2);
    outline-offset: -1px;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.5), 0 2rem 3rem -0.5rem rgba(0, 0, 0, 0.55);
    background-image: radial-gradient(#111, #222);
    padding: 0.25rem;
  }

  .row {
    height: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 617.2px;
    padding-top: 1px;
    margin-bottom: 2px;
  }
</style>
<div class="kbd_wrapper">
  <div class="keyboard">
    <div class="row">
      <kbd data-key="esc"></kbd><kbd data-key="f1"></kbd><kbd data-key="f2"></kbd><kbd data-key="f3"></kbd><kbd data-key="f4"></kbd><kbd data-key="f5"></kbd><kbd data-key="f6"></kbd><kbd data-key="f7"></kbd><kbd data-key="f8"></kbd><kbd data-key="f9"></kbd><kbd data-key="f10"></kbd><kbd data-key="f11"></kbd><kbd data-key="f12"></kbd><kbd data-key="power"></kbd>
    </div>
    <div class="row">
      <kbd data-key="`" data-alt="~"></kbd><kbd data-key="1" data-alt="!"></kbd><kbd data-key="2" data-alt="@"></kbd><kbd data-key="3" data-alt="#"></kbd><kbd data-key="4" data-alt="$"></kbd><kbd data-key="5" data-alt="%"></kbd><kbd data-key="6" data-alt="^"></kbd><kbd data-key="7" data-alt="&"></kbd><kbd data-key="8" data-alt="*"></kbd><kbd data-key="9" data-alt="("></kbd><kbd data-key="0" data-alt=")"></kbd><kbd data-key="-" data-alt="_"></kbd><kbd data-key="=" data-alt="+"></kbd><kbd data-key="backspace"></kbd>
    </div>
    <div class="row">
      <kbd data-key="tab"></kbd><kbd data-key="q"></kbd><kbd data-key="w"></kbd><kbd data-key="e"></kbd><kbd data-key="r"></kbd><kbd data-key="t"></kbd><kbd data-key="y"></kbd><kbd data-key="u"></kbd><kbd data-key="i"></kbd><kbd data-key="o"></kbd><kbd data-key="p"></kbd><kbd data-key="[" data-alt="{"></kbd><kbd data-key="]" data-alt="}"></kbd><kbd data-key="\" data-alt="|"></kbd>
    </div>
    <div class="row">
      <kbd data-key="caps"></kbd><kbd data-key="a"></kbd><kbd data-key="s"></kbd><kbd data-key="d"></kbd><kbd data-key="f"></kbd><kbd data-key="g"></kbd><kbd data-key="h"></kbd><kbd data-key="j"></kbd><kbd data-key="k"></kbd><kbd data-key="l"></kbd><kbd data-key=";" data-alt=":"></kbd><kbd data-key="'" data-alt='"'></kbd><kbd data-key="enter"></kbd>
    </div>
    <div class="row">
      <kbd data-key="lshift"></kbd><kbd data-key="z"></kbd><kbd data-key="x"></kbd><kbd data-key="c"></kbd><kbd data-key="v"></kbd><kbd data-key="b"></kbd><kbd data-key="n"></kbd><kbd data-key="m"></kbd><kbd data-key="," data-alt="<"></kbd><kbd data-key="." data-alt=">"></kbd><kbd data-key="/" data-alt="?"></kbd><kbd data-key="rshift"></kbd>
    </div>
    <div class="row">
      <kbd data-key="fn"></kbd><kbd data-key="lctrl"></kbd><kbd data-key="lopt"></kbd><kbd data-key="lcmd"></kbd><kbd data-key="space"></kbd><kbd data-key="rcmd"></kbd><kbd data-key="ropt"></kbd><kbd data-key="rctrl"></kbd><kbd data-key="left"></kbd><kbd data-key="updown"></kbd><kbd data-key="right"></kbd>
    </div>
  </div>
</div>
<!-- END KEYBOARD -->
