{% capture video_no_window %}{{ include.no_window }}{% endcapture %}
{% capture video_aspect %}{{ include.aspect }}{% endcapture %}
{% capture video_src %}{{ include.src }}{% endcapture %}{% capture video_poster %}{{ include.poster }}{% endcapture %}
{% capture video_ytb %}{{ include.ytb }}{% endcapture %}
{% capture video_a %}{{ include.a }}{% endcapture %}{% capture video_b %}{{ include.b }}{% endcapture %}
{% if video_no_window == 'true' %}
      <div class="window-wrapper" style="padding-top: {% if video_aspect.size > 0 %}{{ video_aspect }}{% else %}56.25%{% endif %}; border-radius: 5px; border: 1px solid var(--charcoal-gray);">
{% else %}
  {% capture video_title %}{% if include.title.size > 0 %}{{ include.title }}{% elsif video_src.size > 0 %}Video.mp4{% elsif video_ytb.size > 0 %}Youtube.com{% elsif video_a.size > 0 or video_b.size > 0 %}Bilibili.com{% endif %}{% endcapture %}
  {% if video_aspect.size > 0 %}
    {% include window_mac_start.html title=video_title aspect=video_aspect %}
  {% else %}
    {% include window_mac_start.html title=video_title aspect="56.25%" %}
  {% endif %}
{% endif %}
  {% if video_src.size > 0 %}<video style="{% if video_no_window == 'true' %}border-radius: 5px;{% endif %}" class="video-js" controls{% if video_poster.size > 0 %} poster="{{ video_poster}}"{% endif %} data-setup='' loop><source src="{{ video_src }}" type='video/mp4'></video>
  {% elsif video_ytb.size > 0 %}<iframe style="{% if video_no_window == 'true' %}border-radius: 5px;{% endif %}" width="100%" height="100%" src="https://www.youtube.com/embed/{{ video_ytb }}" scrolling="no" border="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% elsif video_a.size > 0 %}<iframe style="{% if video_no_window == 'true' %}border-radius: 5px;{% endif %}" src="//player.bilibili.com/player.html?aid={{ video_a }}" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" autoplay="0"> </iframe>
  {% elsif video_b.size > 0 %}<iframe style="{% if video_no_window == 'true' %}border-radius: 5px;{% endif %}" src="//player.bilibili.com/player.html?bvid={{ video_b }}" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" autoplay="0"> </iframe>
  {% endif %}
{% if video_no_window == 'true' %}
      </div>
{% else %}
  {% include window_mac_end.html %}
{% endif %}
