{% capture old_mac_window_title %}{{ include.title }}{% endcapture %}
<div class="old-mac-window border-box">
	<div class="top-bar border-box">
		<div class="square left-float border-box"></div>
		<div class="square right-float border-box"></div>
		<div class="title-bar border-box">
			<div class="lines border-box"></div>
			<div class="lines border-box"></div>
			<div class="lines border-box"></div>
			<div class="lines border-box"></div>
			<div class="lines border-box"></div>
			<div class="title-container border-box">
				<center class="title-center"><div class="title border-box">{{ old_mac_window_title }}</div></center>
			</div>
		</div>
	</div>
	<div class="contents border-box">
		<div class="main-content border-box">
			<article class="article-content">
