---
layout: default
title: "Blogroll"
active_title: "Blogroll"
prelink_js: []
prelink_css: []
afterlink_js: []
afterlink_css: []
preload_js: []
preload_css: []
afterload_js: []
afterload_css: []
on_load:
  call: ""
  def: ''
---
{% include grid_profile_cycle.html title="the <span>Senorita</span>" caption="Designer" desc=site.description image="/assets/images/avatar.jpg" %}

{% include grid_profile_net.html title="Senorita" subtitle="Just A Designer" desc=site.description image="/assets/images/avatar.jpg" %}