---
layout: default
title: "Blogroll"
active_title: "Blogroll"
prelink_js: []
prelink_css: []
afterlink_js: []
afterlink_css: []
preload_js: []
preload_css: []
afterload_js: []
afterload_css: []
on_load:
  call: ""
  def: ''
---
{% assign grid_list_array = ''| split: '/' %}
{% assign grid_list_gourp_array = ''| split: '/' %}
{% for link in site.data.blogroll %}
  {% assign grid_list_element_array = ''| split: '/' %}
  <!-- element[0]: title -->
  <!-- element[1]: subtitle -->
  <!-- element[2]: desc -->
  <!-- element[3]: image -->
  <!-- element[4]: url -->
  <!-- element[5]: github -->
  <!-- element[6]: email -->
  <!-- element[7]: phone -->
  {% assign grid_list_element_array = grid_list_element_array | push: link.title %}
  {% assign grid_list_element_array = grid_list_element_array | push: link.subtitle %}
  {% assign grid_list_element_array = grid_list_element_array | push: link.desc %}
  {% assign grid_list_element_array = grid_list_element_array | push: link.image %}
  {% assign grid_list_element_array = grid_list_element_array | push: link.url %}
  {% assign grid_list_element_array = grid_list_element_array | push: link.github %}
  {% assign grid_list_element_array = grid_list_element_array | push: link.emial %}
  {% assign grid_list_element_array = grid_list_element_array | push: link.phone %}

  {% assign grid_list_gourp_array = grid_list_gourp_array | push: grid_list_element_array %}
{% endfor %}
{% assign grid_list_array = grid_list_array | push: grid_list_gourp_array %}

{% include grid_card_profile_bordered_list.html list=grid_list_array desc=" " cols=3 %}
