---
layout: default
title: "Tweets"
prelink_js: []
prelink_css: ['/assets/gallery/sourcecode/css/blueimp-gallery.min.css', '/assets/gallery/sourcecode/css/blueimp-exception.css']
afterlink_js: ['/assets/gallery/sourcecode/js/blueimp-gallery.min.js', '/assets/gallery/sourcecode/js/blueimp-binding.js']
afterlink_css: []
preload_js: []
preload_css: []
afterload_js: ['bindGalleryEventById("tweet-list");']
afterload_css: []
on_load:
  call: ""
  def: ''
---
<style type="text/css">
  :root {
    --tweet-avatar-length: 47px;
    --tweet-user-font-size: 18px;
    --tweet-user-line-height: 20px;
    --tweet-text-font-size: 14px;
    --tweet-text-line-height: 16px;
    --tweet-color-light: #FCFCFC;
    --tweet-color-dark: ##15202B;
    --tweet-color-white: #ffffff;
    --tweet-color-black: #000000;
    --tweet-color-gray: #8899A6;
    --tweet-color-text-light: #EDEDED;
    --tweet-color-text-dark: #212529;
    --tweet-color-sky: #00BAF1;
    --tweet-margin: 16px;
  }
  .tweet-card {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    max-width: 640px;
    min-width: 320px;
    border-radius: var(--tweet-margin);
    text-align: left;
    margin: var(--tweet-margin) auto;
    padding: var(--tweet-margin);
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    word-wrap: break-word;
    align-items: flex-start;
  }
  .light .tweet-card {
    border: 1px solid rgba(255, 255, 255, .125);
    background-color: var(--tweet-color-light);
  }
  .dark .tweet-card {
    border: 1px solid rgba(255, 255, 255, .125);
    background-color: var(--tweet-color-dark);
  }
  .tweet-left-panel {
    width: var(--tweet-avatar-length);
  }
  .tweet-right-panel {
    flex: 1;
    margin-left: var(--tweet-margin);
  }
  .tweet-user-avatar {
    display: block;
    width: var(--tweet-avatar-length);
    height: var(--tweet-avatar-length);
    border-radius: 50%;
  }
  .tweet-user-info {
    height: var(--tweet-user-line-height);
  }
  .tweet-user-info .tweet-name {
    font-weight: bold;
    font-size: var(--tweet-user-font-size);
    line-height: var(--tweet-user-line-height);
  }
  .light .tweet-user-info .tweet-name {
    color: var(--tweet-color-black);
  }
  .dark .tweet-user-info .tweet-name {
    color: var(--tweet-color-white);
  }
  .tweet-user-info .tweet-account,
  .tweet-user-info .tweet-dot,
  .tweet-user-info .tweet-date {
    color: var(--tweet-color-gray);
    font-weight: 400;
    font-size: var(--tweet-user-font-size);
    line-height: var(--tweet-user-line-height);
  }
  .tweet-user-info .tweet-name a {
    text-decoration: none;
  }
  .light .tweet-user-info .tweet-name a {
    color: var(--tweet-color-black);
  }
  .dark .tweet-user-info .tweet-name a {
    color: var(--tweet-color-white);
  }
  .tweet-user-info .tweet-account a {
    text-decoration: none;
    color: var(--tweet-color-gray);
  }
  .tweet-user-info .tweet-name a:hover,
  .tweet-user-info .tweet-account a:hover {
    text-decoration: underline;
    color: var(--tweet-color-sky);
  }
  .tweet-contents,
  .tweet-contents .tweet-text,
  .tweet-contents .tweet-text p {
    font-size: var(--tweet-text-font-size);
    font-weight: 400;
    line-height: var(--tweet-text-line-height);
    margin: 10px auto;
  }
  .light .tweet-contents,
  .light .tweet-contents .tweet-text,
  .light .tweet-contents .tweet-text p {
    color: var(--tweet-color-text-dark);
  }
  .dark .tweet-contents,
  .dark .tweet-contents .tweet-text,
  .dark .tweet-contents .tweet-text p {
    color: var(--tweet-color-text-light);
  }
  .tweet-media {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    border-radius: 5px;
  }
  .tweet-media .tweet-media-cell {
    /* flex: 0 0 50.00%;
    -ms-flex: 0 0 50.00%;
    -webkit-flex: 0 0 50.00%; */
    box-sizing: border-box;
  }
  .tweet-media .tweet-media-cell img {
    display: block;
    width: 100%;
  }
</style>
<div class="tweet-list" id="tweet-list">
  {% for tweet in site.tweets %}
  <div class="tweet-card">
    <div class="tweet-left-panel">
      <img class="tweet-user-avatar" src="{{ site.url }}/assets/images/avatar/avatar_color.png" />
    </div>
    <div class="tweet-right-panel">
      <div class="tweet-user-info">
        <span class="tweet-name"><a href="{{ site.url }}/about/">{{ site.author }}</a></span>
        <span class="tweet-account"><a href="{{ site.url }}/about/">@picsew</a></span>
        <span class="tweet-dot">·</span>
        <span class="tweet-date">{{ tweet.date | date: "%b %d, %Y" }}</span>
      </div>
      <div class="tweet-contents">
        <div class="tweet-text">
          <p>{{ tweet.text }}</p>
        </div>
        {% if tweet.media.size > 0 %}
        <div class="tweet-media">
          {% assign tweet_media_size_modulo2 = tweet.media.size | modulo: 2 %}
          {% for tweet_img in tweet.media %}
          {% if tweet.media.size == 1 %}
            {% assign tweet_media_cols = 1 %}
          {% elseif tweet.media.size == 2 %}
            {% assign tweet_media_cols = 2 %}
          {% else %}
            {% if tweet_media_size_modulo2 == 0 %}
              {% assign tweet_media_cols = 2 %}
            {% else %}
              {% assign tweet_media_cols = 3 %}
            {% endif %}
          {% endif %}
          {% capture tweet_media_cols %}style="{% include grid_cols_to_style.html cols=tweet_media_cols %}{% endcapture %}
          <div class="tweet-media-cell">
            {% assign tweet_media_type = tweet_img.type | default: 'image' %}
            {% assign tweet_media_format = tweet_img.format %}
            {% assign tweet_media_folder = site.url | append: '/assets/tweets/' %}
            {% assign tweet_media_original = tweet_media_folder | append: tweet_img.url %}
            {% assign tweet_media_preview = tweet_media_folder | append: 'preview_' | append: tweet_img.url %}
            <a href="{{ tweet_media_original }}" type="{{ tweet_media_type }}/{{ tweet_media_format }}"{% if tweet_media_type == 'video' %} data-poster="{{ tweet_media_preview }}" data-sources='[{ "href": "{{ tweet_media_original }}", "type": "{{ tweet_media_type }}/{{ tweet_media_format }}"}]'{% endif %}>
              <img src="{{ tweet_media_preview }}" />
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% include gallery_lightbox.html %}
