/*** layout ***/
._fJSFiddle_holder{position:relative; width:100%; height:100%; font-family:verdana; font-size:12px;}

/*** menu ***/
._fJSFiddle_menu{position:absolute; left:0px; top:0px; width:100%; height:30px; line-height:30px; background:#555555; color:#FFFFFF;}
._fJSFiddle_menuPadding{padding-left:205px;}
._fJSFiddle_menuButton{font-weight:bold; line-height:30px; cursor:pointer;}
._fJSFiddle_menuBullet{color:#CACACA; font-size:8px; margin:0 3px;}

/*** sidebar ***/
._fJSFiddle_sidebar{position:absolute; left:0px; top:0px; width:200px; height:100%; background:#CACACA; border-right:solid #FFFFFF 1px;}
._fJSFiddle_sidebarPadding{padding:0 10px;}
._fJSFiddle_sidebarLabel{font-weight:bold; font-size: 10px; margin:10px 0 5px 0;}
._fJSFiddle_sidebarSelect{width: 180px;}

/*** code area ***/
._fJSFiddle_codeArea{position:absolute; left:201px; top:0px; width:400px; height:100%; background:#CACACA;}
._fJSFiddle_codeAreaTable{width:100%; height:100%;}
._fJSFiddle_boxLeft,._fJSFiddle_boxRight{width:50%;}
._fJSFiddle_boxTop{height:40%;}
._fJSFiddle_boxBottom{height:60%;}
._fJSFiddle_boxContainer{position:relative; width:100%; height:100%; overflow:hidden;}
._fJSFiddle_boxEdit{position:absolute; left:0px; top:0px; width:100%; height:100%; margin-top:0px; border:none; resize:none; background:#FFFFFF;}
._fJSFiddle_boxLabel{position:absolute; right:5px; top:5px; padding:0 3px; border:solid #CACACA 1px; font-size:10px; color:#CACACA;}
