---
layout: default
title: "About"
active_title: "About"
---
<style type="text/css">
  .dark .profile-image img {
    content: url('https://picsew.cn/assets/images/avatar.png') !important;
  }
  .light .profile-image img {
    content: url('https://picsew.cn/assets/images/avatar_color.png') !important;
  }
</style>
{% include gap.html %}
{% include card_profile_bubble.html title=site.name subtitle=site.alias desc=site.description url=site.url github=site.github_url email=site.email image="" maxwidth="100%" %}
{% include signature.html %}
