---
layout: default
title: "About"
active_title: "About"
---
<style type="text/css">
  .profile-image img {
    background-size: cover;
    width: 80px;
    height: 80px;
  }
  .dark .profile-image img {
    background-image: url({{ site.url }}{{ site.avatar.rect.normal }});
  }
  .light .profile-image img {
    background-image: url({{ site.url }}{{ site.avatar.rect.reverse }});
  }
</style>
{% include gap.html %}
{% include card_profile_bubble.html title=site.name subtitle=site.alias desc=site.description url=site.url github=site.github_url email=site.email image=site.data.base64.pixel1trans maxwidth="100%" %}
{% include signature.html %}
