.dark blockquote.layer {
  background-color: #272822 !important;
}

.dark blockquote.layer-bright {
  background-color: #888 !important;
}

.dark blockquote.layer-bright::before {
  color: #000 !important;
}

.light blockquote.layer {
  background-color: #F7F7F7 !important;
}

.light blockquote.layer-bright {
  background-color: #888 !important;
}

.light blockquote.layer-bright::before {
  color: #000 !important;
}
