a.round-button {
  color: #ffd43b;
  fill: currentColor;
  background: #000;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  border: 2px solid #ffd43b !important;
}

a.round-button-flex {
  display: flex;
}

a.round-button-inline-block {
  display: inline-block;
  margin: 5px;
}

a.round-button:hover {
  background: #222;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

a.round-button:first-child {
  margin-bottom: 20px;
}

@media (min-width: 375px) {
  a.round-button {
    justify-content: center;
  }

  a.round-button:first-child {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

a.round-button svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

a.round-button:visited {
  color: #fff;
}

div.round-button-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
}

@media (min-width: 375px) {
  div.round-button-row {
    flex-direction: row;
  }

  div.round-button-row a.round-button:not(:first-child) {
    margin-left: 20px;
  }
}
