.dropdown_button_wrapper {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    background-color: #699318;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
}

.dropdown_button_list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_button_list a.dropdown_button_link {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: #fff;
}

.dropdownsie-content a.dropdown_button_link:hover {
  background-color: #F8F9FD;
  border: none;
}

.dropdown_button_wrapper:hover .dropdown_button_list {
    display: block;
}

.dropdown_button_wrapper:hover .dropdown_button {
    background-color: #709D1A;
}
