.dropdown_button_wrapper {
  position: relative;
  display: inline-block;
}

.dropdown_button {
  background-color: #699318;
  color: #fff;
  padding: 10px 32px;
  font-size: 16px;
  border-radius: calc((20px + 10px * 2) * 0.5);
  cursor: pointer;
  border-width: 0;
  line-height: 20px;
}

.dropdown_button_list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.dropdown_button_link {
  color: #333 !important;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  background: none !important;
  font-size: 16px;
  border: none !important;
  line-height: 20px;
}

.dropdown_button_link:hover {
  background-color: #F1F2F3 !important;
  border: none !important;
}

.dropdown_button_wrapper:hover .dropdown_button_list {
  display: block;
  /* position: relative; */
}

.dropdown_button_wrapper:hover .dropdown_button {
  background-color: #709D1A;
}
