@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

.drop-icons-profile-card {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px auto !important;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
}

.drop-icons-profile-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.drop-icons-profile-card img {
  opacity: 1;
  max-width: 100%;
  vertical-align: top;
}

.drop-icons-profile-card figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 20px;
}

.drop-icons-profile-card figcaption:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: #ffffff;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  z-index: -1;
}

.drop-icons-profile-card h3 {
  line-height: 40px;
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.drop-icons-profile-card h3::before,
.drop-icons-profile-card h3::after {
  display: none !important;
}

.drop-icons-profile-card .icons {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.drop-icons-profile-card .icons a {
  display: inline-block;
}

.drop-icons-profile-card .icons i {
  color: #ffffff;
  line-height: 40px;
  width: 32px;
  font-size: 1.4em;
  padding: 0;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.drop-icons-profile-card .icons i:hover {
  background-color: #34495e;
  color: #ffffff;
}

.drop-icons-profile-card:hover img,
.drop-icons-profile-card.hover img {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.drop-icons-profile-card:hover figcaption,
.drop-icons-profile-card.hover figcaption {
  color: #34495e;
}

.drop-icons-profile-card:hover figcaption:before,
.drop-icons-profile-card.hover figcaption:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.drop-icons-profile-card:hover figcaption i,
.drop-icons-profile-card.hover figcaption i {
  color: #34495e;
}
