@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

figure.card-post-tinted {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px auto !important;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: left;
}

figure.card-post-tinted.blue {
  background-color: #20638f;
}

figure.card-post-tinted.yellow {
  background-color: #c87f0a;
}

figure.card-post-tinted.green {
  background-color: #1e8449;
}

figure.card-post-tinted.navy {
  background-color: #222f3d;
}

figure.card-post-tinted.red {
  background-color: #962d22;
}

figure.card-post-tinted * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.card-post-tinted img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

figure.card-post-tinted figcaption {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
}

figure.card-post-tinted h2,
figure.card-post-tinted p {
  margin: 0;
  padding: 0;
  color: #fff;
}

figure.card-post-tinted h2 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.8em;
}

figure.card-post-tinted h2::before,
figure.card-post-tinted h2::after {
  display: none !important;
}

figure.card-post-tinted p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4em;
}

figure.card-post-tinted a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}

figure.card-post-tinted a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

figure.card-post-tinted:hover img,
figure.card-post-tinted.hover img {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.card-post-tinted:hover a,
figure.card-post-tinted.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
