@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

figure.quotes-profile-card {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px auto !important;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  text-align: left;
  box-shadow: none !important;
}

.dark figure.quotes-profile-card {
  color: #333;
}

.light figure.quotes-profile-card {
  color: #ccc;
}

figure.quotes-profile-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.quotes-profile-card img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  left: 40px;
}

figure.quotes-profile-card .quotes {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  padding: 65px 50px 35px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: -40px 0 0;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.dark figure.quotes-profile-card .quotes {
  background-color: #fafafa;
}

.light figure.quotes-profile-card .quotes {
  background-color: #040404;
}

figure.quotes-profile-card .quotes:before,
figure.quotes-profile-card .quotes:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.quotes-profile-card .quotes:before {
  top: 55px;
  left: 20px;
}

figure.quotes-profile-card .quotes:after {
  content: "\201D";
  right: 20px;
  bottom: 5px;
}

figure.quotes-profile-card .author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  padding: 0 35px;
  position: relative;
  z-index: 1;
}

figure.quotes-profile-card .author h5,
figure.quotes-profile-card .author span {
  left: 130px;
  position: absolute;
  opacity: 0.8;
  padding: 3px 5px;
}

figure.quotes-profile-card .author h5 {
  text-transform: uppercase;
  bottom: 50%;
  margin: 0;
  font-weight: 800;
}

.dark figure.quotes-profile-card .author h5 {
  color: #ffffff;
}

.light figure.quotes-profile-card .author h5 {
  color: var(--light-text-color);
}

figure.quotes-profile-card .author h5::before,
figure.quotes-profile-card .author h5::after {
  display: none !important;
}

figure.quotes-profile-card .author span {
  font-size: 0.8em;
  top: 50%;
  font-weight: 500;
}

.dark figure.quotes-profile-card .author span {
  color: #000;
}

.light figure.quotes-profile-card .author span {
  color: #fff;
}
