.card-profile-simple-white-column {
  z-index: 0;
  margin: 0 auto;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}

.card-profile-simple-white-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.card-profile-simple-white-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}

.card-profile-simple-white-column:hover .card-profile-simple-white-social {
  margin: 16px 0 0;
  opacity: 1;
}

@media (max-width: 800px) {
  .card-profile-simple-white-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}

@media (max-width: 600px) {
  .card-profile-simple-white-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}

.card-profile-simple-white-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
}

.card-profile-simple-white-user-avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}

.card-profile-simple-white-user-avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
  background-color: #ffd43b;
}

.card-profile-simple-white-user-name {
  color: #313435;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}

.card-profile-simple-white-user-title {
  color: #6F808A;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}

.card-profile-simple-white-social {
  /* margin: 0 0 -18px; */
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
  transition: margin 0.2s ease, opacity 0.2s ease;
}

.card-profile-simple-white-social-item {
  display: inline-block;
  margin: 0 10px;
}

.card-profile-simple-white-social-item .fa {
  color: #515F65;
  height: 18px;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.card-profile-simple-white-social-item .fa:hover {
  color: #788D96;
}

.card-profile-simple-white-social-item a {
  display: block;
}
