/* CENTERED */
div.centered {
	position: relative !important;
	font-size: 40px !important;
	text-align: center !important;
	margin: 0.2em 0 !important;
}

div.centered::after {
	border-bottom: 2px solid #ffd43b !important;
	content: '' !important;
	width: 100px !important;
	margin: .2em auto 0 !important;
	height: 2px !important;
	display: block !important;
}
