:root {
  --dark-page-color: #111;

  --dark-link-color: var(--link-color);
  --dark-link-color--active: var(--link-color--active);;
  --dark-link-bg-color: rgba(0,0,0,0);
  --dark-link-bg-color--active: var(--link-bg-color--active);
  --dark-link-border-color: var(--link-border-color);
  --dark-link-border-color--active: var(--link-border-color--active);

  --dark-nav-color: var(--link-color);
  --dark-nav-color--active: var(--link-color--active);
  --dark-nav-bg-color: rbga(0,0,0,0);
  --dark-nav-bg-color--active: var(--link-bg-color--active);
  --dark-nav-border-color: var(--link-border-color);
  --dark-nav-border-color--active: var(--link-border-color--active);

  --dark-text-color: var(--hackcss-dark--text-color);
  --dark-text-color--stronger: #fff;
  --dark-bg-color: #000;
  --dark-code-color: #fff;
}

.dark {
  background-color: var(--dark-page-color);
  color: #ccc;
}

.dark {
  color: var(--text-color--light);
  /* reset */
}

.hack.dark h1[itemprop] {
  filter: brightness(3);
}

.dark strong {
  color: #D09A6A;
}

.dark strong:before, .dark strong:after {
  content: '**';
  color: #D09A6A;
}

.dark .alert strong {
  color: #fff;
}

.dark .alert strong:before, .dark .alert strong:after {
  content: ''
}

.dark header h1,
.dark header h2,
.dark header h3,
.dark header h4,
.dark header h5,
.dark header h6 {
  color: var(--text-color--dark);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark h1 a,
.dark h2 a,
.dark h3 a,
.dark h4 a,
.dark h5 a,
.dark h6 a {
  color: #ccc;
  border: none;
}

.dark h1 a:hover,
.dark h2 a:hover,
.dark h3 a:hover,
.dark h4 a:hover,
.dark h5 a:hover,
.dark h6 a:hover {
  background: none;
}

.dark code {
  color: #fff;
}

.dark code {
  font-weight: 100
}

.dark table {
  color: #ccc
}

.dark table td,
.dark table th {
  border-color: #444
}

.dark table tbody td:first-child {
  color: #fff
}

.dark .form-group label {
  color: #ccc;
  border-color: rgba(95, 95, 95, .78)
}

.dark .form-group.form-textarea label:after {
  background-color: #000
}

.dark .form-control {
  color: #ccc;
  border-color: rgba(95, 95, 95, .78)
}

.dark .form-control:focus {
  border-color: #ccc;
  color: #ccc
}

.dark textarea.form-control {
  color: #ccc
}

.dark .card {
  border-color: rgba(95, 95, 95, .78)
}

.dark .card .card-header {
  background-color: transparent;
  color: #ccc;
  border-bottom: 1px solid rgba(95, 95, 95, .78)
}

.dark .btn.btn-ghost.btn-default {
  border-color: #ababab;
  color: #ababab
}

.dark .btn.btn-ghost.btn-default:focus,
.dark .btn.btn-ghost.btn-default:hover {
  border-color: #9c9c9c;
  color: #9c9c9c;
  z-index: 1
}

.dark .btn.btn-ghost.btn-default:focus,
.dark .btn.btn-ghost.btn-default:hover {
  border-color: #e0e0e0;
  color: #e0e0e0
}

.dark .btn.btn-ghost.btn-primary:focus,
.dark .btn.btn-ghost.btn-primary:hover {
  border-color: #64b5f6;
  color: #64b5f6
}

.dark .btn.btn-ghost.btn-success:focus,
.dark .btn.btn-ghost.btn-success:hover {
  border-color: #81c784;
  color: #81c784
}

.dark .btn.btn-ghost.btn-info:focus,
.dark .btn.btn-ghost.btn-info:hover {
  border-color: #4dd0e1;
  color: #4dd0e1
}

.dark .btn.btn-ghost.btn-error:focus,
.dark .btn.btn-ghost.btn-error:hover {
  border-color: #e57373;
  color: #e57373
}

.dark .btn.btn-ghost.btn-warning:focus,
.dark .btn.btn-ghost.btn-warning:hover {
  border-color: #ffb74d;
  color: #ffb74d
}

.dark .avatarholder,
.dark .placeholder {
  background-color: transparent;
  border-color: #333
}

.dark .menu .menu-item {
  color: #ccc;
  border-color: rgba(95, 95, 95, .78)
}

.dark .menu .menu-item.active,
.dark .menu .menu-item:hover {
  color: #fff;
  border-color: #ccc
}

.dark a {
  color: var(--dark-link-color);
  background-color: var(--dark-link-bg-color);
  border-color: var(--dark-link-border-color);
  border-bottom: 1px var(--dark-link-border-color) dashed;
}

.dark a:hover,
.dark a:focus {
  color: var(--link-color--active);
  border-color: var(--link-border-color--active);
  background-color: var(--dark-link-bg-color--active);
  outline: none;
}

.dark article[itemtype="http://schema.org/BlogPosting"] header .blur-up {
  opacity: 0.92;
}

.dark nav a[itemprop="url"].active {
  color: var(--navlink-color--active);
  background-color: var(--navlink-bg-color--active);
  border-color: var(--navlink-border-color--active);
}

.dark nav a[itemprop="url"].active:hover,
.dark nav a[itemprop="url"].active:focus {
  filter: brightness(1.1);
}

.dark nav a[itemprop="url"],
.dark nav.readmore a {
  text-transform: lowercase;
  color: var(--navlink-color);
  border-color: var(--navlink-border-color);
  padding: 6px;
  margin: unset;
  display: inline-block;
}

.dark>header nav::after {
  position: absolute;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 80%, rgba(100, 100, 100, 1) 100%);
}

.dark nav:first-of-type a[itemprop="url"]:first-of-type {
  color: var(--trim-color);
}

.dark nav a[itemprop="url"]:hover,
.dark nav a[itemprop="url"]:focus {
  color: var(--navlink-color--active);
  background-color: var(--navlink-bg-color--active);
}

.dark nav a[itemprop="url"] svg {
  stroke: var(--accent-color);
  margin-bottom: -2px;
}

.dark a.btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: lowercase;
  border-bottom: 1px var(--trim-color) dashed !important;
  color: var(--trim-color) !important;
  padding: 6px;
  margin: unset;
  display: inline-block;
}

.dark a.btn:hover {
  /* background-color: #ff2e88; */
  background-color: var(--navlink-bg-color--active) !important;
  color: #fff
}

.dark .form[role="search"] label {
  color: var(--trim-color) !important;
}

.dark .form[role="search"] .form-control {
  color: var(--link-color--active) !important;
}

.dark .form[role="search"] .form-control:focus,
.dark .form[role="search"] .form-control:hover,
.dark .form[role="search"] .form-control:target {
  color: var(--link-color--active) !important;
}

.dark blockquote {
  background-color: var(--atomone-gray);
}

.dark blockquote blockquote {
  background-color: var(--accessible-gray);
}
