@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.overlay-image-box {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px auto;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.overlay-image-box * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.overlay-image-box img {
  max-width: 100%;
  vertical-align: top;
}
.overlay-image-box figcaption {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}
.overlay-image-box h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
  max-height: 24px;
  overflow: hidden;
}
.overlay-image-box h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
  max-height: 25px;
  overflow: hidden;
  font-size: 16px;
}
.overlay-image-box h3::before,
.overlay-image-box h5::before,
.overlay-image-box h3::after,
.overlay-image-box h5::after {
  display: none;
}
.overlay-image-box p {
  padding: 0;
  margin: 5px 0 0 0;
  font-style: italic;
  font-size: 1em;
  word-wrap: break-all;
  overflow: hidden;
  max-height: 98px;
}
.overlay-image-box a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay-image-box:hover figcaption,
.overlay-image-box.hover figcaption {
  height: calc(85%);
}
