@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800;);

.overlay-image-bw-rect {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px auto !important;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #ffffff;
}

.overlay-image-bw-rect * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.overlay-image-bw-rect img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.overlay-image-bw-rect figcaption {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 1.1em;
  overflow: hidden;
  height: 44px;
}

.overlay-image-bw-rect h3 {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
  height: 44px;
}

.overlay-image-bw-rect h3::before,
.overlay-image-bw-rect h3::after {
  display: none !important;
}

.overlay-image-bw-rect h3.hover {
  color: #ffffff;
  font-weight: 800;
}

.overlay-image-bw-rect a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border: none !important;
}

.overlay-image-bw-rect a:hover {
  background: none !important;
}

.overlay-image-bw-rect:hover>img,
.overlay-image-bw-rect.hover>img {
  opacity: 0;
}

.overlay-image-bw-rect:hover figcaption,
.overlay-image-bw-rect.hover figcaption {
  background-color: #000000;
}

.overlay-image-bw-rect:hover .title,
.overlay-image-bw-rect.hover .title {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.overlay-image-bw-rect:hover .hover,
.overlay-image-bw-rect.hover .hover {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
