@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

.overlay-image-fade-framed {
  font-family: 'Merriweather Sans', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px auto !important;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  font-size: 16px;
  transform: translateZ(0);
}

.overlay-image-fade-framed:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-image: -webkit-linear-gradient(top, transparent 0%, #000000 85%);
  background-image: linear-gradient(to bottom, transparent 0%, #000000 85%);
}

.overlay-image-fade-framed * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.overlay-image-fade-framed img {
  max-width: 100%;
  vertical-align: top;
}

.overlay-image-fade-framed .inside {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border: 20px solid #000000;
  box-shadow: 0px 0px 3px 19px rgba(0, 0, 0, 0.5);
}

.overlay-image-fade-framed figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.overlay-image-fade-framed h3,
.overlay-image-fade-framed p {
  margin: 0 0 10px;
}

.overlay-image-fade-framed h3 {
  font-size: 1.3em;
  font-family: 'Yeseva One', Arial, sans-serif;
  color: #fff;
}

.overlay-image-fade-framed h3::before,
.overlay-image-fade-framed h3::after {
  display: none !important;
}

.overlay-image-fade-framed p {
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.75;
  color: #fff;
}

.overlay-image-fade-framed a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border: none !important;
}

.overlay-image-fade-framed a:hover {
  background: none !important;
}

.overlay-image-fade-framed:hover .inside,
.overlay-image-fade-framed.hover .inside {
  box-shadow: 0px 0px 3px 19px rgba(0, 0, 0, 0);
}
