@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

figure.overlay-image-scale-detail {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.overlay-image-scale-detail * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.overlay-image-scale-detail img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}

figure.overlay-image-scale-detail figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 0 1px 1px;
}

figure.overlay-image-scale-detail .heading {
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

figure.overlay-image-scale-detail h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}

figure.overlay-image-scale-detail h2 span {
  font-weight: 800;
}

figure.overlay-image-scale-detail h2:before,
figure.overlay-image-scale-detail h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}

figure.overlay-image-scale-detail h2:before {
  left: -1000%;
}

figure.overlay-image-scale-detail h2:after {
  right: -1000%;
}

figure.overlay-image-scale-detail p {
  top: 50%;
  font-size: 0.9em;
  font-weight: 500;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  color: #fff;
}

figure.overlay-image-scale-detail a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  border: none !important;
}

figure.overlay-image-scale-detail a:hover {
  background: none !important;
}

figure.overlay-image-scale-detail:hover img,
figure.overlay-image-scale-detail.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.overlay-image-scale-detail:hover figcaption,
figure.overlay-image-scale-detail.hover figcaption {
  top: 7%;
  bottom: 7%;
}

figure.overlay-image-scale-detail:hover p,
figure.overlay-image-scale-detail.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
