@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

figure.overlay-image-fade-detailed {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px auto !important;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #000000 70%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #000000 70%);
}

figure.overlay-image-fade-detailed * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.overlay-image-fade-detailed img {
  max-width: 100%;
  opacity: 0.9;
  display: block;
}

figure.overlay-image-fade-detailed figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

figure.overlay-image-fade-detailed figcaption.bottom {
  bottom: calc(0% - 1px);
  -webkit-transform: translateY(calc(100% + 1px));
  transform: translateY(calc(100% + 1px));
}

figure.overlay-image-fade-detailed figcaption.top {
  top: 100%;
  -webkit-transform: translateY(calc(-100%));
  transform: translateY(calc(-100%));
}

figure.overlay-image-fade-detailed h2,
figure.overlay-image-fade-detailed p {
  margin: 0;
  width: 100%;
  padding: 10px 20px;
}

figure.overlay-image-fade-detailed h2 {
  color: #ffffff;
  position: absolute;
  bottom: 100%;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 5px;
}

figure.overlay-image-fade-detailed h2::before,
figure.overlay-image-fade-detailed h2::after {
  display: none !important;
}

figure.overlay-image-fade-detailed p {
  background: rgba(255, 255, 255, 0.9);
  text-align: right;
  bottom: 0;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1em;
}

figure.overlay-image-fade-detailed a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  border: none !important;
}

figure.overlay-image-fade-detailed a:hover {
  background: none !important;
}

figure.overlay-image-fade-detailed:hover img,
figure.overlay-image-fade-detailed.hover img {
  opacity: 0.4;
}

figure.overlay-image-fade-detailed:hover figcaption,
figure.overlay-image-fade-detailed.hover figcaption {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
