@import url(https://fonts.googleapis.com/css?family=Raleway:300,900);

figure.overlay-image-listing {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  max-height: 230px;
  width: 100%;
  color: #ffffff;
  text-align: right;
  font-size: 16px;
  background-color: #000000;
  text-transform: uppercase;
}

figure.overlay-image-listing:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30%;
  right: 70%;
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: skew(20deg) translateX(-75%);
  transform: skew(20deg) translateX(-75%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.overlay-image-listing * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.overlay-image-listing img {
  max-width: 100%;
}

figure.overlay-image-listing figcaption {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
}

figure.overlay-image-listing h3,
figure.overlay-image-listing .links {
  width: 100%;
  margin: 0;
  padding: 0;
}

figure.overlay-image-listing h3,
figure.overlay-image-listing h3 a {
  line-height: 1.3em;
  font-weight: 900;
  font-size: 1.3em;
}

figure.overlay-image-listing h3::before,
figure.overlay-image-listing h3::after {
  display: none !important;
}

figure.overlay-image-listing .links {
  font-size: 0.8em;
  letter-spacing: 3px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

figure.overlay-image-listing .links li {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  list-style: none;
}

figure.overlay-image-listing .links li::before {
  display: none !important;
}

figure.overlay-image-listing a {
  padding: 2px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;
  border: none !important;
}

figure.overlay-image-listing a:hover {
  color: #f39c12;
  background: none !important;
}

figure.overlay-image-listing:hover:after,
figure.overlay-image-listing.hover:after {
  -webkit-transform: skew(20deg) translateX(0%);
  transform: skew(20deg) translateX(0%);
}

figure.overlay-image-listing:hover img,
figure.overlay-image-listing.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

figure.overlay-image-listing:hover li,
figure.overlay-image-listing.hover li {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

figure.overlay-image-listing:hover li:first-child,
figure.overlay-image-listing.hover li:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.overlay-image-listing:hover li:nth-child(2),
figure.overlay-image-listing.hover li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.overlay-image-listing:hover li:nth-child(3),
figure.overlay-image-listing.hover li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.overlay-image-listing:hover li:nth-child(4),
figure.overlay-image-listing.hover li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* Demo purposes only */
body {
  background-color: #212121;
}
