@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

figure.overlay-image-drop {
  font-family: 'Josefin Sans', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #000000;
  text-align: left;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

figure.overlay-image-drop * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

figure.overlay-image-drop img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

figure.overlay-image-drop img:first-of-type {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.25;
}

figure.overlay-image-drop img:nth-of-type(2) {
  position: absolute;
  bottom: calc(100% - 10px);
  left: 0;
  z-index: 1;
}

figure.overlay-image-drop figcaption {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  top: 10px;
}

figure.overlay-image-drop figcaption.blue {
  background-color: RGBA(32,99,143,0.5);
}

figure.overlay-image-drop figcaption.green {
  background-color: RGBA(50,193,70,0.5);
}

figure.overlay-image-drop figcaption.red {
  background-color: RGBA(252,98,93,0.5);
}

figure.overlay-image-drop figcaption.orange {
  background-color: RGBA(255,212,59,0.5);
}

figure.overlay-image-drop figcaption.dark {
  background-color: RGBA(0, 0, 0, 0.5);
}

figure.overlay-image-drop figcaption.fuchsia {
  background-color: RGBA(252,40,252,0.5);
}

figure.overlay-image-drop figcaption h3,
figure.overlay-image-drop figcaption p {
  margin: 0 0 5px;
}

figure.overlay-image-drop figcaption h3 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #fff;
}

figure.overlay-image-drop figcaption h3 span {
  font-weight: 700;
  color: #fff;
}

figure.overlay-image-drop h3::before,
figure.overlay-image-drop h3::after {
  display: none !important;
}

figure.overlay-image-drop figcaption p {
  opacity: 0.8;
  line-height: 16px;
}

figure.overlay-image-drop a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  border: none;
}

figure.overlay-image-drop a:hover {
  background: none !important;
}

figure.overlay-image-drop:hover img,
figure.overlay-image-drop.hover img {
  -webkit-transform: translateY(calc(100% - 10px));
  transform: translateY(calc(100% - 10px));
}

figure.overlay-image-drop:hover figcaption,
figure.overlay-image-drop.hover figcaption {
  -webkit-transform: translateY(calc(100% - 10px));
  transform: translateY(calc(100% - 10px));
}
