kbd {
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  display: inline-block;
  /* font-family: system-ui, sans-serif; */
  font-family: u2000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125;
  padding: 0.33em 0.66em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  min-width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 6px solid transparent;
  background-color: #e9e8e6;
  border-color: #c3c0bb;
  border-top-color: #eeedeb;
  border-bottom-color: #a6a29a;
  box-shadow: 0 -0.125em 0 -0.063em #a6a29a, 0 0.125em 0 -0.063em rgba(0, 0, 0, 0.5);
  transition: transform 100ms;
  outline: 0;
}
kbd::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: 4px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
kbd::before {
  border-left-color: #b2afa8;
  border-right-color: #b2afa8;
  border-bottom-color: #959187;
  box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right, #e9e8e6, #c9c9c9 5%, transparent 40%, transparent 60%, #c9c9c9 95%, #e9e8e6);
}
kbd:active,
kbd.pressed {
  transform: scale(0.96, 0.96) translate(0, 3px);
}

kbd[data-key]::after {
  position: relative;
  z-index: 1;
  content: attr(data-key);
  text-transform: capitalize;
}
kbd[data-alt]::after {
  white-space: pre;
  content: attr(data-alt) "\A" attr(data-key);
  line-height: 0.95rem;
  font-size: 0.7em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

kbd[data-key="fn"],
kbd[data-key="esc"],
kbd[data-key="tab"],
kbd[data-key="enter"],
kbd[data-key="return"],
kbd[data-key="caps"],
kbd[data-key="backspace"],
kbd[data-key="delete"],
kbd[data-key="lshift"],
kbd[data-key="rshift"],
kbd[data-key="shift"],
kbd[data-key="lctrl"],
kbd[data-key="rctrl"],
kbd[data-key="ctrl"],
kbd[data-key="lalt"],
kbd[data-key="ralt"],
kbd[data-key="alt"],
kbd[data-key="lopt"],
kbd[data-key="ropt"],
kbd[data-key="opt"],
kbd[data-key="lwin"],
kbd[data-key="rwin"],
kbd[data-key="win"],
kbd[data-key="lcmd"],
kbd[data-key="rcmd"],
kbd[data-key="cmd"],
kbd[data-key="lctx"],
kbd[data-key="rctx"],
kbd[data-key="ctx"],
kbd[data-key="up"],
kbd[data-key="down"],
kbd[data-key="left"],
kbd[data-key="right"],
kbd[data-key="updown"] {
  background-color: #7f8384;
  border-color: #575a5a;
  border-top-color: #848889;
  border-bottom-color: #393b3b;
  box-shadow: 0 -0.125em 0 -0.063em #393b3b, 0 0.125em 0 -0.063em rgba(0, 0, 0, 0.5);
}

kbd[data-key="fn"]::after,
kbd[data-key="esc"]::after,
kbd[data-key="tab"]::after,
kbd[data-key="enter"]::after,
kbd[data-key="return"]::after,
kbd[data-key="caps"]::after,
kbd[data-key="backspace"]::after,
kbd[data-key="delete"]::after,
kbd[data-key="lshift"]::after,
kbd[data-key="rshift"]::after,
kbd[data-key="shift"]::after,
kbd[data-key="lctrl"]::after,
kbd[data-key="rctrl"]::after,
kbd[data-key="ctrl"]::after,
kbd[data-key="lalt"]::after,
kbd[data-key="ralt"]::after,
kbd[data-key="alt"]::after,
kbd[data-key="lopt"]::after,
kbd[data-key="ropt"]::after,
kbd[data-key="opt"]::after,
kbd[data-key="lwin"]::after,
kbd[data-key="rwin"]::after,
kbd[data-key="win"]::after,
kbd[data-key="lcmd"]::after,
kbd[data-key="rcmd"]::after,
kbd[data-key="cmd"]::after,
kbd[data-key="lctx"]::after,
kbd[data-key="rctx"]::after,
kbd[data-key="ctx"]::after,
kbd[data-key="up"]::after,
kbd[data-key="down"]::after,
kbd[data-key="left"]::after,
kbd[data-key="right"]::after,
kbd[data-key="updown"]::after, {
  font-size: 0.725em;
  top: 0;
  left: 0;
  right: 0;
  line-height: 31.2px;
  position: absolute;
}

kbd[data-key="fn"]::before,
kbd[data-key="esc"]::before,
kbd[data-key="tab"]::before,
kbd[data-key="enter"]::before,
kbd[data-key="return"]::before,
kbd[data-key="caps"]::before,
kbd[data-key="backspace"]::before,
kbd[data-key="delete"]::before,
kbd[data-key="lshift"]::before,
kbd[data-key="rshift"]::before,
kbd[data-key="shift"]::before,
kbd[data-key="lctrl"]::before,
kbd[data-key="rctrl"]::before,
kbd[data-key="ctrl"]::before,
kbd[data-key="lalt"]::before,
kbd[data-key="ralt"]::before,
kbd[data-key="alt"]::before,
kbd[data-key="lopt"]::before,
kbd[data-key="ropt"]::before,
kbd[data-key="opt"]::before,
kbd[data-key="lwin"]::before,
kbd[data-key="rwin"]::before,
kbd[data-key="win"]::before,
kbd[data-key="lcmd"]::before,
kbd[data-key="rcmd"]::before,
kbd[data-key="cmd"]::before,
kbd[data-key="lctx"]::before,
kbd[data-key="rctx"]::before,
kbd[data-key="ctx"]::before,
kbd[data-key="up"]::before,
kbd[data-key="down"]::before,
kbd[data-key="left"]::before,
kbd[data-key="right"]::before,
kbd[data-key="updown"]::before {
  border-left-color: #454848;
  border-right-color: #454848;
  border-bottom-color: #272929;
  box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right, #7f8384, #636363 5%, transparent 40%, transparent 60%, #636363 95%, #7f8384);
}

kbd[data-key="lctx"]::after,
kbd[data-key="rctx"]::after,
kbd[data-key="ctx"]::after {
  content: "\2630";
  font-size: 1rem;
}

kbd[data-key="cmd"]::after,
kbd[data-key="lcmd"]::after,
kbd[data-key="rcmd"]::after {
  content: "⌘";
  font-size: 1rem;
}

kbd[data-key="win"]::after,
kbd[data-key="lwin"]::after,
kbd[data-key="rwin"]::after {
  content: "\2756";
  font-size: 1rem;
}

kbd[data-key="shift"]::after,
kbd[data-key="lshift"]::after,
kbd[data-key="rshift"]::after {
  content: "⇧";
  font-size: 1rem;
}

kbd[data-key="ctrl"]::after,
kbd[data-key="lctrl"]::after,
kbd[data-key="rctrl"]::after {
  content: "⌃";
  font-size: 1rem;
}

kbd[data-key="alt"]::after,
kbd[data-key="lalt"]::after,
kbd[data-key="ralt"]::after,
kbd[data-key="opt"]::after,
kbd[data-key="lopt"]::after,
kbd[data-key="ropt"]::after {
  content: "⌥";
  font-size: 1rem;
}

kbd[data-key="fn"]::after {
  content: "fn";
  font-size: 0.75rem;
}

kbd[data-key="caps"]::after {
  content: "⇪";
  font-size: 1rem;
}

kbd[data-key="esc"]::after {
  /* content: "⎋"; */
  content: '↖︎';
  font-size: 1rem;
}

kbd[data-key="tab"]::after {
  content: "⇥";
  font-size: 1rem;
}

kbd[data-key="delete"]::after,
kbd[data-key="backspace"]::after {
  content: "⌫";
  font-size: 1rem;
}

kbd[data-key="return"]::after,
kbd[data-key="enter"]::after {
  content: "⏎";
  font-size: 1rem;
}

kbd[data-key="space"]::after {
  content: '␣';
  font-size: 1rem;
}

kbd[data-key="up"]::after {
  content: "▲";
  font-size: 1rem;
}

kbd[data-key="down"]::after {
  content: "▼";
  font-size: 1rem;
}

kbd[data-key="left"]::after {
  content: "◀︎";
  font-size: 1rem;
}

kbd[data-key="right"]::after {
  content: "▶︎";
  font-size: 1rem;
}

kbd[data-key="updown"]::after {
  content: "▲\A▼";
  white-space: pre;
  font-size: 0.725em;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

kbd[data-key="esc"] {
  width: 40px;
}

kbd[data-key="tab"],
kbd[data-key="\\"] {
  width: 60px;
}

kbd[data-key="caps"] {
  width: 70px;
}

kbd[data-key="backspace"] {
  width: 80px;
}

kbd[data-key="enter"],
kbd[data-key="return"] {
  width: 90px;
}

kbd[data-key="shift"],
kbd[data-key="lshift"] {
  width: 90px;
}

kbd[data-key="rshift"] {
  width: 110px;
}

kbd[data-key="fn"],
kbd[data-key="cmd"],
kbd[data-key="lcmd"],
kbd[data-key="rcmd"],
kbd[data-key="lctrl"],
kbd[data-key="rctrl"],
kbd[data-key="ctrl"],
kbd[data-key="lalt"],
kbd[data-key="ralt"],
kbd[data-key="alt"],
kbd[data-key="lwin"],
kbd[data-key="rwin"],
kbd[data-key="win"],
kbd[data-key="ctx"],
kbd[data-key="lctx"],
kbd[data-key="rctx"],
kbd[data-key="up"],
kbd[data-key="down"],
kbd[data-key="left"],
kbd[data-key="right"],
kbd[data-key="updown"] {
  width: 40px;
}

kbd[data-key="space"] {
  width: 215px;
}

kbd[data-key="power"] {
  width: 80px;
}

kbd[data-key="power"]::after {
  content: '⏻';
}

kbd[data-key="f1"],
kbd[data-key="f2"],
kbd[data-key="f3"],
kbd[data-key="f4"],
kbd[data-key="f5"],
kbd[data-key="f6"],
kbd[data-key="f7"],
kbd[data-key="f8"],
kbd[data-key="f9"],
kbd[data-key="f10"],
kbd[data-key="f11"],
kbd[data-key="f12"] {
  max-width: 40px;
  font-size: 0.7rem;
  padding-top: 9px;
}
