.label-profile {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 12px;
}

.label-profile p {
  color: #484848;
  font-weight: 100;
}

.label-profile a {
  color: #1daaff;
}

.label-profile a:hover {
  color: #0072b6;
}

.label-profile {
  min-width: 40px;
  border: 1px solid #e1e1e1;
  background: #f7f7f7;
  height: 25px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.label-profile figure {
  margin: 0;
  float: left;
  height: 100%;
}

.label-profile figure img {
  display: block;
  height: 100%;
  max-width: 25px;
  max-height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.label-profile header {
  height: 100%;
  float: right;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.label-profile header p {
  vertical-align: center;
  text-align: center;
  margin: 0;
  padding: 5px 10px 5px 5px;
  height: 100%;
  font-size: 14px;
  line-height: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.label-profile a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
}

.label-profile a:hover {
  background: none;
}
