@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

a.label-tag-link {
  border: none;
}

a.label-tag-link:hover {
  background: none;
}

.label-tag {
  margin: 3px;
  height: 25px;
  min-width: 5em;
  display: inline-block;
  color: #fff;
  background: #E5D8C3;
  background-clip: padding-box;
  border-radius: .5em;
  line-height: 1;
  font-style: normal;
}

.label-tag,
.label-tag * {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.label-tag .label-tag-symbol,
.label-tag .label-tag-name {
  height: 100%;
  padding: 5px 5px;
  display: inline-block;
  vertical-align: center;
  text-align: center;
}

.label-tag .label-tag-symbol {
  width: 30px;
  font-size: 15px;
  background: #F15F22;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.label-tag .label-tag-name {
  height: 100%;
  padding: 5px 5px;
  color: #F15F22;
  background: #E5D8C3;
  background-clip: padding-box;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  font-size: 15px;
  font-weight: 900;
  text-align: right;
}
