:root {
  --light-link-color: #2BBC8A;
  --light-link-color--active: #2BBC8A;
  --light-link-bg-color: rgba(0,0,0,0);
  --light-link-bg-color--active: RGBA(255,212,59,0.33);
  --light-link-border-color: #2BBC8A;
  --light-link-border-color--active: #2BBC8A;

  --light-nav-color: #2BBC8A;
  --light-nav-color--active: #2BBC8A;
  --light-nav-bg-color: rgba(0,0,0,0);;
  --light-nav-bg-color--active: RGBA(255,212,59,0.33);
  --light-nav-border-color: #2BBC8A;
  --light-nav-border-color--active: #2BBC8A;

  --light-text-color: #333;
  --light-text-color--stronger: #000;
  --light-bg-color: #fff;
  --light-code-color: #CC2A41;
}

.light {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

.light.light h1[itemprop] {
  filter: brightness(1);
}

.light strong {
  color: #D09A6A;
}

.light strong:before, .light strong:after {
  content: '**';
  color: #D09A6A;
}

.light .alert strong {
  color: var(--light-text-color);
}

.light .alert strong:before, .light .alert strong:after {
  content: ''
}

.light h1 a,
.light h2 a,
.light h3 a,
.light h4 a,
.light h5 a {
  color: var(--light-text-color);
}

.light code {
  color: var(--light-code-color);
}

.light code {
  font-weight: 100;
}

.light table {
  color: var(--light-text-color);
}

.light table td,
.light table th {
  border-color: var(--light-text-color);
}

.light table tbody td:first-child {
  color: var(--light-text-color);
}

.light .form-group label {
  color: var(--light-text-color);
  border-color: rgba(95, 95, 95, .78)
}

.light .form-group.form-textarea label:after {
  background-color: #000
}

.light .form-control {
  color: var(--light-text-color);
  border-color: rgba(95, 95, 95, .78)
}

.light .form-control:focus {
  border-color: var(--light-text-color);
  color: var(--light-text-color)
}

.light textarea.form-control {
  color: var(--light-text-color)
}

.light .card {
  border-color: rgba(95, 95, 95, .78)
}

.light .card .card-header {
  background-color: transparent;
  color: var(--light-text-color);
  border-bottom: 1px solid rgba(95, 95, 95, .78)
}

.light .btn.btn-ghost.btn-default {
  border-color: #ababab;
  color: #ababab
}

.light .btn.btn-ghost.btn-default:focus,
.light .btn.btn-ghost.btn-default:hover {
  border-color: #9c9c9c;
  color: #9c9c9c;
  z-index: 1
}

.light .btn.btn-ghost.btn-default:focus,
.light .btn.btn-ghost.btn-default:hover {
  border-color: #e0e0e0;
  color: #e0e0e0
}

.light .btn.btn-ghost.btn-primary:focus,
.light .btn.btn-ghost.btn-primary:hover {
  border-color: #64b5f6;
  color: #64b5f6
}

.light .btn.btn-ghost.btn-success:focus,
.light .btn.btn-ghost.btn-success:hover {
  border-color: #81c784;
  color: #81c784
}

.light .btn.btn-ghost.btn-info:focus,
.light .btn.btn-ghost.btn-info:hover {
  border-color: #4dd0e1;
  color: #4dd0e1
}

.light .btn.btn-ghost.btn-error:focus,
.light .btn.btn-ghost.btn-error:hover {
  border-color: #e57373;
  color: #e57373
}

.light .btn.btn-ghost.btn-warning:focus,
.light .btn.btn-ghost.btn-warning:hover {
  border-color: #ffb74d;
  color: #ffb74d
}

.light .avatarholder,
.light .placeholder {
  background-color: transparent;
  border-color: var(--light-text-color);
}

.light .menu .menu-item {
  color: var(--light-text-color);
  border-color: rgba(95, 95, 95, .78)
}

.light .menu .menu-item.active,
.light .menu .menu-item:hover {
  color: var(--light-text-color);
  border-color: var(--light-text-color)
}

.light a {
  color: var(--light-link-color);
  background-color: var(--light-link-bg-color);
  border-color: var(--light-link-border-color);
}

.light a:hover,
.light a:focus {
  color: var(--light-link-color--active);
  background-color: var(--light-link-bg-color--active);
  border-color: var(--light-link-border-color--active);
  outline: none;
}

.light article[itemtype="http://schema.org/BlogPosting"] header .blur-up {
  opacity: 0.92;
}

.light nav a[itemprop="url"].active {
  color: var(--light-nav-color--active);
  background-color: var(--light-nav-bg-color--active);
  border-color: var(--light-nav-border-color--active);
}

.light nav a[itemprop="url"].active:hover,
.light nav a[itemprop="url"].active:focus {
  filter: brightness(1.1);
}

.light nav a[itemprop="url"],
.light nav.readmore a {
  text-transform: lowercase;
  color: var(--light-nav-color);
  background-color: var(--light-nav-bg-color);
  border-color: var(--light-nav-border-color);
  padding: 6px;
  margin: unset;
  display: inline-block;
}

.light>header nav::after {
  position: absolute;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 80%, rgba(100, 100, 100, 1) 100%);
}

.light nav:first-of-type a[itemprop="url"]:first-of-type {
  color: var(--light-link-color);
}

.light nav a[itemprop="url"]:hover,
.light nav a[itemprop="url"]:focus {
  color: var(--light-link-color);
  background-color: var(--light-nav-bg-color--active);;
}

.light nav a[itemprop="url"] svg {
  stroke: var(--accent-color);
  margin-bottom: -2px;
}

.light a.btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: lowercase;
  border-bottom: 1px var(--light-link-color) dashed;
  color: var(--light-link-color);
  padding: 6px;
  margin: unset;
  display: inline-block;
}

.light a.btn:hover {
  /* background-color: #ff2e88; */
  background-color: var(--light-nav-bg-color--active);;
  color: #fff
}

.light .form[role="search"] label {
  color: var(--light-link-color) !important;
}

.light .form[role="search"] .form-control {
  color: var(--trim-color) !important;
}

.light .form[role="search"] .form-control:focus,
.light .form[role="search"] .form-control:hover,
.light .form[role="search"] .form-control:target {
  color: var(--trim-color) !important;
}
