---
layout: null
---
:root {
  scroll-behavior: smooth;
  --screen-size-small: 30em;

  /* vendor defaults */
  --hackcss-dark--text-color: #ccc;

  --code-bg-color: #00bcd4;

  /* shades of gray */
  --white-smoke-gray: #f5f5f5;
  --platinum-gray: #e5e4e2;
  --battleship-gray: #848482;
  --marengo-gray: #4c5866;
  --charcoal-gray: #36454f;
  --jet-gray: #343434;
  --gunmetal-gray: #2a3439;

  --accessible-gray: #959595;
  /* 7.0 constrast / black - AAA conformance */
  --atomone-gray: #282c34;

  /* shades of black */
  --licorice-black: #1a1110;
  --smoky-black: #100c08;

  /* border and accent colors */
  --trim-color: fuchsia;
  /* used in layout – controls theme-color meta */
  --accent-color: #ff9800;

  /* text colors */
  --text-color--light: var(--hackcss-dark--text-color);
  --text-color--dark: var(--gunmetal-gray);
  --text-color--muted: var(--marengo-gray);

  /* action colors */
  --primary-color: #2196f3;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #00bcd4;

  /* link colors */
  --link-color: #f9f;
  /* f0f, dc6ae8, 0f0 */
  --link-color--active: #0f0;
  /* f9f, f0f, dc6ae8 */
  --link-border-color: #dc6ae8;
  /* 0f0, f9f, f0f */
  --link-border-color--active: #f0f;
  /* dc6ae8, 0f0, f0f */
  --link-bg-color--active: #dc6ae840;

  /* navigation colors */
  --navlink-color: var(--link-color);
  --navlink-color--active: var(--link-color--active);
  --navlink-border-color: var(--link-border-color);
  --navlink-border-color--active: var(--link-border-color--active);
  --navlink-bg-color--active: var(--link-bg-color--active);

}
html {
  font-size: 12px
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  word-wrap: break-word;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

pre {
  padding: 2rem;
  /* margin: 1.75rem 0; */
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto;
  word-break: break-all;
}

code[class*=language-],
pre[class*=language-],
pre code {
  font-weight: 100;
  text-shadow: none;
  margin: 1.75rem 0;
}

a {
  cursor: pointer;
  color: #ff2e88;
  text-decoration: none;
  border-bottom: 1px solid #ff2e88
}

a:hover {
  background-color: #ff2e88;
  color: #fff
}

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.grid.\-top {
  -ms-flex-align: start;
  align-items: flex-start
}

.grid.\-middle {
  -ms-flex-align: center;
  align-items: center
}

.grid.\-bottom {
  -ms-flex-align: end;
  align-items: flex-end
}

.grid.\-stretch {
  -ms-flex-align: stretch;
  align-items: stretch
}

.grid.\-baseline {
  -ms-flex-align: baseline;
  align-items: baseline
}

.grid.\-left {
  -ms-flex-pack: start;
  justify-content: flex-start
}

.grid.\-center {
  -ms-flex-pack: center;
  justify-content: center
}

.grid.\-right {
  -ms-flex-pack: end;
  justify-content: flex-end
}

.grid.\-between {
  -ms-flex-pack: justify;
  justify-content: space-between
}

.grid.\-around {
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.cell {
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box
}

@media screen and (min-width:768px) {
  .cell.\-1of12 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%
  }

  .cell.\-2of12 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%
  }

  .cell.\-3of12 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
  }

  .cell.\-4of12 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%
  }

  .cell.\-5of12 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%
  }

  .cell.\-6of12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }

  .cell.\-7of12 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%
  }

  .cell.\-8of12 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%
  }

  .cell.\-9of12 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%
  }

  .cell.\-10of12 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%
  }

  .cell.\-11of12 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%
  }
}

@media screen and (max-width:768px) {
  .grid {
    -ms-flex-direction: column;
    flex-direction: column
  }

  .cell {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
}

p {
  margin: 0 0 1.75rem
}

.container {
  max-width: 70rem
}

.container,
.container-fluid {
  margin: 0 auto;
  padding: 0 1rem
}

.inner {
  padding: 1rem
}

.inner2x {
  padding: 2rem
}

.pull-left {
  float: left
}

.pull-right {
  float: right
}

.progress-bar {
  height: 8px;
  opacity: .8;
  background-color: #ccc;
  margin-top: 12px
}

.progress-bar.progress-bar-show-percent {
  margin-top: 38px
}

.progress-bar-filled {
  background-color: gray;
  height: 100%;
  transition: width .3s ease;
  position: relative;
  width: 0
}

.progress-bar-filled:before {
  content: "";
  border: 6px solid transparent;
  border-top-color: gray;
  position: absolute;
  top: -12px;
  right: -6px
}

.progress-bar-filled:after {
  color: gray;
  content: attr(data-filled);
  display: block;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  border: 6px solid transparent;
  top: -38px;
  right: 0;
  -ms-transform: translateX(50%);
  transform: translateX(50%)
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
  color: #778087
}

table td,
table th {
  vertical-align: top;
  border: 1px solid #ccc;
  line-height: 15px;
  padding: 10px
}

table thead th {
  font-size: 1rem
}

table tbody td:first-child {
  font-weight: 700;
  color: #333
}

.form {
  width: 30rem
}

.form-group {
  margin-bottom: 1.75rem;
  overflow: auto
}

.form-group label {
  border-bottom: 2px solid #ccc;
  color: #333;
  width: 10rem;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0;
  float: left;
  position: relative
}

.form-group.form-success label {
  color: #4caf50 !important;
  border-color: #4caf50 !important
}

.form-group.form-warning label {
  color: #ff9800 !important;
  border-color: #ff9800 !important
}

.form-group.form-error label {
  color: #f44336 !important;
  border-color: #f44336 !important
}

.form-control {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: .5rem 0;
  width: 20rem;
  height: 38px;
  background-color: transparent
}

.form-control:focus {
  border-color: #555
}

.form-group.form-textarea label:after {
  position: absolute;
  content: "";
  width: 2px;
  background-color: #fff;
  right: -2px;
  top: 0;
  bottom: 0
}

textarea.form-control {
  height: auto;
  resize: none;
  padding: 1rem 0;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: .5rem
}

select.form-control {
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none
}

.help-block {
  color: #999;
  margin-top: .5rem
}

.form-actions {
  margin-bottom: 1.75rem
}

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  padding: .65rem 2rem;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1
}

.btn:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .12)
}

.btn.btn-ghost {
  border-color: #757575;
  color: #757575;
  background-color: transparent
}

.btn.btn-ghost:focus,
.btn.btn-ghost:hover {
  border-color: #424242;
  color: #424242;
  z-index: 2
}

.btn.btn-ghost:hover {
  background-color: transparent
}

.btn-block {
  width: 100%;
  display: -ms-flexbox;
  display: flex
}

.btn-default {
  color: #fff;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
  color: #333
}

.btn-default:focus:not(.btn-ghost),
.btn-default:hover {
  background-color: #dcdcdc;
  border-color: #dcdcdc
}

.btn-success {
  color: #fff;
  background-color: #4caf50;
  border: 1px solid #4caf50
}

.btn-success:focus:not(.btn-ghost),
.btn-success:hover {
  background-color: #43a047;
  border-color: #43a047
}

.btn-success.btn-ghost {
  border-color: #4caf50;
  color: #4caf50
}

.btn-success.btn-ghost:focus,
.btn-success.btn-ghost:hover {
  border-color: #388e3c;
  color: #388e3c;
  z-index: 2
}

.btn-error {
  color: #fff;
  background-color: #f44336;
  border: 1px solid #f44336
}

.btn-error:focus:not(.btn-ghost),
.btn-error:hover {
  background-color: #e53935;
  border-color: #e53935
}

.btn-error.btn-ghost {
  border-color: #f44336;
  color: #f44336
}

.btn-error.btn-ghost:focus,
.btn-error.btn-ghost:hover {
  border-color: #d32f2f;
  color: #d32f2f;
  z-index: 2
}

.btn-warning {
  color: #fff;
  background-color: #ff9800;
  border: 1px solid #ff9800
}

.btn-warning:focus:not(.btn-ghost),
.btn-warning:hover {
  background-color: #fb8c00;
  border-color: #fb8c00
}

.btn-warning.btn-ghost {
  border-color: #ff9800;
  color: #ff9800
}

.btn-warning.btn-ghost:focus,
.btn-warning.btn-ghost:hover {
  border-color: #f57c00;
  color: #f57c00;
  z-index: 2
}

.btn-info {
  color: #fff;
  background-color: #00bcd4;
  border: 1px solid #00bcd4
}

.btn-info:focus:not(.btn-ghost),
.btn-info:hover {
  background-color: #00acc1;
  border-color: #00acc1
}

.btn-info.btn-ghost {
  border-color: #00bcd4;
  color: #00bcd4
}

.btn-info.btn-ghost:focus,
.btn-info.btn-ghost:hover {
  border-color: #0097a7;
  color: #0097a7;
  z-index: 2
}

.btn-primary {
  color: #fff;
  background-color: #2196f3;
  border: 1px solid #2196f3
}

.btn-primary:focus:not(.btn-ghost),
.btn-primary:hover {
  background-color: #1e88e5;
  border-color: #1e88e5
}

.btn-primary.btn-ghost {
  border-color: #2196f3;
  color: #2196f3
}

.btn-primary.btn-ghost:focus,
.btn-primary.btn-ghost:hover {
  border-color: #1976d2;
  color: #1976d2;
  z-index: 2
}

.btn-group {
  overflow: auto
}

.btn-group .btn {
  float: left
}

.btn-group .btn-ghost:not(:first-child) {
  margin-left: -1px
}

.card {
  border: 1px solid #ccc
}

.card .card-header {
  color: #333;
  text-align: center;
  background-color: #ddd;
  padding: .5rem 0
}

.media:not(:last-child) {
  margin-bottom: 1.25rem
}

.media-left {
  padding-right: 1rem
}

.media-left,
.media-right {
  display: table-cell;
  vertical-align: top
}

.media-right {
  padding-left: 1rem
}

.media-body {
  display: table-cell;
  vertical-align: top
}

.media-heading {
  font-size: 1.16667rem;
  font-weight: 700
}

.media-content {
  margin-top: .3rem
}

.avatarholder,
.placeholder {
  background-color: #f0f0f0;
  text-align: center;
  color: #b9b9b9;
  font-size: 1rem;
  border: 1px solid #f0f0f0
}

.avatarholder {
  width: 48px;
  height: 48px;
  line-height: 46px;
  font-size: 2rem;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.avatarholder.rounded {
  border-radius: 33px
}

.loading {
  display: inline-block;
  content: "&nbsp;";
  height: 20px;
  width: 20px;
  margin: 0 .5rem;
  animation: a .6s infinite linear;
  border: 2px solid #e91e63;
  border-right-color: transparent;
  border-radius: 50%
}

.btn .loading {
  margin-bottom: 0;
  width: 14px;
  height: 14px
}

.btn div.loading {
  float: left
}

.alert .loading {
  margin-bottom: -5px
}

@keyframes a {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

.menu {
  width: 100%
}

.menu .menu-item {
  display: block;
  color: #616161;
  border-color: #616161
}

.menu .menu-item.active,
.menu .menu-item:hover {
  color: #000;
  border-color: #000;
  background-color: transparent
}

@media screen and (max-width:768px) {
  .form-group label {
    display: block;
    border-bottom: none;
    width: 100%
  }

  .form-group.form-textarea label:after {
    display: none
  }

  .form-control {
    width: 100%
  }

  textarea.form-control {
    border-left: none;
    padding: .5rem 0
  }

  pre::-webkit-scrollbar {
    height: 3px
  }
}

@media screen and (max-width:480px) {
  .form {
    width: 100%
  }
}

@keyframes intro {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.blur-up.lazyloading {
  filter: blur(5px);
  opacity: 1;
  transition: opacity 1s, filter 1.5s
}

.blur-up.lazyload {
  opacity: 0;
  filter: blur(10px)
}

.blur-up.lazyloaded {
  filter: blur(0);
  transition: filter 1s
}

.responsive-iframe,
.ratio-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 0 auto;
}

.responsive-iframe iframe,
.ratio-container>*:not([itemprop=caption]) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

iframe {
  border: 0
}

main {
  min-height: 75vh;
}

main,
footer {
  /* animation: intro .3s both;
  animation-delay: .15s */
}

header:first-of-type+details {
  margin: 20px 0
}

footer time[datetime$=M]:before {
  content: "\2013\0020"
}

body>footer p.muted {
  margin-bottom: 0
}

@media only screen and (max-width:768px) {
  footer time[datetime$=M] {
    display: none
  }
}

blockquote {
  position: relative;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  margin: 5px 0;
}

blockquote:before {
  /* content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>"; */
  content: '“';
  white-space: pre;
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  line-height: 20px;
  font-size: 3rem;
}

blockquote cite {
  display: block
}

blockquote cite::before {
  content: "\2014\00A0"
}

:target {
  filter: brightness(1.2)
}

:disabled {
  cursor: not-allowed
}

.main {
  padding: 20px 10px
}

input.form-control {
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none
}

input.form-control,
textarea.form-control,
select.form-control,
.help-block {
  font-size: initial
}

@media only screen and (max-width:768px) {
  .help-block {
    font-size: unset
  }
}

html {
  font-size: 13px
}

article header img {
  width: 100%;
  border-radius: 3px
}

table td,
table th {
  line-height: inherit
}

table a {
  border-bottom: unset
}

img {
  max-width: 100%
}

@media only screen and (min-width:768px) {
  html {
    font-size: 16px
  }

  .container {
    max-width: 50rem
  }
}

@media only screen and (min-width:768px),
(-ms-high-contrast:active),
(-ms-high-contrast:none) {
  html {
    margin-left: calc(100vw - 100%)
  }
}

.js-copied {
  animation: intro 1.65s 0.35s reverse;
}

/** UNUSED **/

time[datetime]:after {
  display: none;
  content: attr(datetime);
}

article[itemscope]:target time[datetime]::after {
  /* display: inline; */
  color: var(--link-color--active);
}

article[itemscope]:target output {
  /* content: attr(data-copied); */
  color: var(--link-color--active);
}

article[itemscope] output {
  max-width: 10em;
  overflow: scroll;
  color: var(--link-color--active);
}

body header:first-of-type h1 {}

body>header nav {}

body>header {
  display: grid;
  grid-template: 1fr minmax(min-content, auto) / 4fr 3fr;
  row-gap: 1vmin;
  column-gap: 20px;
  grid-template-areas: "search search""nav nav";
  margin-bottom: 1rem;
}

body>header nav:last-of-type {
  text-align: right;
}

@media screen and (max-width: 30em) {
  body>header a[itemprop="url"] {
    display: block;
  }

  .form[role="search"] {
    margin-bottom: 10px;
  }
}

body>header .form[role="search"] {
  width: unset;
  text-align: right;
  position: relative;
  /* z-index: 20; */
  grid-column: search;
  grid-row: search;
  margin-top: -20px;
}

.form[role="search"] fieldset {
  padding: 6px;
}

.form[role="search"] legend {
  display: contents;
}

.form[role="search"] label,
.form[role="search"] .form-control {
  padding: 6px 14px 0 6px;
}

.form[role="search"] label {
  margin-right: -8px;
  text-transform: lowercase;
  color: var(--trim-color);
}

.form[role="search"] label:before {
  content: "Search input ";
}

.form[role="search"] .form-control {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  color: var(--link-color--active);
  height: unset;
  border-bottom: unset;
  width: 28px;
  padding-top: 20px;
  margin-right: -28px;
  transition: all 180ms ease-in-out;
}

.form[role="search"] .form-control:focus,
.form[role="search"] .form-control:hover,
.form[role="search"] .form-control:target {
  color: var(--link-color--active);
  width: 14rem;
  transition: width 180ms ease-in-out;
}

.form[role="search"] .form-control:not(:placeholder-shown) {
  width: 14rem;
}

.form[role="search"] .form-control::placeholder {
  color: var(--text-color);
  opacity: 0;
  transition: opacity 180ms ease;
}

.form[role="search"] .form-control:focus::placeholder,
.form[role="search"] .form-control:hover::placeholder,
.form[role="search"] .form-control:target::placeholder {
  color: var(--link-color-active);
  opacity: .5;
  transition: opacity 180ms 300ms ease-out;
}

.form[role="search"] .form-control:not(:focus):not(:hover):placeholder-shown {}

.form[role="search"] .form-control:not(:focus):not(:hover):not(:placeholder-shown)+svg {
  visibility: visible;
}

.form[role="search"] .form-control+svg {
  visibility: hidden;
}

.form[role="search"] .form-control:placeholder-shown+svg {
  visibility: visible;
}

.form[role="search"] .form-control+svg {
  pointer-events: none;
  margin-bottom: -2px;
}

ul.thumbnail.grid {
  margin: 10px -10px
}

ul.thumbnail.grid li {
  padding: 10px;
  margin-bottom: 10px
}

ul.thumbnail.grid li h2 {
  margin-bottom: 1rem
}

ul.thumbnail.grid li a:hover figure {
  filter: brightness(1.1)
}

ul.thumbnail.grid li a figure>img {
  border-radius: 2px
}

body ul.thumbnail.grid li h2::before {
  content: initial
}

body ul.thumbnail.grid li::after {
  content: initial
}

.standard ul.thumbnail.grid {
  padding-left: 0;
  list-style-type: none;
  display: flex
}

ul.thumbnail.grid li a:hover figure {
  filter: initial
}

ul.thumbnail.grid li a figure {
  position: relative;
  line-height: 0;
  margin-bottom: 8px
}

ul.thumbnail.grid li a:hover figure::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.3) 100%)
}
