.signature-container {
  height: 128px !important;
}

.signature-container .signature-image {
  float: right !important;
  width: 256px !important;
  max-width: 100% !important;
}

.signature-container .signature-image {
  content: url('{{ site.url }}{{ site.path.images }}/signature.svg');
}

.dark .signature-container .signature-image {
  filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(255deg) brightness(107%) contrast(100%);
}

.light .signature-container .signature-image {
  filter: invert(0%) sepia(5%) saturate(6%) hue-rotate(327deg) brightness(96%) contrast(101%);
}
