---
---
/*
==================================================
Base Styles

font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
==================================================
*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	padding-top: 45px;
	background: #eee;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0px;
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Merriweather Sans", sans-serif;
	letter-spacing: 1px;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: #222;
}

.svg-inline--fa {
	font-size: 1.2em;
}

.tattoo-btn {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	margin-top: 10px;
	padding: 12px 20px;
	border-radius: 0px;
	text-align: center;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.tattoo-btn:hover {
	background: #e91e63;
	border: 2px solid #e91e63;
	color: #fff;
}

.tattoo-row-uneven {
	max-width: 1460px;
	margin: 0 auto;
}

/*
==================================================
Navigation menus
==================================================
*/

/* **********
STANDARD MENU
********** */

.standard-nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	background: #000;
	padding: 2px;
}

.links {
	padding: 12px 2px;
}

.links a {
	padding: 0px 12px;
	color: #eee;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	display: inline-block;
}

.links a:hover {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	color: #e91e63;
}

.brand {
	color: #eee;
	padding: 12px 15px;
	display: inline-block;
}

/*
==================================================
Hero
==================================================
*/

.top-intro {
	text-align: center;
}

.top-intro h1 {
	font-size: 3em;
	line-height: 1.2em;
	text-transform: uppercase;
}

.top-intro p {
	font-size: 1.2em;
}

.accent {
	background: #000;
	color: #fff;
	padding: 5px 10px;
}

#home .tattoo-row {
	margin-bottom: 0;
}

.hero .tattoo-row {
	background: transparent;
}

.hero {
	height: 768px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),
		url("{{ site.url }}{{ site.path.images }}/hero/high/{{ site.hero.url }}")no-repeat
			center;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("{{ site.url }}{{ site.path.images }}/hero/high/{{ site.hero.url }}")no-repeat
			center;
	background-size: cover;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
	color: #fff;
	padding: 40px;
}

.hero h1 {
	font-size: 5em;
	text-transform: uppercase;
}

.hero p {
	font-size: 2em;
}

/*
==================================================
Posts
==================================================
*/

.blog-header {
	text-align: center;
}

.blog-header h2 {
	text-transform: uppercase;
}

.date {
	color: #aaa;
}

.likes,
.replies {
	padding: 10px 15px;
	cursor: pointer;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.likes {
	border: 1px solid #b2b2b2;
	background: transparent;
	font-weight: bold;
}

.likes:hover {
	border: 1px solid #000;
	background: #000;
	color: #fff;
}

.replies {
	border: 1px solid #000;
	background: #000;
	color: #fff;
}

.replies:hover {
	border: 1px solid #f1f1f1;
	background: #f1f1f1;
	color: #000;
}

.count {
	background: #e91e63;
	color: #fff;
	padding: 5px;
	margin-left: 15px;
}

.post-btm-bar {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
}

/*
==================================================
Sidebar
==================================================
*/

.profile .author {
	padding: 0;
}

.abt {
	padding: 10px 20px;
	background: #000;
	color: #fff;
	margin-top: -7px;
}

.profile-title {
}

/************
POPULAR POSTS
************/

.sidebar-header {
	background: #000;
	color: #fff;
	padding: 1px 20px;
}

.p-img img {
	width: 100%;
	height: auto;
}

.p-img {
	margin-right: 10px;
	max-width: 100px;
}

.p-posts {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	cursor: pointer;
}

.popular-posts .tattoo-row {
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
}

.p-posts:hover {
	background: #f6f6f6 !important;
	color: #000;
}

.popular-posts .tattoo-row:last-child {
	margin-bottom: 20px;
	border: none;
}

.p-text h5 {
	line-height: 0;
}

/************
TAG CLOUD
************/

.tag {
	display: inline-block;
	background: #eee;
	padding: 5px 10px;
	font-size: 0.85em;
	margin-bottom: 5px;
	cursor: pointer;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.tag:hover {
	background: #000;
	color: #fff;
}

/************
SOCIAL FOLLOW
************/

.follow a {
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	display: inline-block;
	font-size: 1.2em;
	padding: 2px;
}

.follow a:hover {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	color: #e91e63;
}

/************
SUBSCRIBE
************/

.subscribe form input[type="submit"] {
	background: #e91e63;
	border: none;
	border-radius: 0px;
	width: 100%;
	padding: 10px;
	color: #fff;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	cursor: pointer;
	 -webkit-appearance: none;
}

.subscribe form input[type="submit"]:hover {
	opacity: 0.5;
}

.subscribe form input[type="email"] {
	width: 100%;
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 0px;
	 -webkit-appearance: none;
}

/*
==================================================
Footer
==================================================
*/

footer {
	text-align: center;
	background: #000;
	color: #eee;
	padding: 5px;
}

footer .tattoo-row,
footer .tattoo-col {
	margin-bottom: 0;
	padding-bottom: 0;
}

footer a {
	display: inline-block;
	padding-right: 10px;
	color: #eee;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

footer a:hover {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
	color: #e91e63;
}

footer p {
	font-size: 0.75em;
	color: #aaa;
	text-transform: uppercase;
}

footer .svg-inline--fa {
	font-size: 1em;
}

/*
==================================================
Grid Layout
==================================================
*/

.tattoo-row {
	display: -webkit-box;
	display: flex;
	margin: 0 0 30px 0;
}

.tattoo-col {
	padding: 20px;
}

.tattoo-row-uneven .tattoo-col {
	background: #fff;
	/* padding: 20px; */
}

.tattoo-row-uneven {
	padding: 30px;
}

.tattoo-col-left {
	margin-right: 15px;
}

.tattoo-col-right {
	margin-left: 15px;
}

.tattoo-row .tattoo-col {
	-webkit-box-flex: 1;
	flex: 1;
}

.tattoo-row-halves,
.tattoo-row-thirds,
.tattoo-row-fourths,
.tattoo-row-uneven {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.tattoo-row-uneven .tattoo-col-left {
	width: 70%;
}

.tattoo-row-uneven .tattoo-col-right {
	width: 30%;
}

.tattoo-row-halves .tattoo-col {
	width: 49%;
	margin: 0 auto;
}

.tattoo-row-thirds .tattoo-col {
	width: 32%;
}

.tattoo-row-fourths .tattoo-col {
	width: 24%;
}

/*
==================================================
Media Queries
==================================================
*/

@media (max-width: 970px) {
	.tattoo-row,
	.tattoo-row-halves,
	.tattoo-row-thirds,
	.tattoo-row-fourths,
	.tattoo-row-uneven {
		display: block;
	}

	.tattoo-row .tattoo-col,
	.tattoo-row-halves .tattoo-col,
	.tattoo-row-thirds .tattoo-col,
	.tattoo-row-fourths .tattoo-col,
	.tattoo-row-uneven .tattoo-col-left,
	.tattoo-row-uneven .tattoo-col-right {
		width: 100%;
		margin: 0 0 10px 0;
	}
}

@media (max-width: 650px) {
	.hero h1 {
	font-size: 4em;
	text-transform: uppercase;
}

.hero p {
	font-size: 1.5em;
}
}

@media (max-width: 550px) {
	.hero h1 {
	font-size: 4em;
	text-transform: uppercase;
		line-height: 1.2em;
}

.hero p {
	font-size: 1.5em;
	line-height: 0;
}
}

@media(max-width: 480px) {
	.top-intro h1 {
		font-size: 2.5em;
	}
}
