details.toc,
details.detailed-content {
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 3px;
}

.dark details.detailed-content,
.dark details.toc {
  background-color: var(--atomone-gray);
  border-width: 0;
}

.light details.detailed-content,
.light details.toc {
  background-color: #fafafa;
  border-color: #666;
  border-width: 1px;
}
