---
layout: default
title: "Music"
active_title: 'Music'
---
	{% assign all_lists = '' | split: '/' %}
	{% for list in site.music %}
			{% assign this_list = '' | split: '/' %}
			{% assign this_list = this_list | push: list.url %}
			{% assign this_list = this_list | push: list.title %}
			{% assign this_list = this_list | push: '' %}
			{% assign this_list_cover = site.path.music | append: list.cover %}
			{% assign this_list = this_list | push: this_list_cover %}
			{% assign this_list = this_list | push: 'jpeg' %}

			{% assign all_lists = all_lists | push: this_list %}
	{% endfor %}
	{% assign all_lists_container = '' | split: '/' %}
	{% assign all_lists_container = all_lists_container | push: all_lists %}
	{% include grid_list.html desc=" " list=all_lists_container cols=3 %}
