---
layout: default_toc
title: "CSS Filter"
desc: "Generator to convert color"
cover:
  url: 'cssfilter.png'
  format: 'png'
---
{% capture js_link_source %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
{% endcapture %}
{% capture js_source %}
'use strict';

class Color {
  constructor(r, g, b) {
    this.set(r, g, b);
  }

  toString() {
    return `rgb(${Math.round(this.r)}, ${Math.round(this.g)}, ${Math.round(this.b)})`;
  }

  set(r, g, b) {
    this.r = this.clamp(r);
    this.g = this.clamp(g);
    this.b = this.clamp(b);
  }

  hueRotate(angle = 0) {
    angle = angle / 180 * Math.PI;
    const sin = Math.sin(angle);
    const cos = Math.cos(angle);

    this.multiply([
      0.213 + cos * 0.787 - sin * 0.213,
      0.715 - cos * 0.715 - sin * 0.715,
      0.072 - cos * 0.072 + sin * 0.928,
      0.213 - cos * 0.213 + sin * 0.143,
      0.715 + cos * 0.285 + sin * 0.140,
      0.072 - cos * 0.072 - sin * 0.283,
      0.213 - cos * 0.213 - sin * 0.787,
      0.715 - cos * 0.715 + sin * 0.715,
      0.072 + cos * 0.928 + sin * 0.072,
    ]);
  }

  grayscale(value = 1) {
    this.multiply([
      0.2126 + 0.7874 * (1 - value),
      0.7152 - 0.7152 * (1 - value),
      0.0722 - 0.0722 * (1 - value),
      0.2126 - 0.2126 * (1 - value),
      0.7152 + 0.2848 * (1 - value),
      0.0722 - 0.0722 * (1 - value),
      0.2126 - 0.2126 * (1 - value),
      0.7152 - 0.7152 * (1 - value),
      0.0722 + 0.9278 * (1 - value),
    ]);
  }

  sepia(value = 1) {
    this.multiply([
      0.393 + 0.607 * (1 - value),
      0.769 - 0.769 * (1 - value),
      0.189 - 0.189 * (1 - value),
      0.349 - 0.349 * (1 - value),
      0.686 + 0.314 * (1 - value),
      0.168 - 0.168 * (1 - value),
      0.272 - 0.272 * (1 - value),
      0.534 - 0.534 * (1 - value),
      0.131 + 0.869 * (1 - value),
    ]);
  }

  saturate(value = 1) {
    this.multiply([
      0.213 + 0.787 * value,
      0.715 - 0.715 * value,
      0.072 - 0.072 * value,
      0.213 - 0.213 * value,
      0.715 + 0.285 * value,
      0.072 - 0.072 * value,
      0.213 - 0.213 * value,
      0.715 - 0.715 * value,
      0.072 + 0.928 * value,
    ]);
  }

  multiply(matrix) {
    const newR = this.clamp(this.r * matrix[0] + this.g * matrix[1] + this.b * matrix[2]);
    const newG = this.clamp(this.r * matrix[3] + this.g * matrix[4] + this.b * matrix[5]);
    const newB = this.clamp(this.r * matrix[6] + this.g * matrix[7] + this.b * matrix[8]);
    this.r = newR;
    this.g = newG;
    this.b = newB;
  }

  brightness(value = 1) {
    this.linear(value);
  }
  contrast(value = 1) {
    this.linear(value, -(0.5 * value) + 0.5);
  }

  linear(slope = 1, intercept = 0) {
    this.r = this.clamp(this.r * slope + intercept * 255);
    this.g = this.clamp(this.g * slope + intercept * 255);
    this.b = this.clamp(this.b * slope + intercept * 255);
  }

  invert(value = 1) {
    this.r = this.clamp((value + this.r / 255 * (1 - 2 * value)) * 255);
    this.g = this.clamp((value + this.g / 255 * (1 - 2 * value)) * 255);
    this.b = this.clamp((value + this.b / 255 * (1 - 2 * value)) * 255);
  }

  hsl() {
    // Code taken from https://stackoverflow.com/a/9493060/2688027, licensed under CC BY-SA.
    const r = this.r / 255;
    const g = this.g / 255;
    const b = this.b / 255;
    const max = Math.max(r, g, b);
    const min = Math.min(r, g, b);
    let h, s, l = (max + min) / 2;

    if (max === min) {
      h = s = 0;
    } else {
      const d = max - min;
      s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
      switch (max) {
        case r:
          h = (g - b) / d + (g < b ? 6 : 0);
          break;

        case g:
          h = (b - r) / d + 2;
          break;

        case b:
          h = (r - g) / d + 4;
          break;
      }
      h /= 6;
    }

    return {
      h: h * 100,
      s: s * 100,
      l: l * 100,
    };
  }

  clamp(value) {
    if (value > 255) {
      value = 255;
    } else if (value < 0) {
      value = 0;
    }
    return value;
  }
}

class Solver {
  constructor(target, baseColor) {
    this.target = target;
    this.targetHSL = target.hsl();
    this.reusedColor = new Color(0, 0, 0);
  }

  solve() {
    const result = this.solveNarrow(this.solveWide());
    return {
      values: result.values,
      loss: result.loss,
      filter: this.css(result.values),
    };
  }

  solveWide() {
    const A = 5;
    const c = 15;
    const a = [60, 180, 18000, 600, 1.2, 1.2];

    let best = { loss: Infinity };
    for (let i = 0; best.loss > 25 && i < 3; i++) {
      const initial = [50, 20, 3750, 50, 100, 100];
      const result = this.spsa(A, a, c, initial, 1000);
      if (result.loss < best.loss) {
        best = result;
      }
    }
    return best;
  }

  solveNarrow(wide) {
    const A = wide.loss;
    const c = 2;
    const A1 = A + 1;
    const a = [0.25 * A1, 0.25 * A1, A1, 0.25 * A1, 0.2 * A1, 0.2 * A1];
    return this.spsa(A, a, c, wide.values, 500);
  }

  spsa(A, a, c, values, iters) {
    const alpha = 1;
    const gamma = 0.16666666666666666;

    let best = null;
    let bestLoss = Infinity;
    const deltas = new Array(6);
    const highArgs = new Array(6);
    const lowArgs = new Array(6);

    for (let k = 0; k < iters; k++) {
      const ck = c / Math.pow(k + 1, gamma);
      for (let i = 0; i < 6; i++) {
        deltas[i] = Math.random() > 0.5 ? 1 : -1;
        highArgs[i] = values[i] + ck * deltas[i];
        lowArgs[i] = values[i] - ck * deltas[i];
      }

      const lossDiff = this.loss(highArgs) - this.loss(lowArgs);
      for (let i = 0; i < 6; i++) {
        const g = lossDiff / (2 * ck) * deltas[i];
        const ak = a[i] / Math.pow(A + k + 1, alpha);
        values[i] = fix(values[i] - ak * g, i);
      }

      const loss = this.loss(values);
      if (loss < bestLoss) {
        best = values.slice(0);
        bestLoss = loss;
      }
    }
    return { values: best, loss: bestLoss };

    function fix(value, idx) {
      let max = 100;
      if (idx === 2 /* saturate */) {
        max = 7500;
      } else if (idx === 4 /* brightness */ || idx === 5 /* contrast */) {
        max = 200;
      }

      if (idx === 3 /* hue-rotate */) {
        if (value > max) {
          value %= max;
        } else if (value < 0) {
          value = max + value % max;
        }
      } else if (value < 0) {
        value = 0;
      } else if (value > max) {
        value = max;
      }
      return value;
    }
  }

  loss(filters) {
    // Argument is array of percentages.
    const color = this.reusedColor;
    color.set(0, 0, 0);

    color.invert(filters[0] / 100);
    color.sepia(filters[1] / 100);
    color.saturate(filters[2] / 100);
    color.hueRotate(filters[3] * 3.6);
    color.brightness(filters[4] / 100);
    color.contrast(filters[5] / 100);

    const colorHSL = color.hsl();
    return (
      Math.abs(color.r - this.target.r) +
      Math.abs(color.g - this.target.g) +
      Math.abs(color.b - this.target.b) +
      Math.abs(colorHSL.h - this.targetHSL.h) +
      Math.abs(colorHSL.s - this.targetHSL.s) +
      Math.abs(colorHSL.l - this.targetHSL.l)
    );
  }

  css(filters) {
    function fmt(idx, multiplier = 1) {
      return Math.round(filters[idx] * multiplier);
    }
    return `filter: invert(${fmt(0)}%) sepia(${fmt(1)}%) saturate(${fmt(2)}%) hue-rotate(${fmt(3, 3.6)}deg) brightness(${fmt(4)}%) contrast(${fmt(5)}%);`;
  }
}

function hexToRgb(hex) {
  // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
  const shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
  hex = hex.replace(shorthandRegex, (m, r, g, b) => {
    return r + r + g + g + b + b;
  });

  const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
  return result
    ? [
      parseInt(result[1], 16),
      parseInt(result[2], 16),
      parseInt(result[3], 16),
    ]
    : null;
}

$(document).ready(() => {
  $('button.execute').click(() => {
    const rgb = hexToRgb($('input.target').val());
    if (rgb.length !== 3) {
      alert('Invalid format!');
      return;
    }

    const color = new Color(rgb[0], rgb[1], rgb[2]);
    const solver = new Solver(color);
    const result = solver.solve();

    let lossMsg;
    if (result.loss < 1) {
      lossMsg = 'This is a perfect result.';
    } else if (result.loss < 5) {
      lossMsg = 'This is close enough.';
    } else if (result.loss < 15) {
      lossMsg = 'The color is somewhat off. Consider running it again.';
    } else {
      lossMsg = 'The color is extremely off. Run it again!';
    }

    $('.realPixel').css('background-color', color.toString());
    $('.filterPixel').attr('style', result.filter);
    $('.filterDetail').text(result.filter);
    $('.lossDetail').html(`Loss: ${result.loss.toFixed(1)}. <b>${lossMsg}</b>`);
  });
});
{% endcapture %}
{% capture css_source %}
.pixel {
  display: inline-block;
  background-color: #000;
  width: 50px;
  height: 50px;
}

.filterDetail {
  font-family: "Consolas", "Menlo", "Ubuntu Mono", monospace;
}
{% endcapture %}
{% capture html_source %}
<fieldset>
  <p><label>Target color</label> <input class="target" type="text" placeholder="target hex" value="#00a4d6" /></p>
  <button class="execute">Compute Filters</button>
</fieldset>
<p>Real pixel, color applied through CSS <code>background-color</code>:</p>
<div class="pixel realPixel"></div>

<p>Filtered pixel, color applied through CSS <code>filter</code>:</p>
<div class="pixel filterPixel"></div>

<p class="filterDetail"></p>
<p class="lossDetail"></p>
{% endcapture %}
<style media="screen" type="text/css">
  {{ css_source }}
  .functions-container {
    padding: 16px;
  }
</style>
<!-- FUNCTIONS -->
<div id="functions">
  <blockquote>CSS filter generator to convert from black to target hex color</blockquote>
  <p>The goal was to be able to create custom style sheets and allow for the coloring of icons for <a href="{{ site.url }}" target="_blank">{{ site.name }}</a>.</p>
  <p>For this code to work well the starting color needs to be black. If your icon set isn't black you can prepend "<code>brightness(0) saturate(100%)</code>" to your filter property which will first turn the icon set to black.</p>
  <p>For as long as I worked on creating this solution from multiple resources I found some had spent far longer to create this already completed solution. Only slightly modified to focus on HEX colors.</p>
  <br />
  {% include window_mac_start.html title="CSS filter Generator"%}
  <div class="functions-container">
    {{ html_source }}
  </div>
  {% include window_mac_end.html %}

  {{ js_link_source }}
  <script type="text/javascript">
    {{ js_source }}
  </script>
</div>
<!-- POST TEXT -->
<div id="post-text" itemprop="text">

  <h1 id="demo">Demo</h1>
{% highlight js %}
{{ js_source }}
{% endhighlight %}

{% highlight css %}
{{ css_source }}
{% endhighlight %}

{% highlight html %}
{{ js_link_source }}
{{ html_source }}
{% endhighlight %}


  <h1 id="usage">Usage</h1>

{% highlight js %}
let color = new Color(0, 255, 0);
let solver = new Solver(color);
let result = solver.solve();
let filterCSS = result.css;
{% endhighlight %}



  <h1 id="explanation">Explanation</h1>

  <p>We'll begin by writing some Javascript.</p>

{% highlight js %}
"use strict";

  class Color {
      constructor(r, g, b) {
          this.r = this.clamp(r);
          this.g = this.clamp(g);
          this.b = this.clamp(b);
      } toString() { return `rgb(${Math.round(this.r)}, ${Math.round(this.g)}, ${Math.round(this.b)})`; }

      hsl() { // Code taken from https://stackoverflow.com/a/9493060/2688027, licensed under CC BY-SA.
          let r = this.r / 255;
          let g = this.g / 255;
          let b = this.b / 255;
          let max = Math.max(r, g, b);
          let min = Math.min(r, g, b);
          let h, s, l = (max + min) / 2;

          if(max === min) {
              h = s = 0;
          } else {
              let d = max - min;
              s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
              switch(max) {
                  case r: h = (g - b) / d + (g < b ? 6 : 0); break;
                  case g: h = (b - r) / d + 2; break;
                  case b: h = (r - g) / d + 4; break;
              } h /= 6;
          }

          return {
              h: h * 100,
              s: s * 100,
              l: l * 100
          };
      }

      clamp(value) {
          if(value > 255) { value = 255; }
          else if(value < 0) { value = 0; }
          return value;
      }
  }

  class Solver {
      constructor(target) {
          this.target = target;
          this.targetHSL = target.hsl();
      }

      css(filters) {
          function fmt(idx, multiplier = 1) { return Math.round(filters[idx] * multiplier); }
          return `filter: invert(${fmt(0)}%) sepia(${fmt(1)}%) saturate(${fmt(2)}%) hue-rotate(${fmt(3, 3.6)}deg) brightness(${fmt(4)}%) contrast(${fmt(5)}%);`;
      }
  }
{% endhighlight %}

  <p>Explanation:</p>

  <ul>
    <li>The <code>Color</code> class represents a RGB color.

      <ul>
        <li>Its <code>toString()</code> function returns the color in a CSS <code>rgb(...)</code> color string.</li>
        <li>Its <code>hsl()</code> function returns the color, converted to <a href="https://en.wikipedia.org/wiki/HSL_and_HSV" rel="noreferrer">HSL</a>.</li>
        <li>Its <code>clamp()</code> function ensures that a given color value is within bounds (0-255).</li>
      </ul>
    </li>
    <li>The <code>Solver</code> class will attempt to solve for a target color.

      <ul>
        <li>Its <code>css()</code> function returns a given filter in a CSS filter string.</li>
      </ul>
    </li>
  </ul>

  <h2 id="imp_grayscale">Implementing <code>grayscale()</code>, <code>sepia()</code>, and <code>saturate()</code></h2>

  <p>The heart of CSS/SVG filters are <a href="https://www.w3.org/TR/filter-effects/#FilterPrimitivesOverview" rel="noreferrer">filter primitives</a>, which represent low-level modifications to an image.</p>

  <p>The filters <a href="https://www.w3.org/TR/filter-effects/#grayscaleEquivalent" rel="noreferrer"><code>grayscale()</code></a>, <a href="https://www.w3.org/TR/filter-effects/#sepiaEquivalent" rel="noreferrer"><code>sepia()</code></a>, and <a
      href="https://www.w3.org/TR/filter-effects/#saturateEquivalent" rel="noreferrer"><code>saturate()</code></a> are implemented by the filter primative <a href="https://www.w3.org/TR/filter-effects/#feColorMatrixElement"
      rel="noreferrer"><code>&lt;feColorMatrix&gt;</code></a>, which performs <a href="https://en.wikipedia.org/wiki/Matrix_multiplication" rel="noreferrer">matrix multiplication</a> between a matrix specified by the filter (often dynamically
    generated), and a matrix created from the color. Diagram:</p>

  <p><img src="https://i.stack.imgur.com/eNsON.png" alt="Matrix multiplication"></p>

  <p>There are some optimizations we can make here:</p>

  <ul>
    <li>The last element of the color matrix is and will always be <code>1</code>. There is no point of calculating or storing it.</li>
    <li>There is no point of calculating or storing the alpha/transparency value (<code>A</code>) either, since we are dealing with RGB, not RGBA.</li>
    <li><strong>Therefore, we can trim the filter matrices from 5x5 to 3x5, and the color matrix from 1x5 to 1x3</strong>. This saves a bit of work.</li>
    <li>All <code>&lt;feColorMatrix&gt;</code> filters leave columns 4 and 5 as zeroes. <strong>Therefore, we can further reduce the filter matrix to 3x3</strong>.</li>
    <li>Since the multiplication is relatively simple, there is no need to drag in <a href="http://mathjs.org/docs/datatypes/matrices.html" rel="noreferrer">complex math libraries</a> for this. We can implement the matrix multiplication algorithm
      ourselves.</li>
  </ul>

  <p>Implementation:</p>

{% highlight js %}
function multiply(matrix) {
    let newR = this.clamp(this.r * matrix[0] + this.g * matrix[1] + this.b * matrix[2]);
    let newG = this.clamp(this.r * matrix[3] + this.g * matrix[4] + this.b * matrix[5]);
    let newB = this.clamp(this.r * matrix[6] + this.g * matrix[7] + this.b * matrix[8]);
    this.r = newR; this.g = newG; this.b = newB;
}
{% endhighlight %}

  <p>(We use temporary variables to hold the results of each row multiplication, because we do not want changes to <code>this.r</code>, etc. affecting subsequent calculations.)</p>

  <p>Now that we have implemented <code>&lt;feColorMatrix&gt;</code>, we can implement <code>grayscale()</code>, <code>sepia()</code>, and <code>saturate()</code>, which simply invoke it with a given filter matrix:</p>

{% highlight js %}
function grayscale(value = 1) {
    this.multiply([
        0.2126 + 0.7874 * (1 - value), 0.7152 - 0.7152 * (1 - value), 0.0722 - 0.0722 * (1 - value),
        0.2126 - 0.2126 * (1 - value), 0.7152 + 0.2848 * (1 - value), 0.0722 - 0.0722 * (1 - value),
        0.2126 - 0.2126 * (1 - value), 0.7152 - 0.7152 * (1 - value), 0.0722 + 0.9278 * (1 - value)
    ]);
}

function sepia(value = 1) {
    this.multiply([
        0.393 + 0.607 * (1 - value), 0.769 - 0.769 * (1 - value), 0.189 - 0.189 * (1 - value),
        0.349 - 0.349 * (1 - value), 0.686 + 0.314 * (1 - value), 0.168 - 0.168 * (1 - value),
        0.272 - 0.272 * (1 - value), 0.534 - 0.534 * (1 - value), 0.131 + 0.869 * (1 - value)
    ]);
}

function saturate(value = 1) {
    this.multiply([
        0.213 + 0.787 * value, 0.715 - 0.715 * value, 0.072 - 0.072 * value,
        0.213 - 0.213 * value, 0.715 + 0.285 * value, 0.072 - 0.072 * value,
        0.213 - 0.213 * value, 0.715 - 0.715 * value, 0.072 + 0.928 * value
    ]);
}
{% endhighlight %}

  <h2 id="imp_hue">Implementing <code>hue-rotate()</code></h2>

  <p>The <a href="https://www.w3.org/TR/filter-effects/#element-attrdef-fecolormatrix-values" rel="noreferrer"><code>hue-rotate()</code></a> filter is implemented by <a href="https://www.w3.org/TR/filter-effects/#feColorMatrixElement"
      rel="noreferrer"><code>&lt;feColorMatrix type="hueRotate" /&gt;</code></a>.</p>

  <p>The filter matrix is calculated as shown below:</p>

  <p><a href="https://i.stack.imgur.com/CBlfP.png" rel="noreferrer"><img src="https://i.stack.imgur.com/CBlfP.png" alt=""></a></p>

  <p>For instance, element <em>a<sub>00</sub></em> would be calculated like so:</p>

  <p><img src="https://i.stack.imgur.com/cXnSJ.png" alt=""></p>

  <p>Some notes:</p>

  <ul>
    <li>The angle of rotation is given in degrees. It must be converted to radians before passed to <code>Math.sin()</code> or <code>Math.cos()</code>.</li>
    <li><code>Math.sin(angle)</code> and <code>Math.cos(angle)</code> should be computed once and then cached.</li>
  </ul>

  <p>Implementation:</p>

{% highlight js %}
function hueRotate(angle = 0) {
    angle = angle / 180 * Math.PI;
    let sin = Math.sin(angle);
    let cos = Math.cos(angle);

    this.multiply([
        0.213 + cos * 0.787 - sin * 0.213, 0.715 - cos * 0.715 - sin * 0.715, 0.072 - cos * 0.072 + sin * 0.928,
        0.213 - cos * 0.213 + sin * 0.143, 0.715 + cos * 0.285 + sin * 0.140, 0.072 - cos * 0.072 - sin * 0.283,
        0.213 - cos * 0.213 - sin * 0.787, 0.715 - cos * 0.715 + sin * 0.715, 0.072 + cos * 0.928 + sin * 0.072
    ]);
}
{% endhighlight %}

  <h2 id="imp_brightness">Implementing <code>brightness()</code> and <code>contrast()</code></h2>

  <p>The <a href="https://www.w3.org/TR/filter-effects/#brightnessEquivalent" rel="noreferrer"><code>brightness()</code></a> and <a href="https://www.w3.org/TR/filter-effects/#contrastEquivalent" rel="noreferrer"><code>contrast()</code></a> filters
    are implemented by <a href="https://www.w3.org/TR/filter-effects/#feComponentTransferElement" rel="noreferrer"><code>&lt;feComponentTransfer&gt;</code></a> with <a
      href="https://www.w3.org/TR/filter-effects/#element-attrdef-fecomponenttransfer-type" rel="noreferrer"><code>&lt;feFuncX type="linear" /&gt;</code></a>.</p>

  <p>Each <code>&lt;feFuncX type="linear" /&gt;</code> element accepts a <em>slope</em> and <em>intercept</em> attribute. It then calculates each new color value through a simple formula:</p>

{% highlight js %}
value = slope * value + intercept
{% endhighlight %}

  <p>This is easy to implement:</p>

{% highlight js %}
function linear(slope = 1, intercept = 0) {
    this.r = this.clamp(this.r * slope + intercept * 255);
    this.g = this.clamp(this.g * slope + intercept * 255);
    this.b = this.clamp(this.b * slope + intercept * 255);
}
{% endhighlight %}

  <p>Once this is implemented, <code>brightness()</code> and <code>contrast()</code> can be implemented as well:</p>

{% highlight js %}
function brightness(value = 1) { this.linear(value); }
  function contrast(value = 1) { this.linear(value, -(0.5 * value) + 0.5); }
{% endhighlight %}

  <h2 id="imp_invert">Implementing <code>invert()</code></h2>

  <p>The <a href="https://www.w3.org/TR/filter-effects/#invertEquivalent" rel="noreferrer"><code>invert()</code></a> filter is implemented by <a href="https://www.w3.org/TR/filter-effects/#feComponentTransferElement"
      rel="noreferrer"><code>&lt;feComponentTransfer&gt;</code></a> with <a href="https://www.w3.org/TR/filter-effects/#element-attrdef-fecomponenttransfer-type" rel="noreferrer"><code>&lt;feFuncX type="table" /&gt;</code></a>.</p>

  <p>The spec states:</p>

  <blockquote>
    <p>In the following, <em>C</em> is the initial component and <em>C'</em> is the remapped component; both in the closed interval [0,1].</p>

    <p>For "table", the function is defined by linear interpolation between values given in the attribute <em>tableValues</em>. The table has <em>n</em> + 1 values (i.e., v<sub>0</sub> to v<sub>n</sub>) specifying the start and end values for
      <em>n</em> evenly sized interpolation regions. Interpolations use the following formula:</p>

    <p>For a value <em>C</em> find <em>k</em> such that:</p>

    <p>k / n ≤ C &lt; (k + 1) / n</p>

    <p>The result <em>C'</em> is given by:</p>

    <p>C' = v<sub>k</sub> + (C - k / n) * n * (v<sub>k+1</sub> - v<sub>k</sub>)</p>
  </blockquote>

  <p>An explanation of this formula:</p>

  <ul>
    <li>The <code>invert()</code> filter defines this table: [value, 1 - value]. This is <em>tableValues</em> or <em>v</em>.</li>
    <li>The formula defines <em>n</em>, such that <em>n</em> + 1 is the table's length. Since the table's length is 2, <em>n</em> = 1.</li>
    <li>The formula defines <em>k</em>, with <em>k</em> and <em>k</em> + 1 being indexes of the table. Since the table has 2 elements, <em>k</em> = 0.</li>
  </ul>

  <p>Thus, we can simplify the formula to:</p>

  <blockquote>
    <p>C' = v<sub>0</sub> + C * (v<sub>1</sub> - v<sub>0</sub>)</p>
  </blockquote>

  <p>Inlining the table's values, we are left with:</p>

  <blockquote>
    <p>C' = value + C * (1 - value - value)</p>
  </blockquote>

  <p>One more simplification:</p>

  <blockquote>
    <p>C' = value + C * (1 - 2 * value)</p>
  </blockquote>

  <p>The spec defines <em>C</em> and <em>C'</em> to be RGB values, within the bounds 0-1 (as opposed to 0-255). As a result, we must scale down the values before computation, and scale them back up after.</p>

  <p>Thus we arrive at our implementation:</p>

{% highlight js %}
function invert(value = 1) {
    this.r = this.clamp((value + (this.r / 255) * (1 - 2 * value)) * 255);
    this.g = this.clamp((value + (this.g / 255) * (1 - 2 * value)) * 255);
    this.b = this.clamp((value + (this.b / 255) * (1 - 2 * value)) * 255);
}
{% endhighlight %}

  <h2 id="imp+spsa">Implementing SPSA</h2>

  <p>First, we must define a <a href="https://en.wikipedia.org/wiki/Loss_function" rel="noreferrer">loss function</a>, that returns the difference between the color produced by a filter combination, and the target color. If the filters are perfect,
    the loss function should return 0.</p>

  <p>We will measure color difference as the sum of two metrics:</p>

  <ul>
    <li>RGB difference, because the goal is to produce the closest RGB value.</li>
    <li>HSL difference, because many HSL values correspond to filters (e.g. hue roughly correlates with <code>hue-rotate()</code>, saturation correlates with <code>saturate()</code>, etc.) This guides the algorithm.</li>
  </ul>

  <p>The loss function will take one argument – an array of filter percentages.</p>

  <p>We will use the following filter order:</p>

{% highlight css %}
filter: invert(a%) sepia(b%) saturate(c%) hue-rotate(θdeg) brightness(e%) contrast(f%);
{% endhighlight %}

  <p>Implementation:</p>

{% highlight js %}
function loss(filters) {
    let color = new Color(0, 0, 0);
    color.invert(filters[0] / 100);
    color.sepia(filters[1] / 100);
    color.saturate(filters[2] / 100);
    color.hueRotate(filters[3] * 3.6);
    color.brightness(filters[4] / 100);
    color.contrast(filters[5] / 100);

    let colorHSL = color.hsl();
    return Math.abs(color.r - this.target.r)
        + Math.abs(color.g - this.target.g)
        + Math.abs(color.b - this.target.b)
        + Math.abs(colorHSL.h - this.targetHSL.h)
        + Math.abs(colorHSL.s - this.targetHSL.s)
        + Math.abs(colorHSL.l - this.targetHSL.l);
}
{% endhighlight %}

  <p>We will try to minimize the loss function, such that:</p>

{% highlight js %}
loss([a, b, c, d, e, f]) = 0
{% endhighlight %}

  <p>The <a href="https://en.wikipedia.org/wiki/Simultaneous_perturbation_stochastic_approximation" rel="noreferrer">SPSA</a> algorithm (<a href="http://www.jhuapl.edu/SPSA/" rel="noreferrer">website</a>, <a
      href="http://chessprogramming.wikispaces.com/SPSA" rel="noreferrer">more info</a>, <a href="http://www.jhuapl.edu/SPSA/PDF-SPSA/Spall_An_Overview.PDF" rel="noreferrer">paper</a>, <a
      href="http://www.jhuapl.edu/SPSA/PDF-SPSA/Spall_Implementation_of_the_Simultaneous.PDF" rel="noreferrer">implementation paper</a>, <a href="http://www.jhuapl.edu/spsa/PDF-SPSA/MatlabCode-TXT.txt" rel="noreferrer">reference code</a>) is very
    good at this. It was designed to optimize complex systems with local minima, noisy/nonlinear/ multivariate loss functions, etc. <a href="https://github.com/zamar/spsa" rel="noreferrer">It has been used to tune chess engines</a>. And unlike many
    other algorithms, the papers describing it are actually comprehensible (albeit with great effort).</p>

  <p>Implementation:</p>

{% highlight js %}
function spsa(A, a, c, values, iters) {
    const alpha = 1;
    const gamma = 0.16666666666666666;

    let best = null;
    let bestLoss = Infinity;
    let deltas = new Array(6);
    let highArgs = new Array(6);
    let lowArgs = new Array(6);

    for(let k = 0; k < iters; k++) {
        let ck = c / Math.pow(k + 1, gamma);
        for(let i = 0; i < 6; i++) {
            deltas[i] = Math.random() > 0.5 ? 1 : -1;
            highArgs[i] = values[i] + ck * deltas[i];
            lowArgs[i]  = values[i] - ck * deltas[i];
        }

        let lossDiff = this.loss(highArgs) - this.loss(lowArgs);
        for(let i = 0; i < 6; i++) {
            let g = lossDiff / (2 * ck) * deltas[i];
            let ak = a[i] / Math.pow(A + k + 1, alpha);
            values[i] = fix(values[i] - ak * g, i);
        }

        let loss = this.loss(values);
        if(loss < bestLoss) { best = values.slice(0); bestLoss = loss; }
    } return { values: best, loss: bestLoss };

    function fix(value, idx) {
        let max = 100;
        if(idx === 2 /* saturate */) { max = 7500; }
        else if(idx === 4 /* brightness */ || idx === 5 /* contrast */) { max = 200; }

        if(idx === 3 /* hue-rotate */) {
            if(value > max) { value = value % max; }
            else if(value < 0) { value = max + value % max; }
        } else if(value < 0) { value = 0; }
        else if(value > max) { value = max; }
        return value;
    }
}
{% endhighlight %}

  <p>I made some modifications/optimizations to SPSA:</p>

  <ul>
    <li>Using the best result produced, instead of the last.</li>
    <li>Reusing all arrays (<code>deltas</code>, <code>highArgs</code>, <code>lowArgs</code>), instead of recreating them with each iteration.</li>
    <li>Using an array of values for <em>a</em>, instead of a single value. This is because all of the filters are different, and thus they should move/converge at different speeds.</li>
    <li>Running a <code>fix</code> function after each iteration. It clamps all values to between 0% and 100%, except <code>saturate</code> (where the maximum is 7500%), <code>brightness</code> and <code>contrast</code> (where the maximum is 200%),
      and <code>hueRotate</code> (where the values are wrapped around instead of clamped).</li>
  </ul>

  <p>I use SPSA in a two-stage process:</p>

  <ol>
    <li>The "wide" stage, that tries to "explore" the search space. It will make limited retries of SPSA if the results are not satisfactory. </li>
    <li>The "narrow" stage, that takes the best result from the wide stage and attempts to "refine" it. It uses dynamic values for <em>A</em> and <em>a</em>.</li>
  </ol>

  <p>Implementation:</p>

{% highlight js %}
function solve() {
    let result = this.solveNarrow(this.solveWide());
    return {
        values: result.values,
        loss: result.loss,
        filter: this.css(result.values)
    };
}

function solveWide() {
    const A = 5;
    const c = 15;
    const a = [60, 180, 18000, 600, 1.2, 1.2];

    let best = { loss: Infinity };
    for(let i = 0; best.loss > 25 && i < 3; i++) {
        let initial = [50, 20, 3750, 50, 100, 100];
        let result = this.spsa(A, a, c, initial, 1000);
        if(result.loss < best.loss) { best = result; }
    } return best;
}

function solveNarrow(wide) {
    const A = wide.loss;
    const c = 2;
    const A1 = A + 1;
    const a = [0.25 * A1, 0.25 * A1, A1, 0.25 * A1, 0.2 * A1, 0.2 * A1];
    return this.spsa(A, a, c, wide.values, 500);
}
{% endhighlight %}

  <h2 id="tuning_spsa">Tuning SPSA</h2>

  {% include alert.html type='warning' title='Warning' msg='Warning: Do not mess with the SPSA code, especially with its constants, unless you are <em>sure</em> you know what you are doing.' %}

  <p>The important constants are <em>A</em>, <em>a</em>, <em>c</em>, the initial values, the retry thresholds, the values of <code>max</code> in <code>fix()</code>, and the number of iterations of each stage. All of these values were carefully tuned
    to produce good results, and randomly screwing with them will almost definitely reduce the usefulness of the algorithm.</p>

  <p>If you insist on altering it, you must measure before you "optimize".</p>

  <p>First, apply this patch:</p>

{% highlight js %}
diff --git a/code.js b/code.js
index 346f3af..6868483 100644
--- a/code.js
+++ b/code.js
@@ -1,4 +1,5 @@
 "use strict";
+const LOG_DEBUG = process.argv.includes("--debug");

 class Color {
     constructor(r, g, b) { this.set(r, g, b); }
@@ -111,6 +112,7 @@ class Solver {

     solve() {
         let result = this.solveNarrow(this.solveWide());
+        if(LOG_DEBUG) { console.log("-----------"); }
         return {
             values: result.values,
             loss: result.loss,
@@ -149,6 +158,8 @@ class Solver {
         let highArgs = new Array(6);
         let lowArgs = new Array(6);

+        if(LOG_DEBUG) { console.log(`\nRunning SPSA for ${iters} iterations. α=${alpha} γ=${gamma} A=${A} a=${a} c=${c} θ=${values}`); }
+
         for(let k = 0; k < iters; k++) {
             let ck = c / Math.pow(k + 1, gamma);
             for(let i = 0; i < 6; i++) {
@@ -166,6 +177,8 @@ class Solver {

             let loss = this.loss(values);
             if(loss < bestLoss) { best = values.slice(0); bestLoss = loss; }
+
+            if(LOG_DEBUG && k % 10 === 0) { console.log(`Iteration ${k + 1}. Loss: ${loss.toFixed(3)} ${this.css(values)}`); }
         } return { values: best, loss: bestLoss };

         function fix(value, idx) {
@@ -206,4 +219,21 @@ class Solver {
         function fmt(idx, multiplier = 1) { return Math.round(filters[idx] * multiplier); }
         return `filter: invert(${fmt(0)}%) sepia(${fmt(1)}%) saturate(${fmt(2)}%) hue-rotate(${fmt(3, 3.6)}deg) brightness(${fmt(4)}%) contrast(${fmt(5)}%);`;
     }
 }
+const TEST_ITERATIONS = 2000;
+let color = new Color(0, 0, 0);
+let sumLoss = 0;
+let start = Date.now();
+function randRGB() { return Math.floor(Math.random() * 256); }
+
+for(let i = 0; i < TEST_ITERATIONS; i++) {
+    color.set(randRGB(), randRGB(), randRGB());
+    if(LOG_DEBUG) { console.log("Color: " + color.toString()); }
+
+    let solver = new Solver(color);
+    let result = solver.solve();
+    sumLoss += result.loss;
+}
+console.log("Average loss: " + sumLoss / TEST_ITERATIONS);
+console.log("Average time: " + (Date.now() - start) / TEST_ITERATIONS + "ms");
{% endhighlight %}

  <p>Then run the code in Node.js. After quite some time, the result should be something like this:</p>

{% highlight sh %}
Average loss: 3.4768521401985275
Average time: 11.4915ms
{% endhighlight %}

  <p>Now tune the constants to your heart's content.</p>

  <p>Some tips:</p>

  <ul>
    <li>The average loss should be around 4. If it is greater than 4, it is producing results that are too far off, and you should tune for accuracy. If it is less than 4, it is wasting time, and you should reduce the number of iterations.</li>
    <li>If you increase/decrease the number of iterations, adjust <em>A</em> appropriately.</li>
    <li>If you increase/decrease <em>A</em>, adjust <em>a</em> appropriately.</li>
    <li>Use the <code>--debug</code> flag if you want to see the result of each iteration.</li>
  </ul>

  <h2 id="tldr">TL;DR</h2>

  <p><img src="https://imgs.xkcd.com/comics/machine_learning.png" alt=""></p>
</div>
