---
layout: default
title: "Map"
active_title: "Map"
map:
  - title: "Home"
    url: ""
  - title: "Posts"
    url: "/posts"
    sub:
    - title: "Archives"
      url: "/archives"
    - title: "Categories"
      url: "/categories"
    - title: "Tags"
      url: "/tags"
  - title: "Tweets"
    url: "/tweets"
  - title: "Gallery"
    url: "/gallery"
    sub:
      - title: "Archives"
        url: "/archives"
  - title: "Creative"
    url: "/creative"
  - title: "Cheats"
    url: "/cheats"
  - title: "Blogroll"
    url: "/blogroll"
  - title: "About"
    url: "/about"
  - title: "Samples"
    url: "/sample"
  - title: "Search"
    url: "/search"
---
<style type="text/css">
  .left,
  .right {
    width: 50%;
  }
  .right {
    float: right;
  }
  .see-through {
    float: right;
    display: block;
    max-width: 200px;
  }
</style>
<div class="map-content">

  <div class="right">
    <img class="see-through" src="{{ site.url }}/assets/images/see-through.png" />
  </div>

  <div class="left">
    <ul>
    {% for item in page.map %}
      <li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
      {% if item.sub.size > 0 %}
        <ul>
        {% for subitem in item.sub %}
          <li><a href="{{ site.url }}{{ item.url }}{{ subitem.url }}">{{ subitem.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

</div>
