---
layout: default
active_title: 'Albums'
---
	<!-- {{ content }} -->
	{% assign all_media = '' | split: '/' %}
	{% for item in page.media reversed %}
		{% assign this_item = '' | split: '/' %}

		{% comment %}{% assign media_url = site.url | append: '/gallery/detail/?album=' | append: page.unique | append: '&idx=' | append: forloop.index | append: "&type=" | append: item.type %}{% endcomment %}

		{% capture this_media_url %}{% include gallery_media_url.html item=item %}{% endcapture %}
		{% capture this_thumbnail_url %}{% include gallery_media_thumbnail_url.html item=item %}{% endcapture %}

		{% assign this_idx = page.media.size | minus: forloop.index | plus: 1 %}
		{% assign this_item = this_item | push: this_idx %}
		{% assign date_formatted = item.date | date: "%b %d, %Y" %}
    {% assign this_item = this_item | push: date_formatted %}
		{% assign this_item = this_item | push: this_thumbnail_url %}
		{% assign this_item = this_item | push: this_media_url %}
		{% assign this_item = this_item | push: item.type %}
		{% assign this_item = this_item | push: item.format %}

		{% assign all_media = all_media | push: this_item %}
	{% endfor %}
	{% assign all_media_container = '' | split: '/' %}
	{% assign all_media_container = all_media_container | push: all_media %}

	{% include grid_image_overlay_camera_list.html sectionid="album-meida" list=all_media_container cols=3 %}
	<br />
	{% include button_back.html %}

	{% include gallery_lightbox.html %}
