---
layout: null
---
<!DOCTYPE html>
<html lang="en-US">
{% include layout_prefix.html %}
<head>
  {% include layout_head.html %}

  {% include layout_link_css_pre.html %}
  {% include layout_load_css_pre.html %}

  {% include layout_link_js_pre.html %}
  {% include layout_load_js_pre.html %}

  {%if page.on_load.src.size > 0 %}
  <script src="{{ page.on_load.src }}"></script>
  {% elsif page.on_load.def.size > 0 %}
  <script>
  {{ page.on_load.def }}
  </script>
  {% endif %}
  <!--
    on_load:
      call: "javascript:on_load();"
      src: "/assets/js/on_load.js"
      #def: "function on_load() { console.log('loaded'); };"
    -->
</head>

<body class="hack {{ site.ui.theme }} main container"{% if page.on_load.call.size > 0 %} onload="loadThemeSet();{{ page.on_load.call }}"{% endif %}>

  {% unless page.disable_nav == true %}
  {% include layout_nav.html %}
  {% endunless %}

  <!-- BEGIN PAGE CONTENT -->
	<main>
		<!-- BEGIN PAGE CONTENT [BASE] -->
		{{ content }}
		<!-- END PAGE CONTENT [BASE] -->
  </main>
  <!-- END PAGE CONTENT -->
  <br />
  {% include layout_footer.html %}

  {% include layout_end.html %}
</body>
<script type="text/javascript">
  function toggleTheme() {
    $('body').toggleClass('dark').toggleClass('light');
    if($('body').hasClass('dark')) {
      localStorage.setItem('theme','dark');
    } else {
      localStorage.setItem('theme','light');
    }
  }
</script>
<script>
  $('#theme-toggle').click(function() {
    toggleTheme();
  });
</script>
<script>
  function loadTheme() {
    var themeSet = localStorage.getItem('theme');
    if (themeSet == 'dark') {
      $('body').removeClass('light').addClass('dark');
    } else {
      $('body').removeClass('dark').addClass('light');
    }
  }
</script>
</html>
