---
layout: tattoo_side
---
{% for post in site.posts limit: 3 %}
<div class="tattoo-row">
  <div class="tattoo-col">
    <header class="blog-header">
      <h2>{{ post.title }}</h2>
      <p>{{ post.category }}<span class="date">&nbsp;{{ post.date | date: "%b %d, %Y %X" }}</span></p>
    </header>
    <img src="{{ site.url }}{{ site.path.images }}/hero/low/{{ post.hero.url }}" style="width: 100%; display: block;">
    <p>{% include post_preview.html html=post.content limit=300 %}</p>
    <div class="post-btm-bar">
      <button class="likes"><i class="fa fa-tags"></i> {{ post.category }}</button>
      <!-- <button class="replies">View <span class="count">Detail</span></button> -->
      <a class="replies" href="{{ post.url }}">View Detail</a>
    </div>
  </div>
</div>
{% endfor %}
